In [1]:
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from catboost import CatBoostRegressor
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss
from numpy import sort
from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV

In [2]:
#DataSet Limpio con columnas no utiles segun analisis droppeadas.

oportunidades = pd.read_csv("Train_TP2_Datos_2020-2C.csv")
oportunidades['Account_Created_Date'] = pd.to_datetime(oportunidades['Account_Created_Date'])
oportunidades['Opportunity_Created_Date'] = pd.to_datetime(oportunidades['Opportunity_Created_Date'])
oportunidades['Quote_Expiry_Date'] = pd.to_datetime(oportunidades['Quote_Expiry_Date'])
oportunidades['Last_Modified_Date'] = pd.to_datetime(oportunidades['Last_Modified_Date'])
oportunidades['Planned_Delivery_Start_Date'] = pd.to_datetime(oportunidades['Planned_Delivery_Start_Date'])
oportunidades['Planned_Delivery_End_Date'] = pd.to_datetime(oportunidades['Planned_Delivery_End_Date'])
oportunidades_japon = (oportunidades.loc[oportunidades['Region'] == 'Japan'])
oportunidades = (oportunidades.loc[oportunidades['Region'] != 'Japan'])
#oportunidades_japon = oportunidades_japon.iloc[:,:3]
oportunidades_japon['Territory'] = oportunidades_japon['Territory'].replace({'None':'Japan'})
oportunidades = pd.concat([oportunidades, oportunidades_japon], axis=0)
oportunidades['Region'] = oportunidades['Region'].replace({'Japan':'APAC', 'Middle East':'EMEA'})
oportunidades[oportunidades.select_dtypes(['object']).columns] = oportunidades.select_dtypes(['object']).apply(lambda x: x.astype('category'))
oportunidades = oportunidades.loc[oportunidades['Territory'] != 'None']
oportunidades['Conversion_Moneda'] = oportunidades['ASP'] / oportunidades['ASP_(converted)']
oportunidades['Total_Amount'] = oportunidades['Total_Amount'] / oportunidades['Conversion_Moneda']
oportunidades['Total_Taxable_Amount'] = oportunidades['Total_Taxable_Amount'] / oportunidades['Conversion_Moneda']
oportunidades = oportunidades[(oportunidades['Stage'] == 'Closed Won') | (oportunidades['Stage'] == 'Closed Lost')]
oportunidades['Stage'] = oportunidades['Stage'].replace({'Closed Won':1, 'Closed Lost':0})
oportunidades = oportunidades.drop(['Pricing, Delivery_Terms_Quote_Appr'\
    ,'Pricing, Delivery_Terms_Approved', 'Bureaucratic_Code_0_Approval'\
        , 'Bureaucratic_Code_0_Approved','Submitted_for_Approval', \
    'Billing_Country','Account_Created_Date', 'Opportunity_Name','Delivery_Year',\
   'Actual_Delivery_Date','Prod_Category_A','Product_Category_B','Delivery_Quarter','Month',\
   'Planned_Delivery_End_Date','Planned_Delivery_Start_Date','ASP_(converted)_Currency','ASP_Currency',\
   'ASP','ASP_(converted)', 'Sales_Contract_No', 'Bureaucratic_Code', 'Opportunity_Created_Date', 'Brand',\
   'Product_Type','Size','Price','Currency','Last_Activity','Quote_Expiry_Date','Last_Modified_Date','Last_Modified_By','ID',\
   'Delivery_Terms','Conversion_Moneda', 'Total_Taxable_Amount_Currency', 'Quote_Type'], axis = 'columns')
oportunidades = oportunidades.dropna()
oportunidades

,Region,Territory,Source,Account_Name,Opportunity_ID,Account_Owner,Opportunity_Owner,Account_Type,Opportunity_Type,Product_Family,Product_Name,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount,Stage
2,Americas,NW America,Source_7,Account_Name_1794,2,Person_Name_64,Person_Name_8,Account_Type_5,Opportunity_Type_1,Product_Family_81,Product_Name_91,0,USD,8.386560e+04,8.386560e+04,1
3,Americas,NW America,Source_11,Account_Name_1201,3,Person_Name_8,Person_Name_8,Account_Type_5,Opportunity_Type_19,Product_Family_209,Product_Name_432,14,USD,7.421882e+06,7.421882e+06,0
4,Americas,NW America,Source_11,Account_Name_1201,4,Person_Name_8,Person_Name_8,Account_Type_5,Opportunity_Type_19,Product_Family_209,Product_Name_432,25,USD,1.335719e+07,1.335719e+07,0
5,Americas,NW America,Source_11,Account_Name_1201,5,Person_Name_8,Person_Name_8,Account_Type_5,Opportunity_Type_19,Product_Family_209,Product_Name_432,28,USD,1.483828e+07,1.483828e+07,0
6,Americas,NW America,Source_11,Account_Name_1201,6,Person_Name_8,Person_Name_8,Account_Type_5,Opportunity_Type_19,Product_Family_164,Product_Name_308,7,USD,2.659495e+06,2.659495e+06,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16922,APAC,Japan,Source_7,Account_Name_1294,12785,Person_Name_66,Person_Name_66,Account_Type_2,Opportunity_Type_1,Product_Family_243,Product_Name_508,0,USD,1.320000e+04,6.422401e+06,1
16923,APAC,Japan,Source_3,Account_Name_1074,12786,Person_Name_61,Person_Name_66,Account_Type_0,Opportunity_Type_1,Product_Family_77,Product_Name_100,0,JPY,1.096295e+05,1.096295e+05,1
16924,APAC,Japan,Source_3,Account_Name_1074,12787,Person_Name_61,Person_Name_66,Account_Type_0,Opportunity_Type_1,Product_Family_73,Product_Name_85,0,JPY,1.075213e+05,1.075213e+05,1
16925,APAC,Japan,Source_11,Account_Name_1522,12788,Person_Name_50,Person_Name_30,Account_Type_0,Opportunity_Type_10,Product_Family_77,Product_Name_100,0,JPY,1.576650e+05,1.576650e+05,1
16926,APAC,Japan,Source_11,Account_Name_1522,12789,Person_Name_50,Person_Name_30,Account_Type_0,Opportunity_Type_10,Product_Family_111,Product_Name_153,0,JPY,1.246072e+05,1.246072e+05,1

In [3]:
# Encodeos necesarios:
#----------------------------------------------------------------------------------------------------
# Total_Amount_Currency(AUD y JPY)
# Region (APAC)
# Territorio (Mean Stage)
# Dif_Amount(TAm-TTAm)
# TRF > 0
# Product_Family(En base a ranking o mean de Stage)
# Product_Name(En base a ranking o mean de Stage)
# Total Amount y Total Tax hay que dropearlos despues del Dif_Amount
# Account Name (Ranking o Mean Stage)
# Opportunity Owner (Ranking o Mean Stage)
# Account Owner (Ranking o Mean Stage)
# Account Type (Ranking o Mean Stage)
# Opportunity Type (Ranking o Mean Stage)
# Source (Decidir el encodeo)
#---------------------------------------------------------------------------------------------------

In [4]:
# Total_Amount_Currency(AUD y JPY)
# Region (APAC)

oportunidades['Currency_Es_JPY_O_AUD'] = ((oportunidades['Total_Amount_Currency'] == 'AUD') | \
                                  (oportunidades['Total_Amount_Currency'] == 'JPY')).replace({True:1,False:0})
oportunidades['Region_Es_APAC'] = (oportunidades['Region'] == 'APAC').replace({True:1,False:0})
oportunidades = oportunidades.drop(columns=['Region','Total_Amount_Currency'])

In [5]:
# Territorio (Mean Stage)

gby_terr = oportunidades.groupby('Territory').agg({'Stage':'mean'})
gby_terr['Stage'] = gby_terr['Stage'].replace({np.nan:(gby_terr['Stage'].mean())})
terrs_sorted = gby_terr.sort_values(by='Stage')
terrs_sorted['Stage'] = np.log(terrs_sorted['Stage']*(2**(terrs_sorted['Stage']))+0.3)
terrs_sorted = terrs_sorted.reset_index()
terrs_sorted.columns = ['Territory', 'Encoding_Territory']
oportunidades = oportunidades.merge(terrs_sorted, on='Territory')
oportunidades = oportunidades.drop(columns=['Territory'])

In [6]:
# Dif_Amount(TAm-TTAm)

amounts = oportunidades.groupby('Opportunity_ID').agg({'Total_Amount':'sum','Total_Taxable_Amount':'mean'})
amounts['Diferencia_Amounts'] = amounts['Total_Amount']-amounts['Total_Taxable_Amount']
amounts = amounts.drop(columns = ['Total_Amount','Total_Taxable_Amount'])
amounts = amounts.reset_index()
oportunidades = oportunidades.merge(amounts, on='Opportunity_ID')
oportunidades = oportunidades.drop(columns = ['Total_Amount','Total_Taxable_Amount'])

In [7]:
# TRF > 0

trf = oportunidades.groupby('Opportunity_ID').agg({'TRF':'sum'})
trf['TRF_Mayor_A_0'] = trf['TRF']>0
trf = trf.drop(columns=['TRF'])
trf = trf.reset_index()
oportunidades = oportunidades.merge(trf, on='Opportunity_ID')
oportunidades = oportunidades.drop(columns=['TRF'])
oportunidades['TRF_Mayor_A_0'] = oportunidades['TRF_Mayor_A_0'].replace({True:1,False:0})

In [8]:
# Product_Family(Mean Stage)

gby_prod_fam = oportunidades.groupby('Product_Family').agg({'Stage':'mean'})
gby_prod_fam['Stage'] = gby_prod_fam['Stage'].replace({np.nan:(gby_prod_fam['Stage'].mean())})
p_fam_sorted = gby_prod_fam.sort_values(by='Stage')
p_fam_sorted['Stage'] = np.sin(p_fam_sorted['Stage']*3+0.5)
p_fam_sorted = p_fam_sorted.reset_index()
p_fam_sorted.columns = ['Product_Family', 'Encoding_Prod_Family']
oportunidades = oportunidades.merge(p_fam_sorted, on='Product_Family')
oportunidades = oportunidades.drop(columns=['Product_Family'])

In [9]:
# Product_Name(En base a ranking)

gby_prod_name = oportunidades.groupby('Product_Name').agg({'Stage':'mean'})
gby_prod_name['Stage'] = gby_prod_name['Stage'].replace({np.nan:(gby_prod_name['Stage'].mean())})
p_name_sorted = gby_prod_name.sort_values(by='Stage')
p_name_sorted = p_name_sorted.reset_index()
p_name_sorted = p_name_sorted.reset_index()
p_name_sorted = p_name_sorted.drop(columns=['Stage'])
p_name_sorted.columns = ['Encoding_Prod_Name', 'Product_Name']
p_name_sorted['Encoding_Prod_Name'] = ((p_name_sorted['Encoding_Prod_Name']/p_name_sorted['Encoding_Prod_Name'].max())+1)**(p_name_sorted['Encoding_Prod_Name'])
oportunidades = oportunidades.merge(p_name_sorted, on='Product_Name')
oportunidades = oportunidades.drop(columns=['Product_Name'])

In [10]:
# Account Name (Mean Stage)
gby_acc_name = oportunidades.groupby('Account_Name').agg({'Stage':'mean'})
gby_acc_name['Stage'] = gby_acc_name['Stage'].replace({np.nan:(gby_acc_name['Stage'].mean())})
acc_name_sorted = gby_acc_name.sort_values(by='Stage')
acc_name_sorted = acc_name_sorted.reset_index()
acc_name_sorted.columns = ['Account_Name', 'Encoding_Account_Name']
oportunidades = oportunidades.merge(acc_name_sorted, on='Account_Name')
oportunidades = oportunidades.drop(columns=['Account_Name'])

In [11]:
# Opportunity Owner (Ranking)

gby_op_ow = oportunidades.groupby('Opportunity_Owner').agg({'Stage':'mean'})
gby_op_ow['Stage'] = gby_op_ow['Stage'].replace({np.nan:(gby_op_ow['Stage'].mean())})
op_ow_sorted = gby_op_ow.sort_values(by='Stage')
op_ow_sorted = op_ow_sorted.reset_index()
op_ow_sorted = op_ow_sorted.reset_index()
op_ow_sorted = op_ow_sorted.drop(columns=['Stage'])
op_ow_sorted.columns = ['Encoding_Opportunity_Owner', 'Opportunity_Owner']
oportunidades = oportunidades.merge(op_ow_sorted, on='Opportunity_Owner')
oportunidades = oportunidades.drop(columns=['Opportunity_Owner'])

In [12]:
# Account Owner (Mean Stage)

gby_acc_ow = oportunidades.groupby('Account_Owner').agg({'Stage':'mean'})
gby_acc_ow['Stage'] = gby_acc_ow['Stage'].replace({np.nan:(gby_acc_ow['Stage'].mean())})
acc_ow_sorted = gby_acc_ow.sort_values(by='Stage')
acc_ow_sorted = acc_ow_sorted.reset_index()
acc_ow_sorted.columns = ['Account_Owner', 'Encoding_Account_Owner']
acc_ow_sorted['Encoding_Account_Owner'] = 1/np.sin(acc_ow_sorted['Encoding_Account_Owner'])
oportunidades = oportunidades.merge(acc_ow_sorted, on='Account_Owner')
oportunidades = oportunidades.drop(columns=['Account_Owner'])

In [13]:
# Account Type (Ranking)

gby_acc_type = oportunidades.groupby('Account_Type').agg({'Stage':'mean'})
gby_acc_type['Stage'] = gby_acc_type['Stage'].replace({np.nan:(gby_acc_type['Stage'].mean())})
acc_type_sorted = gby_acc_type.sort_values(by='Stage')
acc_type_sorted = acc_type_sorted.reset_index()
acc_type_sorted = acc_type_sorted.reset_index()
acc_type_sorted = acc_type_sorted.drop(columns=['Stage'])
acc_type_sorted.columns = ['Encoding_Account_Type', 'Account_Type']
acc_type_sorted['Encoding_Account_Type'] = 1/acc_type_sorted['Encoding_Account_Type']
oportunidades = oportunidades.merge(acc_type_sorted, on='Account_Type')
oportunidades = oportunidades.drop(columns=['Account_Type'])

In [14]:
# Opportunity Type (Mean Stage)

gby_op_type = oportunidades.groupby('Opportunity_Type').agg({'Stage':'mean'})
gby_op_type['Stage'] = gby_op_type['Stage'].replace({np.nan:(gby_op_type['Stage'].mean())})
op_type_sorted = gby_op_type.sort_values(by='Stage')
op_type_sorted = op_type_sorted.reset_index()
op_type_sorted.columns = ['Opportunity_Type', 'Encoding_Opportunity_Type']
op_type_sorted['Encoding_Opportunity_Type'] = 1/np.sqrt(op_type_sorted['Encoding_Opportunity_Type'])
oportunidades = oportunidades.merge(op_type_sorted, on='Opportunity_Type')
oportunidades = oportunidades.drop(columns=['Opportunity_Type'])

In [15]:
# Source (Decidir el encodeo)

source_enc = oportunidades.groupby('Source ').agg({'Stage':'mean'})
source_enc = source_enc.reset_index()
source_enc.columns = ['Source ', 'Encoding_Source']
oportunidades = oportunidades.merge(source_enc, on='Source ', how='left')
oportunidades = oportunidades.drop(columns=['Source '])
oportunidades

,Opportunity_ID,Stage,Currency_Es_JPY_O_AUD,Region_Es_APAC,Encoding_Territory,Diferencia_Amounts,TRF_Mayor_A_0,Encoding_Prod_Family,Encoding_Prod_Name,Encoding_Account_Name,Encoding_Opportunity_Owner,Encoding_Account_Owner,Encoding_Account_Type,Encoding_Opportunity_Type,Encoding_Source
0,2,1,0,0,0.245091,0.0,0,0.141120,5.440187e+99,0.826667,39,1.599302,0.333333,1.354460,0.486169
1,1315,1,0,0,0.245091,0.0,0,0.995636,2.363905e+66,0.826667,39,1.599302,0.333333,1.354460,0.486169
2,1316,1,0,0,0.245091,0.0,0,0.995636,2.363905e+66,0.826667,39,1.599302,0.333333,1.354460,0.486169
3,2889,1,0,0,0.245091,0.0,0,0.995636,2.363905e+66,0.826667,39,1.599302,0.333333,1.354460,0.486169
4,7,1,0,0,0.245091,0.0,0,0.668732,8.107399e+76,0.826667,39,1.599302,0.333333,1.354460,0.486169
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12637,3517,0,0,1,-0.462863,0.0,1,0.719967,7.464641e+17,0.125000,14,1.384530,0.200000,1.732051,0.568266
12638,3518,0,0,1,-0.462863,0.0,1,0.719967,7.464641e+17,0.125000,14,1.384530,0.200000,1.732051,0.568266
12639,2782,1,0,1,0.337242,0.0,1,0.185958,8.178564e+103,0.882353,52,1.550466,0.200000,1.732051,0.486169
12640,2783,1,0,1,0.337242,0.0,1,0.185958,8.178564e+103,0.882353,52,1.550466,0.200000,1.732051,0.486169
12641,2883,1,0,1,0.337242,0.0,1,0.185958,8.178564e+103,0.882353,52,1.550466,0.200000,1.732051,0.486169

In [16]:
oportunidades

,Opportunity_ID,Stage,Currency_Es_JPY_O_AUD,Region_Es_APAC,Encoding_Territory,Diferencia_Amounts,TRF_Mayor_A_0,Encoding_Prod_Family,Encoding_Prod_Name,Encoding_Account_Name,Encoding_Opportunity_Owner,Encoding_Account_Owner,Encoding_Account_Type,Encoding_Opportunity_Type,Encoding_Source
0,2,1,0,0,0.245091,0.0,0,0.141120,5.440187e+99,0.826667,39,1.599302,0.333333,1.354460,0.486169
1,1315,1,0,0,0.245091,0.0,0,0.995636,2.363905e+66,0.826667,39,1.599302,0.333333,1.354460,0.486169
2,1316,1,0,0,0.245091,0.0,0,0.995636,2.363905e+66,0.826667,39,1.599302,0.333333,1.354460,0.486169
3,2889,1,0,0,0.245091,0.0,0,0.995636,2.363905e+66,0.826667,39,1.599302,0.333333,1.354460,0.486169
4,7,1,0,0,0.245091,0.0,0,0.668732,8.107399e+76,0.826667,39,1.599302,0.333333,1.354460,0.486169
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12637,3517,0,0,1,-0.462863,0.0,1,0.719967,7.464641e+17,0.125000,14,1.384530,0.200000,1.732051,0.568266
12638,3518,0,0,1,-0.462863,0.0,1,0.719967,7.464641e+17,0.125000,14,1.384530,0.200000,1.732051,0.568266
12639,2782,1,0,1,0.337242,0.0,1,0.185958,8.178564e+103,0.882353,52,1.550466,0.200000,1.732051,0.486169
12640,2783,1,0,1,0.337242,0.0,1,0.185958,8.178564e+103,0.882353,52,1.550466,0.200000,1.732051,0.486169
12641,2883,1,0,1,0.337242,0.0,1,0.185958,8.178564e+103,0.882353,52,1.550466,0.200000,1.732051,0.486169

In [17]:
x_train = oportunidades.groupby('Opportunity_ID').agg({'Currency_Es_JPY_O_AUD':'mean', 'Region_Es_APAC':'mean',\
                                 'Encoding_Territory':'mean', 'Diferencia_Amounts':'mean', 'TRF_Mayor_A_0':'mean',\
                                 'Encoding_Prod_Family':'mean','Encoding_Prod_Name':'mean','Encoding_Account_Name':'mean',\
                                 'Encoding_Opportunity_Owner':'mean','Encoding_Account_Owner':'mean','Encoding_Account_Type':'mean',\
                                  'Encoding_Opportunity_Type':'mean'})
y_train = oportunidades.groupby('Opportunity_ID').agg({'Stage':'max'})
division_x_train, division_x_test, division_y_train, division_y_test = train_test_split(x_train, y_train, test_size = 0.3,\
                                                                                       random_state = 123)
x_train

,Currency_Es_JPY_O_AUD,Region_Es_APAC,Encoding_Territory,Diferencia_Amounts,TRF_Mayor_A_0,Encoding_Prod_Family,Encoding_Prod_Name,Encoding_Account_Name,Encoding_Opportunity_Owner,Encoding_Account_Owner,Encoding_Account_Type,Encoding_Opportunity_Type
Opportunity_ID,,,,,,,,,,,,
2,0,0,0.245091,0.00,0,0.141120,5.440187e+99,0.826667,39,1.599302,0.333333,1.354460
3,0,0,0.245091,0.00,1,0.942923,2.912986e+08,0.000000,39,1.784149,0.333333,2.122268
4,0,0,0.245091,0.00,1,0.942923,2.912986e+08,0.000000,39,1.784149,0.333333,2.122268
5,0,0,0.245091,0.00,1,0.942923,2.912986e+08,0.000000,39,1.784149,0.333333,2.122268
6,0,0,0.245091,0.00,1,0.995636,3.782437e+13,0.000000,39,1.784149,0.333333,2.122268
...,...,...,...,...,...,...,...,...,...,...,...,...
12799,0,0,-0.146473,0.00,1,0.905750,4.847008e+27,0.670213,43,1.605297,0.166667,1.354460
12800,0,0,-0.324411,0.00,1,0.993316,1.694672e+16,0.000000,43,1.605297,0.333333,2.122268
12801,0,0,0.613555,0.00,0,0.785920,6.752582e+82,1.000000,43,1.605297,0.333333,1.354460
12802,0,0,-0.324411,2346796.88,1,0.990997,1.826013e+19,0.000000,17,3.639774,0.333333,1.354460
12803,0,0,-0.324411,25603200.00,1,0.995636,1.984462e+09,0.000000,17,3.639774,0.333333,2.122268

In [18]:
model = GridSearchCV(xgb.XGBClassifier(use_label_encoder = False, objective ='binary:logistic', n_estimators = 25, eval_metric='logloss'), {
    'learning_rate' : np.arange(0.004, 0.022, 0.004),
    'colsample_bytree' : np.arange(0.4,0.9,0.1),
    'alpha' : [0.0001,0.001,0.01,0.1],
    'max_depth' : np.arange(4,8),
    'gamma' : np.arange(0,0.3,0.05),
    'subsample' : np.arange(0.5,1,0.1)
}, cv = 2, return_train_score = False, n_jobs = 6, verbose=10,scoring='neg_log_loss')

model.fit(division_x_train, division_y_train.values.ravel())

Fitting 2 folds for each of 12000 candidates, totalling 24000 fits

[Parallel(n_jobs=6)]: Using backend LokyBackend with 6 concurrent workers.
[Parallel(n_jobs=6)]: Done   1 tasks      | elapsed:    2.6s
[Parallel(n_jobs=6)]: Done   6 tasks      | elapsed:    2.8s
[Parallel(n_jobs=6)]: Done  13 tasks      | elapsed:    3.0s
[Parallel(n_jobs=6)]: Done  20 tasks      | elapsed:    3.1s
[Parallel(n_jobs=6)]: Done  29 tasks      | elapsed:    3.3s
[Parallel(n_jobs=6)]: Done  38 tasks      | elapsed:    3.6s
[Parallel(n_jobs=6)]: Done  49 tasks      | elapsed:    3.8s
[Parallel(n_jobs=6)]: Done  60 tasks      | elapsed:    4.1s
[Parallel(n_jobs=6)]: Done  73 tasks      | elapsed:    4.4s
[Parallel(n_jobs=6)]: Done  86 tasks      | elapsed:    4.7s
[Parallel(n_jobs=6)]: Done 101 tasks      | elapsed:    5.1s
[Parallel(n_jobs=6)]: Done 116 tasks      | elapsed:    5.5s
[Parallel(n_jobs=6)]: Done 133 tasks      | elapsed:    5.9s
[Parallel(n_jobs=6)]: Done 150 tasks      | elapsed:    6.2s
[Parallel(n_jobs=6)]: Done 169 tasks      | elapsed:    6.7s
[Parallel(n_jobs=6)]: Done 188 tasks      | elapsed:    7.2s
[Parallel(n_jobs=6)]: Done 209 tasks      | elapsed:    7.8s
[Parallel(n_jobs=6)]: Done 230 tasks      | elapsed:    8.2s
[Parallel(n_jobs=6)]: Done 253 tasks      | elapsed:    8.8s
[Parallel(n_jobs=6)]: Done 276 tasks      | elapsed:    9.3s
[Parallel(n_jobs=6)]: Done 301 tasks      | elapsed:    9.9s
[Parallel(n_jobs=6)]: Done 326 tasks      | elapsed:   10.5s
[Parallel(n_jobs=6)]: Done 353 tasks      | elapsed:   11.1s
[Parallel(n_jobs=6)]: Done 380 tasks      | elapsed:   11.7s
[Parallel(n_jobs=6)]: Done 409 tasks      | elapsed:   12.4s
[Parallel(n_jobs=6)]: Done 438 tasks      | elapsed:   13.1s
[Parallel(n_jobs=6)]: Done 469 tasks      | elapsed:   13.8s
[Parallel(n_jobs=6)]: Done 500 tasks      | elapsed:   14.5s
[Parallel(n_jobs=6)]: Done 533 tasks      | elapsed:   15.3s
[Parallel(n_jobs=6)]: Done 566 tasks      | elapsed:   16.1s
[Parallel(n_jobs=6)]: Done 601 tasks      | elapsed:   17.0s
[Parallel(n_jobs=6)]: Done 636 tasks      | elapsed:   17.8s
[Parallel(n_jobs=6)]: Done 673 tasks      | elapsed:   18.7s
[Parallel(n_jobs=6)]: Done 710 tasks      | elapsed:   19.5s
[Parallel(n_jobs=6)]: Done 749 tasks      | elapsed:   20.4s
[Parallel(n_jobs=6)]: Done 788 tasks      | elapsed:   21.3s
[Parallel(n_jobs=6)]: Done 829 tasks      | elapsed:   22.3s
[Parallel(n_jobs=6)]: Done 870 tasks      | elapsed:   23.2s
[Parallel(n_jobs=6)]: Done 913 tasks      | elapsed:   24.3s
[Parallel(n_jobs=6)]: Done 956 tasks      | elapsed:   25.3s
[Parallel(n_jobs=6)]: Done 1001 tasks      | elapsed:   26.3s
[Parallel(n_jobs=6)]: Done 1046 tasks      | elapsed:   27.4s
[Parallel(n_jobs=6)]: Done 1093 tasks      | elapsed:   28.5s
[Parallel(n_jobs=6)]: Done 1140 tasks      | elapsed:   29.6s
[Parallel(n_jobs=6)]: Done 1189 tasks      | elapsed:   30.8s
[Parallel(n_jobs=6)]: Done 1238 tasks      | elapsed:   32.0s
[Parallel(n_jobs=6)]: Done 1289 tasks      | elapsed:   33.2s
[Parallel(n_jobs=6)]: Done 1340 tasks      | elapsed:   34.4s
[Parallel(n_jobs=6)]: Done 1393 tasks      | elapsed:   35.7s
[Parallel(n_jobs=6)]: Done 1446 tasks      | elapsed:   36.9s
[Parallel(n_jobs=6)]: Done 1501 tasks      | elapsed:   38.2s
[Parallel(n_jobs=6)]: Done 1556 tasks      | elapsed:   39.5s
[Parallel(n_jobs=6)]: Done 1613 tasks      | elapsed:   40.8s
[Parallel(n_jobs=6)]: Done 1670 tasks      | elapsed:   42.2s
[Parallel(n_jobs=6)]: Done 1729 tasks      | elapsed:   43.6s
[Parallel(n_jobs=6)]: Done 1788 tasks      | elapsed:   45.1s
[Parallel(n_jobs=6)]: Done 1849 tasks      | elapsed:   46.6s
[Parallel(n_jobs=6)]: Done 1910 tasks      | elapsed:   48.0s
[Parallel(n_jobs=6)]: Done 1973 tasks      | elapsed:   49.5s
[Parallel(n_jobs=6)]: Done 2036 tasks      | elapsed:   51.0s
[Parallel(n_jobs=6)]: Done 2101 tasks      | elapsed:   52.5s
[Parallel(n_jobs=6)]: Done 2166 tasks      | elapsed:   54.2s
[Parallel(n_jobs=6)]: Done 2233 tasks      | elapsed:   55.9s
[Parallel(n_jobs=6)]: Done 2300 tasks      | elapsed:   57.4s
[Parallel(n_jobs=6)]: Done 2369 tasks      | elapsed:   59.0s
[Parallel(n_jobs=6)]: Done 2438 tasks      | elapsed:  1.0min
[Parallel(n_jobs=6)]: Done 2509 tasks      | elapsed:  1.0min
[Parallel(n_jobs=6)]: Done 2580 tasks      | elapsed:  1.1min
[Parallel(n_jobs=6)]: Done 2653 tasks      | elapsed:  1.1min
[Parallel(n_jobs=6)]: Done 2726 tasks      | elapsed:  1.1min
[Parallel(n_jobs=6)]: Done 2801 tasks      | elapsed:  1.2min
[Parallel(n_jobs=6)]: Done 2876 tasks      | elapsed:  1.2min
[Parallel(n_jobs=6)]: Done 2953 tasks      | elapsed:  1.2min
[Parallel(n_jobs=6)]: Done 3030 tasks      | elapsed:  1.2min
[Parallel(n_jobs=6)]: Done 3109 tasks      | elapsed:  1.3min
[Parallel(n_jobs=6)]: Done 3188 tasks      | elapsed:  1.3min
[Parallel(n_jobs=6)]: Done 3269 tasks      | elapsed:  1.3min
[Parallel(n_jobs=6)]: Done 3350 tasks      | elapsed:  1.4min
[Parallel(n_jobs=6)]: Done 3433 tasks      | elapsed:  1.4min
[Parallel(n_jobs=6)]: Done 3516 tasks      | elapsed:  1.4min
[Parallel(n_jobs=6)]: Done 3601 tasks      | elapsed:  1.5min
[Parallel(n_jobs=6)]: Done 3686 tasks      | elapsed:  1.5min
[Parallel(n_jobs=6)]: Done 3773 tasks      | elapsed:  1.6min
[Parallel(n_jobs=6)]: Done 3860 tasks      | elapsed:  1.6min
[Parallel(n_jobs=6)]: Done 3949 tasks      | elapsed:  1.6min
[Parallel(n_jobs=6)]: Done 4038 tasks      | elapsed:  1.7min
[Parallel(n_jobs=6)]: Done 4129 tasks      | elapsed:  1.7min
[Parallel(n_jobs=6)]: Done 4220 tasks      | elapsed:  1.7min
[Parallel(n_jobs=6)]: Done 4313 tasks      | elapsed:  1.8min
[Parallel(n_jobs=6)]: Done 4406 tasks      | elapsed:  1.8min
[Parallel(n_jobs=6)]: Done 4501 tasks      | elapsed:  1.9min
[Parallel(n_jobs=6)]: Done 4596 tasks      | elapsed:  1.9min
[Parallel(n_jobs=6)]: Done 4693 tasks      | elapsed:  2.0min
[Parallel(n_jobs=6)]: Done 4790 tasks      | elapsed:  2.0min
[Parallel(n_jobs=6)]: Done 4889 tasks      | elapsed:  2.1min
[Parallel(n_jobs=6)]: Done 4988 tasks      | elapsed:  2.1min
[Parallel(n_jobs=6)]: Done 5089 tasks      | elapsed:  2.1min
[Parallel(n_jobs=6)]: Done 5190 tasks      | elapsed:  2.2min
[Parallel(n_jobs=6)]: Done 5293 tasks      | elapsed:  2.2min
[Parallel(n_jobs=6)]: Done 5396 tasks      | elapsed:  2.3min
[Parallel(n_jobs=6)]: Done 5501 tasks      | elapsed:  2.4min
[Parallel(n_jobs=6)]: Done 5606 tasks      | elapsed:  2.4min
[Parallel(n_jobs=6)]: Done 5713 tasks      | elapsed:  2.6min
[Parallel(n_jobs=6)]: Done 5820 tasks      | elapsed:  2.6min
[Parallel(n_jobs=6)]: Done 5929 tasks      | elapsed:  2.7min
[Parallel(n_jobs=6)]: Done 6038 tasks      | elapsed:  2.8min
[Parallel(n_jobs=6)]: Done 6149 tasks      | elapsed:  2.8min
[Parallel(n_jobs=6)]: Done 6260 tasks      | elapsed:  2.9min
[Parallel(n_jobs=6)]: Done 6373 tasks      | elapsed:  2.9min
[Parallel(n_jobs=6)]: Done 6486 tasks      | elapsed:  3.0min
[Parallel(n_jobs=6)]: Done 6601 tasks      | elapsed:  3.0min
[Parallel(n_jobs=6)]: Done 6716 tasks      | elapsed:  3.1min
[Parallel(n_jobs=6)]: Done 6833 tasks      | elapsed:  3.1min
[Parallel(n_jobs=6)]: Done 6950 tasks      | elapsed:  3.2min
[Parallel(n_jobs=6)]: Done 7069 tasks      | elapsed:  3.3min
[Parallel(n_jobs=6)]: Done 7188 tasks      | elapsed:  3.4min
[Parallel(n_jobs=6)]: Done 7309 tasks      | elapsed:  3.5min
[Parallel(n_jobs=6)]: Done 7430 tasks      | elapsed:  3.6min
[Parallel(n_jobs=6)]: Done 7553 tasks      | elapsed:  3.6min
[Parallel(n_jobs=6)]: Done 7676 tasks      | elapsed:  3.7min
[Parallel(n_jobs=6)]: Done 7801 tasks      | elapsed:  3.7min
[Parallel(n_jobs=6)]: Done 7926 tasks      | elapsed:  3.8min
[Parallel(n_jobs=6)]: Done 8053 tasks      | elapsed:  3.8min
[Parallel(n_jobs=6)]: Done 8180 tasks      | elapsed:  3.9min
[Parallel(n_jobs=6)]: Done 8309 tasks      | elapsed:  4.0min
[Parallel(n_jobs=6)]: Done 8438 tasks      | elapsed:  4.0min
[Parallel(n_jobs=6)]: Done 8569 tasks      | elapsed:  4.1min
[Parallel(n_jobs=6)]: Done 8700 tasks      | elapsed:  4.1min
[Parallel(n_jobs=6)]: Done 8833 tasks      | elapsed:  4.2min
[Parallel(n_jobs=6)]: Done 8966 tasks      | elapsed:  4.3min
[Parallel(n_jobs=6)]: Done 9101 tasks      | elapsed:  4.3min
[Parallel(n_jobs=6)]: Done 9236 tasks      | elapsed:  4.4min

[Parallel(n_jobs=6)]: Done 9373 tasks      | elapsed:  4.5min
[Parallel(n_jobs=6)]: Done 9510 tasks      | elapsed:  4.5min
[Parallel(n_jobs=6)]: Done 9649 tasks      | elapsed:  4.6min
[Parallel(n_jobs=6)]: Done 9788 tasks      | elapsed:  4.7min
[Parallel(n_jobs=6)]: Done 9929 tasks      | elapsed:  4.8min
[Parallel(n_jobs=6)]: Done 10070 tasks      | elapsed:  4.9min
[Parallel(n_jobs=6)]: Done 10213 tasks      | elapsed:  4.9min
[Parallel(n_jobs=6)]: Done 10356 tasks      | elapsed:  5.0min
[Parallel(n_jobs=6)]: Done 10501 tasks      | elapsed:  5.1min
[Parallel(n_jobs=6)]: Done 10646 tasks      | elapsed:  5.2min
[Parallel(n_jobs=6)]: Done 10793 tasks      | elapsed:  5.2min
[Parallel(n_jobs=6)]: Done 10940 tasks      | elapsed:  5.3min
[Parallel(n_jobs=6)]: Done 11089 tasks      | elapsed:  5.5min
[Parallel(n_jobs=6)]: Done 11238 tasks      | elapsed:  5.5min
[Parallel(n_jobs=6)]: Done 11389 tasks      | elapsed:  5.6min
[Parallel(n_jobs=6)]: Done 11540 tasks      | elapsed:  5.7min
[Parallel(n_jobs=6)]: Done 11693 tasks      | elapsed:  5.7min
[Parallel(n_jobs=6)]: Done 11846 tasks      | elapsed:  5.8min
[Parallel(n_jobs=6)]: Done 12001 tasks      | elapsed:  5.9min
[Parallel(n_jobs=6)]: Done 12156 tasks      | elapsed:  6.0min
[Parallel(n_jobs=6)]: Done 12313 tasks      | elapsed:  6.1min
[Parallel(n_jobs=6)]: Done 12470 tasks      | elapsed:  6.1min
[Parallel(n_jobs=6)]: Done 12629 tasks      | elapsed:  6.2min
[Parallel(n_jobs=6)]: Done 12788 tasks      | elapsed:  6.3min
[Parallel(n_jobs=6)]: Done 12949 tasks      | elapsed:  6.4min
[Parallel(n_jobs=6)]: Done 13110 tasks      | elapsed:  6.4min
[Parallel(n_jobs=6)]: Done 13273 tasks      | elapsed:  6.5min
[Parallel(n_jobs=6)]: Done 13436 tasks      | elapsed:  6.6min
[Parallel(n_jobs=6)]: Done 13601 tasks      | elapsed:  6.7min
[Parallel(n_jobs=6)]: Done 13766 tasks      | elapsed:  6.7min
[Parallel(n_jobs=6)]: Done 13933 tasks      | elapsed:  6.9min
[Parallel(n_jobs=6)]: Done 14100 tasks      | elapsed:  7.0min
[Parallel(n_jobs=6)]: Done 14269 tasks      | elapsed:  7.1min
[Parallel(n_jobs=6)]: Done 14438 tasks      | elapsed:  7.2min
[Parallel(n_jobs=6)]: Done 14609 tasks      | elapsed:  7.2min
[Parallel(n_jobs=6)]: Done 14780 tasks      | elapsed:  7.3min
[Parallel(n_jobs=6)]: Done 14953 tasks      | elapsed:  7.4min
[Parallel(n_jobs=6)]: Done 15126 tasks      | elapsed:  7.5min
[Parallel(n_jobs=6)]: Done 15301 tasks      | elapsed:  7.6min
[Parallel(n_jobs=6)]: Done 15476 tasks      | elapsed:  7.7min
[Parallel(n_jobs=6)]: Done 15653 tasks      | elapsed:  7.7min
[Parallel(n_jobs=6)]: Done 15830 tasks      | elapsed:  7.9min
[Parallel(n_jobs=6)]: Done 16009 tasks      | elapsed:  8.0min
[Parallel(n_jobs=6)]: Done 16188 tasks      | elapsed:  8.1min
[Parallel(n_jobs=6)]: Done 16369 tasks      | elapsed:  8.2min
[Parallel(n_jobs=6)]: Done 16550 tasks      | elapsed:  8.3min
[Parallel(n_jobs=6)]: Done 16733 tasks      | elapsed:  8.3min
[Parallel(n_jobs=6)]: Done 16916 tasks      | elapsed:  8.4min
[Parallel(n_jobs=6)]: Done 17101 tasks      | elapsed:  8.5min
[Parallel(n_jobs=6)]: Done 17286 tasks      | elapsed:  8.6min
[Parallel(n_jobs=6)]: Done 17473 tasks      | elapsed:  8.7min
[Parallel(n_jobs=6)]: Done 17660 tasks      | elapsed:  8.8min
[Parallel(n_jobs=6)]: Done 17849 tasks      | elapsed:  8.9min
[Parallel(n_jobs=6)]: Done 18038 tasks      | elapsed:  9.0min
[Parallel(n_jobs=6)]: Done 18229 tasks      | elapsed:  9.0min
[Parallel(n_jobs=6)]: Done 18420 tasks      | elapsed:  9.1min
[Parallel(n_jobs=6)]: Done 18613 tasks      | elapsed:  9.2min
[Parallel(n_jobs=6)]: Done 18806 tasks      | elapsed:  9.3min
[Parallel(n_jobs=6)]: Done 19001 tasks      | elapsed:  9.3min
[Parallel(n_jobs=6)]: Done 19196 tasks      | elapsed:  9.4min
[Parallel(n_jobs=6)]: Done 19393 tasks      | elapsed:  9.5min
[Parallel(n_jobs=6)]: Done 19590 tasks      | elapsed:  9.6min
[Parallel(n_jobs=6)]: Done 19789 tasks      | elapsed:  9.7min
[Parallel(n_jobs=6)]: Done 19988 tasks      | elapsed:  9.8min
[Parallel(n_jobs=6)]: Done 20189 tasks      | elapsed:  9.8min
[Parallel(n_jobs=6)]: Done 20390 tasks      | elapsed:  9.9min
[Parallel(n_jobs=6)]: Done 20593 tasks      | elapsed: 10.0min
[Parallel(n_jobs=6)]: Done 20796 tasks      | elapsed: 10.1min
[Parallel(n_jobs=6)]: Done 21001 tasks      | elapsed: 10.2min
[Parallel(n_jobs=6)]: Done 21206 tasks      | elapsed: 10.3min
[Parallel(n_jobs=6)]: Done 21413 tasks      | elapsed: 10.4min
[Parallel(n_jobs=6)]: Done 21620 tasks      | elapsed: 10.5min
[Parallel(n_jobs=6)]: Done 21829 tasks      | elapsed: 10.6min
[Parallel(n_jobs=6)]: Done 22038 tasks      | elapsed: 10.7min
[Parallel(n_jobs=6)]: Done 22249 tasks      | elapsed: 10.8min
[Parallel(n_jobs=6)]: Done 22460 tasks      | elapsed: 10.9min
[Parallel(n_jobs=6)]: Done 22673 tasks      | elapsed: 11.0min
[Parallel(n_jobs=6)]: Done 22886 tasks      | elapsed: 11.2min
[Parallel(n_jobs=6)]: Done 23101 tasks      | elapsed: 11.3min
[Parallel(n_jobs=6)]: Done 23316 tasks      | elapsed: 11.5min
[Parallel(n_jobs=6)]: Done 23533 tasks      | elapsed: 11.6min
[Parallel(n_jobs=6)]: Done 23750 tasks      | elapsed: 11.8min
[Parallel(n_jobs=6)]: Done 23969 tasks      | elapsed: 11.9min
[Parallel(n_jobs=6)]: Done 24000 out of 24000 | elapsed: 11.9min finished

GridSearchCV(cv=2,
             estimator=XGBClassifier(base_score=None, booster=None,
                                     colsample_bylevel=None,
                                     colsample_bynode=None,
                                     colsample_bytree=None,
                                     eval_metric='logloss', gamma=None,
                                     gpu_id=None, importance_type='gain',
                                     interaction_constraints=None,
                                     learning_rate=None, max_delta_step=None,
                                     max_depth=None, min_child_weight=None,
                                     missing=nan, monotone_constraints=None,
                                     n...
                                     tree_method=None, use_label_encoder=False,
                                     validate_parameters=None, verbosity=None),
             n_jobs=6,
             param_grid={'alpha': [0.0001, 0.001, 0.01, 0.1],
                         'colsample_bytree': array([0.4, 0.5, 0.6, 0.7, 0.8]),
                         'gamma': array([0.  , 0.05, 0.1 , 0.15, 0.2 , 0.25]),
                         'learning_rate': array([0.004, 0.008, 0.012, 0.016, 0.02 ]),
                         'max_depth': array([4, 5, 6, 7]),
                         'subsample': array([0.5, 0.6, 0.7, 0.8, 0.9])},
             scoring='neg_log_loss', verbose=10)

In [19]:
accuracy_score(division_y_test, model.predict(division_x_test))

0.8276116648209672

In [20]:
log_loss(division_y_test, model.predict_proba(division_x_test))

0.5408484985156005

In [21]:
model.best_params_

{'alpha': 0.0001,
 'colsample_bytree': 0.7999999999999999,
 'gamma': 0.15000000000000002,
 'learning_rate': 0.02,
 'max_depth': 7,
 'subsample': 0.8999999999999999}

In [22]:
model.best_score_

-0.5369927275784407