In [69]:
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from catboost import CatBoostRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import log_loss
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

In [70]:
#Limpieza del dataset como en TP1

oportunidades = pd.read_csv("Train_TP2_Datos_2020-2C.csv")
oportunidades['Account_Created_Date'] = pd.to_datetime(oportunidades['Account_Created_Date'])
oportunidades['Opportunity_Created_Date'] = pd.to_datetime(oportunidades['Opportunity_Created_Date'])
oportunidades['Quote_Expiry_Date'] = pd.to_datetime(oportunidades['Quote_Expiry_Date'])
oportunidades['Last_Modified_Date'] = pd.to_datetime(oportunidades['Last_Modified_Date'])
oportunidades['Planned_Delivery_Start_Date'] = pd.to_datetime(oportunidades['Planned_Delivery_Start_Date'])
oportunidades['Planned_Delivery_End_Date'] = pd.to_datetime(oportunidades['Planned_Delivery_End_Date'])
oportunidades_japon = (oportunidades.loc[oportunidades['Region'] == 'Japan'])
oportunidades = (oportunidades.loc[oportunidades['Region'] != 'Japan'])
#oportunidades_japon = oportunidades_japon.iloc[:,:3]
oportunidades_japon['Territory'] = oportunidades_japon['Territory'].replace({'None':'Japan'})
oportunidades = pd.concat([oportunidades, oportunidades_japon], axis=0)
oportunidades['Region'] = oportunidades['Region'].replace({'Japan':'APAC', 'Middle East':'EMEA'})
oportunidades[oportunidades.select_dtypes(['object']).columns] = oportunidades.select_dtypes(['object']).apply(lambda x: x.astype('category'))
oportunidades = oportunidades.loc[oportunidades['Territory'] != 'None']
oportunidades = oportunidades.dropna()
oportunidades

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
2,27446,Americas,NW America,0,0,0,0,0,Bureaucratic_Code_4,2015-04-21,...,Q1,2016,NaT,0,USD,83865.6,USD,83865.6,Closed Won,Prod_Category_A_None
4,16805,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,2013-07-27,...,Q1,2018,NaT,25,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None
5,16802,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,2013-07-27,...,Q1,2018,NaT,28,USD,14838277.5,USD,14838277.5,Closed Lost,Prod_Category_A_None
7,27455,Americas,NW America,1,1,1,1,0,Bureaucratic_Code_4,2015-04-21,...,Q1,2016,NaT,0,USD,50688.0,USD,50688.0,Closed Won,Prod_Category_A_None
23,28524,APAC,India,1,1,1,1,0,Bureaucratic_Code_4,2015-10-13,...,Q1,2016,NaT,3,USD,1621851.0,USD,1621851.0,Closed Won,Prod_Category_A_None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16922,18519,APAC,Japan,1,1,1,1,0,Bureaucratic_Code_4,2013-07-28,...,Q1,2016,NaT,0,USD,13200.0,USD,6422400.6,Closed Won,Prod_Category_A_None
16923,27689,APAC,Japan,1,1,0,0,0,Bureaucratic_Code_4,2015-06-11,...,Q1,2016,NaT,0,JPY,12194000.0,JPY,12194000.0,Closed Won,Prod_Category_A_None
16924,27688,APAC,Japan,1,1,0,0,0,Bureaucratic_Code_4,2015-06-11,...,Q1,2016,NaT,0,JPY,11959500.0,JPY,11959500.0,Closed Won,Prod_Category_A_None
16925,19062,APAC,Japan,0,0,0,0,0,Bureaucratic_Code_4,2013-08-11,...,Q1,2016,NaT,0,JPY,17537000.0,JPY,17537000.0,Closed Won,Prod_Category_A_None
16926,19066,APAC,Japan,1,1,1,1,0,Bureaucratic_Code_4,2013-08-11,...,Q1,2016,NaT,0,JPY,13860000.0,JPY,13860000.0,Closed Won,Prod_Category_A_None

In [71]:
#Añadimos la columna binaria de si es aprobada o no.

filtro_terminos_entrega = oportunidades['Pricing, Delivery_Terms_Quote_Appr']\
     == oportunidades['Pricing, Delivery_Terms_Approved']

filtro_codigo_burocratico = oportunidades['Bureaucratic_Code_0_Approval']\
     == oportunidades['Bureaucratic_Code_0_Approved']

oportunidades = oportunidades.drop(['Pricing, Delivery_Terms_Quote_Appr'\
    ,'Pricing, Delivery_Terms_Approved', 'Bureaucratic_Code_0_Approval'\
        , 'Bureaucratic_Code_0_Approved', 'Submitted_for_Approval'], axis = 'columns')

oportunidades_posibles = (filtro_terminos_entrega & filtro_codigo_burocratico)

oportunidades.insert(3,'Es_Oportunidad_Posible', oportunidades_posibles)

oportunidades['Es_Oportunidad_Posible'] = oportunidades['Es_Oportunidad_Posible'].replace(
    {True:1, False:0})
oportunidades.head()

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
2,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,Q1,2016,NaT,0,USD,83865.6,USD,83865.6,Closed Won,Prod_Category_A_None
4,16805,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_851,...,Q1,2018,NaT,25,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None
5,16802,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_939,...,Q1,2018,NaT,28,USD,14838277.5,USD,14838277.5,Closed Lost,Prod_Category_A_None
7,27455,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8227,...,Q1,2016,NaT,0,USD,50688.0,USD,50688.0,Closed Won,Prod_Category_A_None
23,28524,APAC,India,1,Bureaucratic_Code_4,2015-10-13,None,India,Account_Name_1147,Opportunity_Name_7036,...,Q1,2016,NaT,3,USD,1621851.0,USD,1621851.0,Closed Won,Prod_Category_A_None

In [72]:
#Encoding de los vendedores con mean encoding respecto del total amount.
encoding_owners = oportunidades.groupby('Opportunity_Owner').agg({'Total_Amount':'mean'})
encoding_owners.columns = ['Encoding_Vendedor']
encoding_owners = encoding_owners.reset_index()
oportunidades = oportunidades.merge(encoding_owners, how='inner', on='Opportunity_Owner')
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A,Encoding_Vendedor
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,2016,NaT,0,USD,83865.6,USD,83865.6,Closed Won,Prod_Category_A_None,2.232794e+06
1,16805,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_851,...,2018,NaT,25,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None,2.232794e+06
2,16802,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_939,...,2018,NaT,28,USD,14838277.5,USD,14838277.5,Closed Lost,Prod_Category_A_None,2.232794e+06
3,27455,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8227,...,2016,NaT,0,USD,50688.0,USD,50688.0,Closed Won,Prod_Category_A_None,2.232794e+06
4,21750,Americas,NE America,1,Bureaucratic_Code_4,2013-07-27,Source_11,United States,Account_Name_25,Opportunity_Name_1814,...,2017,NaT,0,USD,11961.6,USD,0.0,Closed Won,Prod_Category_A_None,2.232794e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9720,28141,APAC,Japan,1,Bureaucratic_Code_4,2015-07-03,None,Japan,Account_Name_702,Opportunity_Name_4988,...,2018,NaT,1,JPY,38976000.0,JPY,38976000.0,Closed Lost,Prod_Category_A_None,5.688996e+07
9721,28084,APAC,Japan,1,Bureaucratic_Code_4,2015-07-03,None,Japan,Account_Name_702,Opportunity_Name_4989,...,2018,NaT,1,JPY,56028000.0,JPY,56028000.0,Closed Lost,Prod_Category_A_None,5.688996e+07
9722,28181,APAC,Japan,1,Bureaucratic_Code_1,2015-07-03,None,Japan,Account_Name_702,Opportunity_Name_4994,...,2018,NaT,0,JPY,7660800.0,JPY,7660800.0,Closed Lost,Prod_Category_A_None,5.688996e+07
9723,28182,APAC,Japan,1,Bureaucratic_Code_4,2015-07-03,None,Japan,Account_Name_702,Opportunity_Name_8661,...,2019,NaT,0,JPY,825000.0,JPY,825000.0,Closed Won,Prod_Category_A_None,5.688996e+07
9724,28164,APAC,Japan,1,Bureaucratic_Code_1,2015-07-03,None,Japan,Account_Name_702,Opportunity_Name_4995,...,2018,NaT,5,JPY,180960000.0,JPY,180960000.0,Closed Lost,Prod_Category_A_None,5.688996e+07

In [73]:
#Encoding de los territorios en base al total amount
encoding_territory = oportunidades.groupby('Territory').agg({'Total_Amount' : 'mean'})
encoding_territory.columns = ['Encoding_Territorio']
encoding_territory = encoding_territory.reset_index()
oportunidades = oportunidades.merge(encoding_territory, how='inner', on='Territory')
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A,Encoding_Vendedor,Encoding_Territorio
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,NaT,0,USD,83865.6,USD,83865.6,Closed Won,Prod_Category_A_None,2.232794e+06,1.534896e+06
1,16805,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_851,...,NaT,25,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None,2.232794e+06,1.534896e+06
2,16802,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_939,...,NaT,28,USD,14838277.5,USD,14838277.5,Closed Lost,Prod_Category_A_None,2.232794e+06,1.534896e+06
3,27455,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8227,...,NaT,0,USD,50688.0,USD,50688.0,Closed Won,Prod_Category_A_None,2.232794e+06,1.534896e+06
4,21527,Americas,NW America,1,Bureaucratic_Code_4,2013-07-27,Source_11,United States,Account_Name_25,Opportunity_Name_1828,...,NaT,0,USD,2814.0,USD,2814.0,Closed Won,Prod_Category_A_None,2.232794e+06,1.534896e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9720,14862,APAC,New Zealand,0,Bureaucratic_Code_5,2017-05-23,Source_7,New Zealand,Account_Name_1857,Opportunity_Name_11725,...,NaT,0,USD,28875.0,USD,147262.5,Closed Won,Prod_Category_A_None,3.610676e+06,3.498250e+04
9721,14868,APAC,New Zealand,0,Bureaucratic_Code_5,2017-05-23,Source_7,New Zealand,Account_Name_1857,Opportunity_Name_11725,...,NaT,0,USD,28875.0,USD,147262.5,Closed Won,Prod_Category_A_None,3.610676e+06,3.498250e+04
9722,14873,APAC,New Zealand,0,Bureaucratic_Code_5,2017-05-23,Source_7,New Zealand,Account_Name_1857,Opportunity_Name_11725,...,NaT,0,USD,28875.0,USD,147262.5,Closed Won,Prod_Category_A_None,3.610676e+06,3.498250e+04
9723,14879,APAC,New Zealand,0,Bureaucratic_Code_5,2017-05-23,Source_7,New Zealand,Account_Name_1857,Opportunity_Name_11725,...,NaT,0,USD,28875.0,USD,147262.5,Closed Won,Prod_Category_A_None,3.610676e+06,3.498250e+04
9724,23555,EMEA,Egypt,0,Bureaucratic_Code_5,2014-12-10,Source_13,Egypt,Account_Name_1431,Opportunity_Name_341,...,NaT,0,USD,9375.0,USD,9375.0,Closed Lost,Prod_Category_A_None,2.311700e+04,9.375000e+03

In [74]:
#Encoding de las regiones en base al total amount
encoding_region = oportunidades.groupby('Region').agg({'Total_Amount' : 'mean'})
encoding_region.columns = ['Encoding_Region']
encoding_region = encoding_region.reset_index()
oportunidades = oportunidades.merge(encoding_region, how='inner', on='Region')
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A,Encoding_Vendedor,Encoding_Territorio,Encoding_Region
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,0,USD,83865.6,USD,83865.6,Closed Won,Prod_Category_A_None,2.232794e+06,1.534896e+06,2.250980e+06
1,16805,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_851,...,25,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None,2.232794e+06,1.534896e+06,2.250980e+06
2,16802,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_939,...,28,USD,14838277.5,USD,14838277.5,Closed Lost,Prod_Category_A_None,2.232794e+06,1.534896e+06,2.250980e+06
3,27455,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8227,...,0,USD,50688.0,USD,50688.0,Closed Won,Prod_Category_A_None,2.232794e+06,1.534896e+06,2.250980e+06
4,21527,Americas,NW America,1,Bureaucratic_Code_4,2013-07-27,Source_11,United States,Account_Name_25,Opportunity_Name_1828,...,0,USD,2814.0,USD,2814.0,Closed Won,Prod_Category_A_None,2.232794e+06,1.534896e+06,2.250980e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9720,14857,APAC,New Zealand,0,Bureaucratic_Code_5,2017-05-23,Source_7,New Zealand,Account_Name_1857,Opportunity_Name_11725,...,0,USD,31762.5,USD,147262.5,Closed Won,Prod_Category_A_None,3.610676e+06,3.498250e+04,2.951944e+06
9721,14862,APAC,New Zealand,0,Bureaucratic_Code_5,2017-05-23,Source_7,New Zealand,Account_Name_1857,Opportunity_Name_11725,...,0,USD,28875.0,USD,147262.5,Closed Won,Prod_Category_A_None,3.610676e+06,3.498250e+04,2.951944e+06
9722,14868,APAC,New Zealand,0,Bureaucratic_Code_5,2017-05-23,Source_7,New Zealand,Account_Name_1857,Opportunity_Name_11725,...,0,USD,28875.0,USD,147262.5,Closed Won,Prod_Category_A_None,3.610676e+06,3.498250e+04,2.951944e+06
9723,14873,APAC,New Zealand,0,Bureaucratic_Code_5,2017-05-23,Source_7,New Zealand,Account_Name_1857,Opportunity_Name_11725,...,0,USD,28875.0,USD,147262.5,Closed Won,Prod_Category_A_None,3.610676e+06,3.498250e+04,2.951944e+06
9724,14879,APAC,New Zealand,0,Bureaucratic_Code_5,2017-05-23,Source_7,New Zealand,Account_Name_1857,Opportunity_Name_11725,...,0,USD,28875.0,USD,147262.5,Closed Won,Prod_Category_A_None,3.610676e+06,3.498250e+04,2.951944e+06

In [75]:
#Encoding del tipo de moneda en base al mean del ASP
encoding_moneda = oportunidades.groupby('Total_Amount_Currency').agg({'ASP' : 'mean'})
encoding_moneda.columns = ['Encoding_Moneda']
encoding_moneda = encoding_moneda.reset_index()
oportunidades = oportunidades.merge(encoding_moneda, how='inner', on='Total_Amount_Currency')
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A,Encoding_Vendedor,Encoding_Territorio,Encoding_Region,Encoding_Moneda
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,USD,83865.6,USD,83865.6,Closed Won,Prod_Category_A_None,2.232794e+06,1.534896e+06,2.250980e+06,0.421977
1,16805,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_851,...,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None,2.232794e+06,1.534896e+06,2.250980e+06,0.421977
2,16802,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_939,...,USD,14838277.5,USD,14838277.5,Closed Lost,Prod_Category_A_None,2.232794e+06,1.534896e+06,2.250980e+06,0.421977
3,27455,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8227,...,USD,50688.0,USD,50688.0,Closed Won,Prod_Category_A_None,2.232794e+06,1.534896e+06,2.250980e+06,0.421977
4,21527,Americas,NW America,1,Bureaucratic_Code_4,2013-07-27,Source_11,United States,Account_Name_25,Opportunity_Name_1828,...,USD,2814.0,USD,2814.0,Closed Won,Prod_Category_A_None,2.232794e+06,1.534896e+06,2.250980e+06,0.421977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9720,17555,APAC,Australia,1,Bureaucratic_Code_4,2013-10-03,None,Australia,Account_Name_1440,Opportunity_Name_10149,...,AUD,117600.0,AUD,117600.0,Closed Won,Prod_Category_A_None,8.658390e+04,1.042592e+06,2.951944e+06,0.547969
9721,18413,APAC,Australia,1,Bureaucratic_Code_4,2013-07-28,None,Australia,Account_Name_1440,Opportunity_Name_10153,...,AUD,117600.0,AUD,117600.0,Closed Won,Prod_Category_A_None,8.658390e+04,1.042592e+06,2.951944e+06,0.547969
9722,18416,APAC,Australia,1,Bureaucratic_Code_4,2013-07-28,None,Australia,Account_Name_1440,Opportunity_Name_10150,...,AUD,117600.0,AUD,117600.0,Closed Won,Prod_Category_A_None,8.658390e+04,1.042592e+06,2.951944e+06,0.547969
9723,22188,APAC,Australia,1,Bureaucratic_Code_4,2014-09-19,Source_9,Australia,Account_Name_1642,Opportunity_Name_10445,...,AUD,104328.0,USD,0.0,Closed Lost,Prod_Category_A_None,8.658390e+04,1.042592e+06,2.951944e+06,0.547969
9724,22184,APAC,Australia,0,Bureaucratic_Code_2,2014-09-19,Source_9,Australia,Account_Name_1642,Opportunity_Name_10446,...,AUD,93024.0,USD,0.0,Closed Lost,Prod_Category_A_None,8.658390e+04,1.042592e+06,2.951944e+06,0.547969

In [76]:
#Encoding del Bureaucratic_Code en base a Dummies
oportunidades = pd.concat([oportunidades, pd.get_dummies(oportunidades['Bureaucratic_Code'])], axis='columns')
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,Encoding_Territorio,Encoding_Region,Encoding_Moneda,Bureaucratic_Code_0,Bureaucratic_Code_1,Bureaucratic_Code_2,Bureaucratic_Code_3,Bureaucratic_Code_4,Bureaucratic_Code_5,Bureaucratic_Code_6
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,1.534896e+06,2.250980e+06,0.421977,0,0,0,0,1,0,0
1,16805,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_851,...,1.534896e+06,2.250980e+06,0.421977,0,0,0,0,0,1,0
2,16802,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_939,...,1.534896e+06,2.250980e+06,0.421977,0,0,0,0,0,1,0
3,27455,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8227,...,1.534896e+06,2.250980e+06,0.421977,0,0,0,0,1,0,0
4,21527,Americas,NW America,1,Bureaucratic_Code_4,2013-07-27,Source_11,United States,Account_Name_25,Opportunity_Name_1828,...,1.534896e+06,2.250980e+06,0.421977,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9720,17555,APAC,Australia,1,Bureaucratic_Code_4,2013-10-03,None,Australia,Account_Name_1440,Opportunity_Name_10149,...,1.042592e+06,2.951944e+06,0.547969,0,0,0,0,1,0,0
9721,18413,APAC,Australia,1,Bureaucratic_Code_4,2013-07-28,None,Australia,Account_Name_1440,Opportunity_Name_10153,...,1.042592e+06,2.951944e+06,0.547969,0,0,0,0,1,0,0
9722,18416,APAC,Australia,1,Bureaucratic_Code_4,2013-07-28,None,Australia,Account_Name_1440,Opportunity_Name_10150,...,1.042592e+06,2.951944e+06,0.547969,0,0,0,0,1,0,0
9723,22188,APAC,Australia,1,Bureaucratic_Code_4,2014-09-19,Source_9,Australia,Account_Name_1642,Opportunity_Name_10445,...,1.042592e+06,2.951944e+06,0.547969,0,0,0,0,1,0,0
9724,22184,APAC,Australia,0,Bureaucratic_Code_2,2014-09-19,Source_9,Australia,Account_Name_1642,Opportunity_Name_10446,...,1.042592e+06,2.951944e+06,0.547969,0,0,1,0,0,0,0

In [77]:
#Encoding del Billing Country en base a mean de Total_Amount.
encoding_bill_c = oportunidades.groupby('Billing_Country').agg({'Total_Amount' : 'mean'})
encoding_bill_c.columns = ['Encoding_Billing_Country']
encoding_bill_c = encoding_bill_c.reset_index()
oportunidades = oportunidades.merge(encoding_bill_c, how='inner', on='Billing_Country')
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,Encoding_Region,Encoding_Moneda,Bureaucratic_Code_0,Bureaucratic_Code_1,Bureaucratic_Code_2,Bureaucratic_Code_3,Bureaucratic_Code_4,Bureaucratic_Code_5,Bureaucratic_Code_6,Encoding_Billing_Country
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,2.250980e+06,0.421977,0,0,0,0,1,0,0,2.245889e+06
1,16805,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_851,...,2.250980e+06,0.421977,0,0,0,0,0,1,0,2.245889e+06
2,16802,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_939,...,2.250980e+06,0.421977,0,0,0,0,0,1,0,2.245889e+06
3,27455,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8227,...,2.250980e+06,0.421977,0,0,0,0,1,0,0,2.245889e+06
4,21527,Americas,NW America,1,Bureaucratic_Code_4,2013-07-27,Source_11,United States,Account_Name_25,Opportunity_Name_1828,...,2.250980e+06,0.421977,0,0,0,0,1,0,0,2.245889e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9720,6773,EMEA,Malta,1,Bureaucratic_Code_4,2017-07-13,Source_13,Malta,Account_Name_600,Opportunity_Name_9426,...,8.201907e+05,0.376488,0,0,0,0,1,0,0,4.164458e+06
9721,6779,EMEA,Malta,1,Bureaucratic_Code_4,2017-07-13,Source_13,Malta,Account_Name_600,Opportunity_Name_9496,...,8.201907e+05,0.376488,0,0,0,0,1,0,0,4.164458e+06
9722,6790,EMEA,Malta,1,Bureaucratic_Code_4,2017-07-13,Source_13,Malta,Account_Name_600,Opportunity_Name_4195,...,8.201907e+05,0.376488,0,0,0,0,1,0,0,4.164458e+06
9723,6762,EMEA,Malta,1,Bureaucratic_Code_4,2017-07-13,Source_13,Malta,Account_Name_600,Opportunity_Name_4194,...,8.201907e+05,0.376488,0,0,0,0,1,0,0,4.164458e+06
9724,6768,EMEA,Malta,1,Bureaucratic_Code_4,2017-07-13,Source_13,Malta,Account_Name_600,Opportunity_Name_4194,...,8.201907e+05,0.376488,0,0,0,0,1,0,0,4.164458e+06

In [78]:
#Encoding del Product_Family en base a mean de Total_Amount.
encoding_product_family = oportunidades.groupby('Product_Family').agg({'Total_Amount' : 'mean'})
encoding_product_family.columns = ['Encoding_Prod_Family']
encoding_product_family = encoding_product_family.reset_index()
oportunidades = oportunidades.merge(encoding_product_family, how='inner', on='Product_Family')
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,Encoding_Moneda,Bureaucratic_Code_0,Bureaucratic_Code_1,Bureaucratic_Code_2,Bureaucratic_Code_3,Bureaucratic_Code_4,Bureaucratic_Code_5,Bureaucratic_Code_6,Encoding_Billing_Country,Encoding_Prod_Family
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,0.421977,0,0,0,0,1,0,0,2.245889e+06,69490.525
1,27442,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8543,...,0.421977,0,0,0,0,1,0,0,2.245889e+06,69490.525
2,15713,EMEA,Germany,1,Bureaucratic_Code_4,2013-07-27,None,Germany,Account_Name_1994,Opportunity_Name_12186,...,0.376488,0,0,0,0,1,0,0,8.585832e+05,69490.525
3,16744,EMEA,Spain,1,Bureaucratic_Code_4,2013-07-27,Source_11,Spain,Account_Name_59,Opportunity_Name_9433,...,0.376488,0,0,0,0,1,0,0,1.240120e+06,69490.525
4,15045,APAC,India,0,Bureaucratic_Code_5,2017-05-24,Source_7,India,Account_Name_1983,Opportunity_Name_12179,...,0.421977,0,0,0,0,0,1,0,9.806871e+05,69490.525
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9720,9753,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_3358,...,0.421977,0,0,0,0,1,0,0,1.079523e+05,2197.250
9721,9992,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2744,...,0.421977,0,0,0,0,1,0,0,1.079523e+05,369.600
9722,9859,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_3360,...,0.421977,0,0,0,0,1,0,0,1.079523e+05,2274.300
9723,9163,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2741,...,0.421977,0,0,0,0,1,0,0,1.079523e+05,3456.000
9724,9136,APAC,China (PRC),0,Bureaucratic_Code_2,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2740,...,0.421977,0,0,1,0,0,0,0,1.079523e+05,35708.750

In [79]:
#Encoding con Dummies de Account_Type

oportunidades = pd.concat([oportunidades, pd.get_dummies(oportunidades['Account_Type'])],axis='columns')
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,Bureaucratic_Code_6,Encoding_Billing_Country,Encoding_Prod_Family,Account_Type_0,Account_Type_1,Account_Type_2,Account_Type_4,Account_Type_5,Account_Type_6,None
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,0,2.245889e+06,69490.525,0,0,0,0,1,0,0
1,27442,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8543,...,0,2.245889e+06,69490.525,0,0,0,0,1,0,0
2,15713,EMEA,Germany,1,Bureaucratic_Code_4,2013-07-27,None,Germany,Account_Name_1994,Opportunity_Name_12186,...,0,8.585832e+05,69490.525,1,0,0,0,0,0,0
3,16744,EMEA,Spain,1,Bureaucratic_Code_4,2013-07-27,Source_11,Spain,Account_Name_59,Opportunity_Name_9433,...,0,1.240120e+06,69490.525,1,0,0,0,0,0,0
4,15045,APAC,India,0,Bureaucratic_Code_5,2017-05-24,Source_7,India,Account_Name_1983,Opportunity_Name_12179,...,0,9.806871e+05,69490.525,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9720,9753,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_3358,...,0,1.079523e+05,2197.250,1,0,0,0,0,0,0
9721,9992,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2744,...,0,1.079523e+05,369.600,1,0,0,0,0,0,0
9722,9859,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_3360,...,0,1.079523e+05,2274.300,1,0,0,0,0,0,0
9723,9163,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2741,...,0,1.079523e+05,3456.000,1,0,0,0,0,0,0
9724,9136,APAC,China (PRC),0,Bureaucratic_Code_2,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2740,...,0,1.079523e+05,35708.750,1,0,0,0,0,0,0

In [80]:
#Encoding de Delivery Terms en base a Dummies
oportunidades = pd.concat([oportunidades,pd.get_dummies(oportunidades['Delivery_Terms'])],axis='columns')
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,None,Delivery_Terms_0,Delivery_Terms_1,Delivery_Terms_2,Delivery_Terms_3,Delivery_Terms_4,Delivery_Terms_5,Delivery_Terms_6,Delivery_Terms_7,Delivery_Terms_8
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,0,0,0,0,0,1,0,0,0,0
1,27442,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8543,...,0,0,0,0,0,1,0,0,0,0
2,15713,EMEA,Germany,1,Bureaucratic_Code_4,2013-07-27,None,Germany,Account_Name_1994,Opportunity_Name_12186,...,0,0,0,1,0,0,0,0,0,0
3,16744,EMEA,Spain,1,Bureaucratic_Code_4,2013-07-27,Source_11,Spain,Account_Name_59,Opportunity_Name_9433,...,0,0,0,1,0,0,0,0,0,0
4,15045,APAC,India,0,Bureaucratic_Code_5,2017-05-24,Source_7,India,Account_Name_1983,Opportunity_Name_12179,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9720,9753,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_3358,...,0,0,0,0,0,0,0,1,0,0
9721,9992,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2744,...,0,0,0,0,0,0,0,1,0,0
9722,9859,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_3360,...,0,0,0,0,0,0,0,1,0,0
9723,9163,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2741,...,0,0,0,0,0,0,0,1,0,0
9724,9136,APAC,China (PRC),0,Bureaucratic_Code_2,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2740,...,0,0,0,0,0,0,0,1,0,0

In [81]:
#Obtenemos el año de creación de la oportunidad como columna.
oportunidades['Opportunity_Created_Year'] = oportunidades['Opportunity_Created_Date'].dt.year
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,Delivery_Terms_0,Delivery_Terms_1,Delivery_Terms_2,Delivery_Terms_3,Delivery_Terms_4,Delivery_Terms_5,Delivery_Terms_6,Delivery_Terms_7,Delivery_Terms_8,Opportunity_Created_Year
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,0,0,0,0,1,0,0,0,0,2015
1,27442,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8543,...,0,0,0,0,1,0,0,0,0,2016
2,15713,EMEA,Germany,1,Bureaucratic_Code_4,2013-07-27,None,Germany,Account_Name_1994,Opportunity_Name_12186,...,0,0,1,0,0,0,0,0,0,2017
3,16744,EMEA,Spain,1,Bureaucratic_Code_4,2013-07-27,Source_11,Spain,Account_Name_59,Opportunity_Name_9433,...,0,0,1,0,0,0,0,0,0,2018
4,15045,APAC,India,0,Bureaucratic_Code_5,2017-05-24,Source_7,India,Account_Name_1983,Opportunity_Name_12179,...,0,0,0,0,0,0,0,0,1,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9720,9753,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_3358,...,0,0,0,0,0,0,1,0,0,2017
9721,9992,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2744,...,0,0,0,0,0,0,1,0,0,2018
9722,9859,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_3360,...,0,0,0,0,0,0,1,0,0,2018
9723,9163,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2741,...,0,0,0,0,0,0,1,0,0,2018
9724,9136,APAC,China (PRC),0,Bureaucratic_Code_2,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2740,...,0,0,0,0,0,0,1,0,0,2018

In [82]:
#Features del analisis de Datos...

#Product Name

oportunidades = oportunidades.loc[(oportunidades['Stage'] == 'Closed Won') | (oportunidades['Stage'] == 'Closed Lost')]
oportunidades['Stage'] = oportunidades['Stage'].replace({'Closed Won': 1, 'Closed Lost': 0})

gby_prod_name = oportunidades.groupby('Product_Name').agg({'Stage':'mean'})
gby_prod_name['Stage'] = gby_prod_name['Stage'].replace({np.nan:(gby_prod_name['Stage'].mean())})
p_name_sorted = gby_prod_name.sort_values(by='Stage')
p_name_sorted = p_name_sorted.reset_index()
p_name_sorted = p_name_sorted.reset_index()
p_name_sorted = p_name_sorted.drop(columns=['Stage'])
p_name_sorted.columns = ['Encoding_Prod_Name', 'Product_Name']
#p_name_sorted['Encoding_Prod_Name'] = mu_smoothed
oportunidades = oportunidades.merge(p_name_sorted, on='Product_Name', how ='left')
oportunidades = oportunidades.drop(columns=['Product_Name'])

#Account Name

gby_acc_name = oportunidades.groupby('Account_Name').agg({'Stage':'mean'})
gby_acc_name['Stage'] = gby_acc_name['Stage'].replace({np.nan:(gby_acc_name['Stage'].mean())})
acc_name_sorted = gby_acc_name.sort_values(by='Stage')
acc_name_sorted = acc_name_sorted.reset_index()
acc_name_sorted.columns = ['Account_Name', 'Encoding_Account_Name']
prior = oportunidades['Stage'].mean()
n = len(gby_acc_name)
mu = gby_acc_name['Stage']
mu_smoothed = (n * mu + 5 * prior) / (n + 5)
mu_smoothed = pd.DataFrame(mu_smoothed)
acc_name_sorted['Encoding_Account_Name'] = mu_smoothed.reset_index().Stage
oportunidades = oportunidades.merge(acc_name_sorted, on='Account_Name', how ='left')
oportunidades = oportunidades.drop(columns=['Account_Name'])

<ipython-input-82-0f9674516c75>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oportunidades['Stage'] = oportunidades['Stage'].replace({'Closed Won': 1, 'Closed Lost': 0})

In [83]:
#Una vez que tenemos el dataset limpio como en el TP1, iniciamos con el uso de XGBoost como algoritmo de ML.

#Parametros resultantes del tuning:{'objective': 'reg:logistic', 'max_depth': 7, 'n_estimators': 140, 
#'colsample_bytree': 0.9, 'subsample': 0.9, 'learning_rate': 0.085, 'alpha': 0.01, 'gamma': 0.2}

#Con Error: 0.3574255624906347

params = {
    'objective':'reg:logistic',
    'max_depth':7,
    'n_estimators':450,
    'colsample_bytree':0.4,
    'subsample':0.6,
    'learning_rate':0.02,
    'alpha':0.001,
    #'gamma':0.2
}

params2 = {
    'objective':'reg:logistic',
    'max_depth':8,
    'n_estimators':350,
    'colsample_bytree':0.4,
    'subsample':0.6,
    'learning_rate':0.02,
    'alpha':0.01,
    #'gamma':0.2
}

#xg_reg = xgb.XGBRegressor(objective =params['objective'], 
#                colsample_bytree = params['colsample_bytree'], learning_rate = params['learning_rate'],
#                max_depth = params['max_depth'], alpha = params['alpha'], n_estimators = params['n_estimators'], 
#                gamma = params['gamma'], subsample = params['subsample'])
xg_reg = xgb.XGBRegressor(objective =params['objective'], 
                colsample_bytree = params['colsample_bytree'], learning_rate = params['learning_rate'],
                max_depth = params['max_depth'], alpha = params['alpha'], n_estimators = params['n_estimators'], 
                subsample = params['subsample'])

xg_reg2 = xgb.XGBRegressor(objective =params2['objective'], 
                colsample_bytree = params2['colsample_bytree'], learning_rate = params2['learning_rate'],
                max_depth = params2['max_depth'], alpha = params2['alpha'], n_estimators = params2['n_estimators'], 
                subsample = params2['subsample'])
cat_reg = CatBoostRegressor(border_count = 6, depth = 8, iterations = 1000, l2_leaf_reg = 1, \
                            learning_rate = 0.012, random_strength = 0.9)

y_train = oportunidades['Stage']

std_deviation_amounts = oportunidades.groupby('Opportunity_ID').agg({'Total_Amount':'std', 'Total_Taxable_Amount':'std',\
                                                                    'TRF':'std'})
std_deviation_amounts.columns = ['Total_Amount_Std','Total_Tax_Amount_Std', 'TRF_Std']
std_deviation_amounts = std_deviation_amounts.reset_index()

#Solo usamos Bureau_Code_ 0,1,2,4,5 porque son los que tiene el set de test.
x_train = oportunidades.groupby('Opportunity_ID').agg({'Opportunity_Created_Year' : 'mean',\
                                                      'Encoding_Moneda':'mean', 
                                                      'Total_Amount': 'sum',\
                                                      'Total_Taxable_Amount':'sum', 
                                                       'Encoding_Region':'mean',\
                                                      'Encoding_Territorio':'mean','Encoding_Vendedor':'mean',\
                                                      'Es_Oportunidad_Posible':'mean','Stage':'max', 'TRF':'mean',
                                                      'Bureaucratic_Code_0':'mean','Bureaucratic_Code_1':'mean',\
                                                      'Bureaucratic_Code_2':'mean','Bureaucratic_Code_4':'mean',
                                                      'Bureaucratic_Code_5':'mean', 'Encoding_Billing_Country':'mean',\
                                                      'Delivery_Terms_0':'mean','Delivery_Terms_1':'mean','Delivery_Terms_2':'mean',\
                                                      'Delivery_Terms_3':'mean','Delivery_Terms_4':'mean','Delivery_Terms_5':'mean',\
                                                      'Delivery_Terms_6':'mean','Delivery_Terms_7':'mean','Delivery_Terms_8':'mean',
                                                      'Encoding_Prod_Family':'mean','Account_Type_0':'mean','Account_Type_1':'mean',\
                                                      'Account_Type_2':'mean','Account_Type_4':'mean', 'Account_Type_5':'mean',
                                                      'Encoding_Prod_Name':'mean','Encoding_Account_Name':'mean'})
x_train = x_train.reset_index()
x_train = x_train.merge(std_deviation_amounts, on='Opportunity_ID', how='inner')
x_train = x_train.set_index('Opportunity_ID')
y_train = x_train['Stage']
x_train = x_train.drop('Stage', axis='columns')
x_train['Total_Amount_Std'] = x_train['Total_Amount_Std'].replace({np.nan:0})
x_train['Total_Tax_Amount_Std'] = x_train['Total_Tax_Amount_Std'].replace({np.nan:0})
x_train['TRF_Std'] = x_train['TRF_Std'].replace({np.nan:0})

In [84]:
#Division del set de test y train:

division_x_train, division_x_test, division_y_train, division_y_test = train_test_split(x_train, y_train, test_size = 0.3,\
                                                                                       random_state = 123)

In [85]:
#Tuning de Hiper parametros con GridSearchCV

model = GridSearchCV(xgb.XGBClassifier(use_label_encoder = False,objective ='binary:logistic', eval_metric = 'logloss'), {
    'n_estimators':np.arange(50,450,50),
    'min_child_weight': [0.3,0.5,0.7,1],
    'learning_rate' : np.arange(0.005, 0.1, 0.005),
    'colsample_bytree' : np.arange(0.5,1,0.15),
    #'alpha' : [0.0001,0.001,0.01,0.1],
    'max_depth' : np.arange(5,10),
    #'gamma' : np.arange(0,0.3,0.1),
    'subsample' : np.arange(0.5,1,0.15),
}, cv = 2, return_train_score = False, n_jobs = -1, verbose=10,scoring='neg_log_loss')

model.fit(x_train, y_train.values.ravel())

Fitting 2 folds for each of 48640 candidates, totalling 97280 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:    3.1s
[Parallel(n_jobs=-1)]: Done   8 tasks      | elapsed:    4.0s
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:    6.1s
[Parallel(n_jobs=-1)]: Done  26 tasks      | elapsed:    9.0s
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:   12.8s
[Parallel(n_jobs=-1)]: Done  48 tasks      | elapsed:   17.8s
[Parallel(n_jobs=-1)]: Done  61 tasks      | elapsed:   21.4s
[Parallel(n_jobs=-1)]: Done  74 tasks      | elapsed:   24.1s
[Parallel(n_jobs=-1)]: Done  89 tasks      | elapsed:   27.9s
[Parallel(n_jobs=-1)]: Done 104 tasks      | elapsed:   33.2s
[Parallel(n_jobs=-1)]: Done 121 tasks      | elapsed:   40.4s
[Parallel(n_jobs=-1)]: Done 138 tasks      | elapsed:   42.9s
[Parallel(n_jobs=-1)]: Done 157 tasks      | elapsed:   48.2s
[Parallel(n_jobs=-1)]: Done 176 tasks      | elapsed:   56.3s
[Parallel(n_jobs=-1)]: Done 197 tasks      | elapsed:  1.0min
[Parallel(n_jobs=-1)]: Done 218 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 241 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done 264 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done 289 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 314 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done 341 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done 368 tasks      | elapsed:  2.0min
[Parallel(n_jobs=-1)]: Done 397 tasks      | elapsed:  2.1min
[Parallel(n_jobs=-1)]: Done 426 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done 457 tasks      | elapsed:  2.5min
[Parallel(n_jobs=-1)]: Done 488 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done 521 tasks      | elapsed:  2.9min
[Parallel(n_jobs=-1)]: Done 554 tasks      | elapsed:  3.1min
[Parallel(n_jobs=-1)]: Done 589 tasks      | elapsed:  3.4min
[Parallel(n_jobs=-1)]: Done 624 tasks      | elapsed:  3.7min
[Parallel(n_jobs=-1)]: Done 661 tasks      | elapsed:  3.9min
[Parallel(n_jobs=-1)]: Done 698 tasks      | elapsed:  4.2min
[Parallel(n_jobs=-1)]: Done 737 tasks      | elapsed:  4.5min
[Parallel(n_jobs=-1)]: Done 776 tasks      | elapsed:  4.8min
[Parallel(n_jobs=-1)]: Done 817 tasks      | elapsed:  5.2min
[Parallel(n_jobs=-1)]: Done 858 tasks      | elapsed:  5.4min
[Parallel(n_jobs=-1)]: Done 901 tasks      | elapsed:  5.6min
[Parallel(n_jobs=-1)]: Done 944 tasks      | elapsed:  5.9min
[Parallel(n_jobs=-1)]: Done 989 tasks      | elapsed:  6.1min
[Parallel(n_jobs=-1)]: Done 1034 tasks      | elapsed:  6.4min
[Parallel(n_jobs=-1)]: Done 1081 tasks      | elapsed:  6.7min
[Parallel(n_jobs=-1)]: Done 1128 tasks      | elapsed:  7.0min
[Parallel(n_jobs=-1)]: Done 1177 tasks      | elapsed:  7.3min
[Parallel(n_jobs=-1)]: Done 1226 tasks      | elapsed:  7.6min
[Parallel(n_jobs=-1)]: Done 1277 tasks      | elapsed:  8.0min
[Parallel(n_jobs=-1)]: Done 1328 tasks      | elapsed:  8.1min
[Parallel(n_jobs=-1)]: Done 1381 tasks      | elapsed:  8.3min
[Parallel(n_jobs=-1)]: Done 1434 tasks      | elapsed:  8.5min
[Parallel(n_jobs=-1)]: Done 1489 tasks      | elapsed:  8.7min
[Parallel(n_jobs=-1)]: Done 1544 tasks      | elapsed:  8.9min
[Parallel(n_jobs=-1)]: Done 1601 tasks      | elapsed:  9.1min
[Parallel(n_jobs=-1)]: Done 1658 tasks      | elapsed:  9.4min
[Parallel(n_jobs=-1)]: Done 1717 tasks      | elapsed:  9.6min
[Parallel(n_jobs=-1)]: Done 1776 tasks      | elapsed:  9.8min
[Parallel(n_jobs=-1)]: Done 1837 tasks      | elapsed: 10.1min
[Parallel(n_jobs=-1)]: Done 1898 tasks      | elapsed: 10.4min
[Parallel(n_jobs=-1)]: Done 1961 tasks      | elapsed: 10.7min
[Parallel(n_jobs=-1)]: Done 2024 tasks      | elapsed: 10.9min
[Parallel(n_jobs=-1)]: Done 2089 tasks      | elapsed: 11.3min
[Parallel(n_jobs=-1)]: Done 2154 tasks      | elapsed: 11.6min
[Parallel(n_jobs=-1)]: Done 2221 tasks      | elapsed: 12.0min
[Parallel(n_jobs=-1)]: Done 2288 tasks      | elapsed: 12.3min
[Parallel(n_jobs=-1)]: Done 2357 tasks      | elapsed: 12.8min
[Parallel(n_jobs=-1)]: Done 2426 tasks      | elapsed: 13.2min
[Parallel(n_jobs=-1)]: Done 2497 tasks      | elapsed: 13.7min
[Parallel(n_jobs=-1)]: Done 2568 tasks      | elapsed: 14.1min
[Parallel(n_jobs=-1)]: Done 2641 tasks      | elapsed: 14.3min
[Parallel(n_jobs=-1)]: Done 2714 tasks      | elapsed: 14.5min
[Parallel(n_jobs=-1)]: Done 2789 tasks      | elapsed: 14.8min
[Parallel(n_jobs=-1)]: Done 2864 tasks      | elapsed: 15.0min
[Parallel(n_jobs=-1)]: Done 2941 tasks      | elapsed: 15.4min
[Parallel(n_jobs=-1)]: Done 3018 tasks      | elapsed: 15.6min
[Parallel(n_jobs=-1)]: Done 3097 tasks      | elapsed: 15.9min
[Parallel(n_jobs=-1)]: Done 3176 tasks      | elapsed: 16.3min
[Parallel(n_jobs=-1)]: Done 3257 tasks      | elapsed: 16.7min
[Parallel(n_jobs=-1)]: Done 3338 tasks      | elapsed: 17.0min
[Parallel(n_jobs=-1)]: Done 3421 tasks      | elapsed: 17.5min
[Parallel(n_jobs=-1)]: Done 3504 tasks      | elapsed: 17.9min
[Parallel(n_jobs=-1)]: Done 3589 tasks      | elapsed: 18.4min
[Parallel(n_jobs=-1)]: Done 3674 tasks      | elapsed: 18.9min
[Parallel(n_jobs=-1)]: Done 3761 tasks      | elapsed: 19.4min
[Parallel(n_jobs=-1)]: Done 3848 tasks      | elapsed: 19.9min
[Parallel(n_jobs=-1)]: Done 3937 tasks      | elapsed: 20.2min
[Parallel(n_jobs=-1)]: Done 4026 tasks      | elapsed: 20.5min
[Parallel(n_jobs=-1)]: Done 4117 tasks      | elapsed: 20.8min
[Parallel(n_jobs=-1)]: Done 4208 tasks      | elapsed: 21.1min
[Parallel(n_jobs=-1)]: Done 4301 tasks      | elapsed: 21.5min
[Parallel(n_jobs=-1)]: Done 4394 tasks      | elapsed: 21.8min
[Parallel(n_jobs=-1)]: Done 4489 tasks      | elapsed: 22.3min
[Parallel(n_jobs=-1)]: Done 4584 tasks      | elapsed: 22.7min
[Parallel(n_jobs=-1)]: Done 4681 tasks      | elapsed: 23.2min
[Parallel(n_jobs=-1)]: Done 4778 tasks      | elapsed: 23.7min
[Parallel(n_jobs=-1)]: Done 4877 tasks      | elapsed: 24.2min
[Parallel(n_jobs=-1)]: Done 4976 tasks      | elapsed: 24.8min
[Parallel(n_jobs=-1)]: Done 5077 tasks      | elapsed: 25.4min
[Parallel(n_jobs=-1)]: Done 5178 tasks      | elapsed: 25.8min
[Parallel(n_jobs=-1)]: Done 5281 tasks      | elapsed: 26.1min
[Parallel(n_jobs=-1)]: Done 5384 tasks      | elapsed: 26.5min
[Parallel(n_jobs=-1)]: Done 5489 tasks      | elapsed: 26.9min
[Parallel(n_jobs=-1)]: Done 5594 tasks      | elapsed: 27.2min
[Parallel(n_jobs=-1)]: Done 5701 tasks      | elapsed: 27.7min
[Parallel(n_jobs=-1)]: Done 5808 tasks      | elapsed: 28.2min
[Parallel(n_jobs=-1)]: Done 5917 tasks      | elapsed: 28.6min
[Parallel(n_jobs=-1)]: Done 6026 tasks      | elapsed: 29.2min
[Parallel(n_jobs=-1)]: Done 6137 tasks      | elapsed: 29.8min
[Parallel(n_jobs=-1)]: Done 6248 tasks      | elapsed: 30.5min
[Parallel(n_jobs=-1)]: Done 6361 tasks      | elapsed: 31.1min
[Parallel(n_jobs=-1)]: Done 6474 tasks      | elapsed: 31.6min
[Parallel(n_jobs=-1)]: Done 6589 tasks      | elapsed: 31.9min
[Parallel(n_jobs=-1)]: Done 6704 tasks      | elapsed: 32.3min
[Parallel(n_jobs=-1)]: Done 6821 tasks      | elapsed: 32.7min
[Parallel(n_jobs=-1)]: Done 6938 tasks      | elapsed: 33.2min
[Parallel(n_jobs=-1)]: Done 7057 tasks      | elapsed: 33.7min
[Parallel(n_jobs=-1)]: Done 7176 tasks      | elapsed: 34.2min
[Parallel(n_jobs=-1)]: Done 7297 tasks      | elapsed: 34.9min
[Parallel(n_jobs=-1)]: Done 7418 tasks      | elapsed: 35.5min
[Parallel(n_jobs=-1)]: Done 7541 tasks      | elapsed: 36.2min
[Parallel(n_jobs=-1)]: Done 7664 tasks      | elapsed: 36.9min
[Parallel(n_jobs=-1)]: Done 7789 tasks      | elapsed: 37.3min
[Parallel(n_jobs=-1)]: Done 7914 tasks      | elapsed: 37.7min
[Parallel(n_jobs=-1)]: Done 8041 tasks      | elapsed: 38.2min
[Parallel(n_jobs=-1)]: Done 8168 tasks      | elapsed: 38.6min
[Parallel(n_jobs=-1)]: Done 8297 tasks      | elapsed: 39.2min
[Parallel(n_jobs=-1)]: Done 8426 tasks      | elapsed: 39.8min
[Parallel(n_jobs=-1)]: Done 8557 tasks      | elapsed: 40.4min
[Parallel(n_jobs=-1)]: Done 8688 tasks      | elapsed: 41.1min
[Parallel(n_jobs=-1)]: Done 8821 tasks      | elapsed: 41.9min
[Parallel(n_jobs=-1)]: Done 8954 tasks      | elapsed: 42.6min
[Parallel(n_jobs=-1)]: Done 9089 tasks      | elapsed: 43.0min
[Parallel(n_jobs=-1)]: Done 9224 tasks      | elapsed: 43.5min

[Parallel(n_jobs=-1)]: Done 9361 tasks      | elapsed: 44.0min
[Parallel(n_jobs=-1)]: Done 9498 tasks      | elapsed: 44.5min
[Parallel(n_jobs=-1)]: Done 9637 tasks      | elapsed: 45.1min
[Parallel(n_jobs=-1)]: Done 9776 tasks      | elapsed: 45.7min
[Parallel(n_jobs=-1)]: Done 9917 tasks      | elapsed: 46.4min
[Parallel(n_jobs=-1)]: Done 10058 tasks      | elapsed: 47.2min
[Parallel(n_jobs=-1)]: Done 10201 tasks      | elapsed: 48.0min
[Parallel(n_jobs=-1)]: Done 10344 tasks      | elapsed: 48.6min
[Parallel(n_jobs=-1)]: Done 10489 tasks      | elapsed: 49.0min
[Parallel(n_jobs=-1)]: Done 10634 tasks      | elapsed: 49.5min
[Parallel(n_jobs=-1)]: Done 10781 tasks      | elapsed: 50.1min
[Parallel(n_jobs=-1)]: Done 10928 tasks      | elapsed: 50.7min
[Parallel(n_jobs=-1)]: Done 11077 tasks      | elapsed: 51.4min
[Parallel(n_jobs=-1)]: Done 11226 tasks      | elapsed: 52.2min
[Parallel(n_jobs=-1)]: Done 11377 tasks      | elapsed: 53.0min
[Parallel(n_jobs=-1)]: Done 11528 tasks      | elapsed: 53.8min
[Parallel(n_jobs=-1)]: Done 11681 tasks      | elapsed: 54.3min
[Parallel(n_jobs=-1)]: Done 11834 tasks      | elapsed: 54.8min
[Parallel(n_jobs=-1)]: Done 11989 tasks      | elapsed: 55.4min
[Parallel(n_jobs=-1)]: Done 12144 tasks      | elapsed: 56.0min
[Parallel(n_jobs=-1)]: Done 12301 tasks      | elapsed: 56.7min
[Parallel(n_jobs=-1)]: Done 12458 tasks      | elapsed: 57.5min
[Parallel(n_jobs=-1)]: Done 12617 tasks      | elapsed: 58.4min
[Parallel(n_jobs=-1)]: Done 12776 tasks      | elapsed: 59.2min
[Parallel(n_jobs=-1)]: Done 12937 tasks      | elapsed: 59.8min
[Parallel(n_jobs=-1)]: Done 13098 tasks      | elapsed: 60.3min
[Parallel(n_jobs=-1)]: Done 13261 tasks      | elapsed: 60.9min
[Parallel(n_jobs=-1)]: Done 13424 tasks      | elapsed: 61.6min
[Parallel(n_jobs=-1)]: Done 13589 tasks      | elapsed: 62.3min
[Parallel(n_jobs=-1)]: Done 13754 tasks      | elapsed: 63.2min
[Parallel(n_jobs=-1)]: Done 13921 tasks      | elapsed: 64.1min
[Parallel(n_jobs=-1)]: Done 14088 tasks      | elapsed: 65.0min
[Parallel(n_jobs=-1)]: Done 14257 tasks      | elapsed: 65.6min
[Parallel(n_jobs=-1)]: Done 14426 tasks      | elapsed: 66.1min
[Parallel(n_jobs=-1)]: Done 14597 tasks      | elapsed: 66.8min
[Parallel(n_jobs=-1)]: Done 14768 tasks      | elapsed: 67.5min
[Parallel(n_jobs=-1)]: Done 14941 tasks      | elapsed: 68.3min
[Parallel(n_jobs=-1)]: Done 15114 tasks      | elapsed: 69.2min
[Parallel(n_jobs=-1)]: Done 15289 tasks      | elapsed: 70.2min
[Parallel(n_jobs=-1)]: Done 15464 tasks      | elapsed: 70.9min
[Parallel(n_jobs=-1)]: Done 15641 tasks      | elapsed: 71.5min
[Parallel(n_jobs=-1)]: Done 15818 tasks      | elapsed: 72.1min
[Parallel(n_jobs=-1)]: Done 15997 tasks      | elapsed: 72.9min
[Parallel(n_jobs=-1)]: Done 16176 tasks      | elapsed: 73.7min
[Parallel(n_jobs=-1)]: Done 16357 tasks      | elapsed: 74.6min
[Parallel(n_jobs=-1)]: Done 16538 tasks      | elapsed: 75.6min
[Parallel(n_jobs=-1)]: Done 16721 tasks      | elapsed: 76.4min
[Parallel(n_jobs=-1)]: Done 16904 tasks      | elapsed: 77.0min
[Parallel(n_jobs=-1)]: Done 17089 tasks      | elapsed: 77.7min
[Parallel(n_jobs=-1)]: Done 17274 tasks      | elapsed: 78.5min
[Parallel(n_jobs=-1)]: Done 17461 tasks      | elapsed: 79.3min
[Parallel(n_jobs=-1)]: Done 17648 tasks      | elapsed: 80.2min
[Parallel(n_jobs=-1)]: Done 17837 tasks      | elapsed: 81.3min
[Parallel(n_jobs=-1)]: Done 18026 tasks      | elapsed: 82.1min
[Parallel(n_jobs=-1)]: Done 18217 tasks      | elapsed: 82.7min
[Parallel(n_jobs=-1)]: Done 18408 tasks      | elapsed: 83.4min
[Parallel(n_jobs=-1)]: Done 18601 tasks      | elapsed: 84.2min
[Parallel(n_jobs=-1)]: Done 18794 tasks      | elapsed: 85.1min
[Parallel(n_jobs=-1)]: Done 18989 tasks      | elapsed: 86.1min
[Parallel(n_jobs=-1)]: Done 19184 tasks      | elapsed: 87.2min
[Parallel(n_jobs=-1)]: Done 19381 tasks      | elapsed: 87.9min
[Parallel(n_jobs=-1)]: Done 19578 tasks      | elapsed: 88.6min
[Parallel(n_jobs=-1)]: Done 19777 tasks      | elapsed: 89.3min
[Parallel(n_jobs=-1)]: Done 19976 tasks      | elapsed: 90.2min
[Parallel(n_jobs=-1)]: Done 20177 tasks      | elapsed: 91.2min
[Parallel(n_jobs=-1)]: Done 20378 tasks      | elapsed: 92.3min
[Parallel(n_jobs=-1)]: Done 20581 tasks      | elapsed: 93.1min
[Parallel(n_jobs=-1)]: Done 20784 tasks      | elapsed: 93.8min
[Parallel(n_jobs=-1)]: Done 20989 tasks      | elapsed: 94.6min
[Parallel(n_jobs=-1)]: Done 21194 tasks      | elapsed: 95.4min
[Parallel(n_jobs=-1)]: Done 21401 tasks      | elapsed: 96.4min
[Parallel(n_jobs=-1)]: Done 21608 tasks      | elapsed: 97.5min
[Parallel(n_jobs=-1)]: Done 21817 tasks      | elapsed: 98.6min
[Parallel(n_jobs=-1)]: Done 22026 tasks      | elapsed: 99.2min
[Parallel(n_jobs=-1)]: Done 22237 tasks      | elapsed: 100.0min
[Parallel(n_jobs=-1)]: Done 22448 tasks      | elapsed: 100.9min
[Parallel(n_jobs=-1)]: Done 22661 tasks      | elapsed: 101.9min
[Parallel(n_jobs=-1)]: Done 22874 tasks      | elapsed: 103.0min
[Parallel(n_jobs=-1)]: Done 23089 tasks      | elapsed: 104.1min
[Parallel(n_jobs=-1)]: Done 23304 tasks      | elapsed: 104.7min
[Parallel(n_jobs=-1)]: Done 23521 tasks      | elapsed: 105.5min
[Parallel(n_jobs=-1)]: Done 23738 tasks      | elapsed: 106.5min
[Parallel(n_jobs=-1)]: Done 23957 tasks      | elapsed: 107.5min
[Parallel(n_jobs=-1)]: Done 24176 tasks      | elapsed: 108.6min
[Parallel(n_jobs=-1)]: Done 24397 tasks      | elapsed: 109.7min
[Parallel(n_jobs=-1)]: Done 24618 tasks      | elapsed: 110.5min
[Parallel(n_jobs=-1)]: Done 24841 tasks      | elapsed: 111.5min
[Parallel(n_jobs=-1)]: Done 25064 tasks      | elapsed: 112.7min
[Parallel(n_jobs=-1)]: Done 25289 tasks      | elapsed: 114.0min
[Parallel(n_jobs=-1)]: Done 25514 tasks      | elapsed: 115.6min
[Parallel(n_jobs=-1)]: Done 25741 tasks      | elapsed: 116.7min
[Parallel(n_jobs=-1)]: Done 25968 tasks      | elapsed: 117.6min
[Parallel(n_jobs=-1)]: Done 26197 tasks      | elapsed: 118.6min
[Parallel(n_jobs=-1)]: Done 26426 tasks      | elapsed: 119.9min
[Parallel(n_jobs=-1)]: Done 26657 tasks      | elapsed: 121.3min
[Parallel(n_jobs=-1)]: Done 26888 tasks      | elapsed: 122.8min
[Parallel(n_jobs=-1)]: Done 27121 tasks      | elapsed: 123.7min
[Parallel(n_jobs=-1)]: Done 27354 tasks      | elapsed: 124.6min
[Parallel(n_jobs=-1)]: Done 27589 tasks      | elapsed: 125.8min
[Parallel(n_jobs=-1)]: Done 27824 tasks      | elapsed: 127.1min
[Parallel(n_jobs=-1)]: Done 28061 tasks      | elapsed: 128.7min
[Parallel(n_jobs=-1)]: Done 28298 tasks      | elapsed: 129.9min
[Parallel(n_jobs=-1)]: Done 28537 tasks      | elapsed: 130.8min
[Parallel(n_jobs=-1)]: Done 28776 tasks      | elapsed: 131.8min
[Parallel(n_jobs=-1)]: Done 29017 tasks      | elapsed: 133.1min
[Parallel(n_jobs=-1)]: Done 29258 tasks      | elapsed: 134.6min
[Parallel(n_jobs=-1)]: Done 29501 tasks      | elapsed: 136.0min
[Parallel(n_jobs=-1)]: Done 29744 tasks      | elapsed: 136.9min
[Parallel(n_jobs=-1)]: Done 29989 tasks      | elapsed: 137.9min
[Parallel(n_jobs=-1)]: Done 30234 tasks      | elapsed: 139.1min
[Parallel(n_jobs=-1)]: Done 30481 tasks      | elapsed: 140.6min
[Parallel(n_jobs=-1)]: Done 30728 tasks      | elapsed: 142.2min
[Parallel(n_jobs=-1)]: Done 30977 tasks      | elapsed: 143.1min
[Parallel(n_jobs=-1)]: Done 31226 tasks      | elapsed: 144.1min
[Parallel(n_jobs=-1)]: Done 31477 tasks      | elapsed: 145.4min
[Parallel(n_jobs=-1)]: Done 31728 tasks      | elapsed: 146.8min
[Parallel(n_jobs=-1)]: Done 31981 tasks      | elapsed: 148.4min
[Parallel(n_jobs=-1)]: Done 32234 tasks      | elapsed: 149.3min
[Parallel(n_jobs=-1)]: Done 32489 tasks      | elapsed: 150.4min
[Parallel(n_jobs=-1)]: Done 32744 tasks      | elapsed: 151.6min
[Parallel(n_jobs=-1)]: Done 33001 tasks      | elapsed: 153.0min
[Parallel(n_jobs=-1)]: Done 33258 tasks      | elapsed: 154.7min
[Parallel(n_jobs=-1)]: Done 33517 tasks      | elapsed: 155.6min
[Parallel(n_jobs=-1)]: Done 33776 tasks      | elapsed: 156.7min
[Parallel(n_jobs=-1)]: Done 34037 tasks      | elapsed: 158.0min
[Parallel(n_jobs=-1)]: Done 34298 tasks      | elapsed: 159.5min
[Parallel(n_jobs=-1)]: Done 34561 tasks      | elapsed: 161.1min
[Parallel(n_jobs=-1)]: Done 34824 tasks      | elapsed: 162.0min

[Parallel(n_jobs=-1)]: Done 35089 tasks      | elapsed: 163.1min
[Parallel(n_jobs=-1)]: Done 35354 tasks      | elapsed: 164.4min
[Parallel(n_jobs=-1)]: Done 35621 tasks      | elapsed: 166.0min
[Parallel(n_jobs=-1)]: Done 35888 tasks      | elapsed: 167.6min
[Parallel(n_jobs=-1)]: Done 36157 tasks      | elapsed: 168.5min
[Parallel(n_jobs=-1)]: Done 36426 tasks      | elapsed: 169.7min
[Parallel(n_jobs=-1)]: Done 36697 tasks      | elapsed: 171.1min
[Parallel(n_jobs=-1)]: Done 36968 tasks      | elapsed: 172.7min
[Parallel(n_jobs=-1)]: Done 37241 tasks      | elapsed: 174.1min
[Parallel(n_jobs=-1)]: Done 37514 tasks      | elapsed: 175.1min
[Parallel(n_jobs=-1)]: Done 37789 tasks      | elapsed: 176.4min
[Parallel(n_jobs=-1)]: Done 38064 tasks      | elapsed: 177.9min
[Parallel(n_jobs=-1)]: Done 38341 tasks      | elapsed: 179.6min
[Parallel(n_jobs=-1)]: Done 38618 tasks      | elapsed: 180.7min
[Parallel(n_jobs=-1)]: Done 38897 tasks      | elapsed: 181.8min
[Parallel(n_jobs=-1)]: Done 39176 tasks      | elapsed: 183.1min
[Parallel(n_jobs=-1)]: Done 39457 tasks      | elapsed: 184.7min
[Parallel(n_jobs=-1)]: Done 39738 tasks      | elapsed: 186.4min
[Parallel(n_jobs=-1)]: Done 40021 tasks      | elapsed: 187.4min
[Parallel(n_jobs=-1)]: Done 40304 tasks      | elapsed: 188.7min
[Parallel(n_jobs=-1)]: Done 40589 tasks      | elapsed: 190.2min
[Parallel(n_jobs=-1)]: Done 40874 tasks      | elapsed: 191.9min
[Parallel(n_jobs=-1)]: Done 41161 tasks      | elapsed: 193.1min
[Parallel(n_jobs=-1)]: Done 41448 tasks      | elapsed: 194.2min
[Parallel(n_jobs=-1)]: Done 41737 tasks      | elapsed: 195.6min
[Parallel(n_jobs=-1)]: Done 42026 tasks      | elapsed: 197.3min
[Parallel(n_jobs=-1)]: Done 42317 tasks      | elapsed: 198.9min
[Parallel(n_jobs=-1)]: Done 42608 tasks      | elapsed: 200.0min
[Parallel(n_jobs=-1)]: Done 42901 tasks      | elapsed: 201.3min
[Parallel(n_jobs=-1)]: Done 43194 tasks      | elapsed: 202.9min
[Parallel(n_jobs=-1)]: Done 43489 tasks      | elapsed: 204.6min
[Parallel(n_jobs=-1)]: Done 43784 tasks      | elapsed: 205.7min
[Parallel(n_jobs=-1)]: Done 44081 tasks      | elapsed: 207.0min
[Parallel(n_jobs=-1)]: Done 44378 tasks      | elapsed: 208.5min
[Parallel(n_jobs=-1)]: Done 44677 tasks      | elapsed: 210.3min
[Parallel(n_jobs=-1)]: Done 44976 tasks      | elapsed: 211.6min
[Parallel(n_jobs=-1)]: Done 45277 tasks      | elapsed: 212.8min
[Parallel(n_jobs=-1)]: Done 45578 tasks      | elapsed: 214.2min
[Parallel(n_jobs=-1)]: Done 45881 tasks      | elapsed: 216.0min
[Parallel(n_jobs=-1)]: Done 46184 tasks      | elapsed: 217.6min
[Parallel(n_jobs=-1)]: Done 46489 tasks      | elapsed: 218.7min
[Parallel(n_jobs=-1)]: Done 46794 tasks      | elapsed: 220.1min
[Parallel(n_jobs=-1)]: Done 47101 tasks      | elapsed: 221.8min
[Parallel(n_jobs=-1)]: Done 47408 tasks      | elapsed: 223.6min
[Parallel(n_jobs=-1)]: Done 47717 tasks      | elapsed: 224.7min
[Parallel(n_jobs=-1)]: Done 48026 tasks      | elapsed: 226.0min
[Parallel(n_jobs=-1)]: Done 48337 tasks      | elapsed: 227.7min
[Parallel(n_jobs=-1)]: Done 48648 tasks      | elapsed: 229.6min
[Parallel(n_jobs=-1)]: Done 48961 tasks      | elapsed: 230.9min
[Parallel(n_jobs=-1)]: Done 49274 tasks      | elapsed: 232.6min
[Parallel(n_jobs=-1)]: Done 49589 tasks      | elapsed: 234.6min
[Parallel(n_jobs=-1)]: Done 49904 tasks      | elapsed: 237.0min
[Parallel(n_jobs=-1)]: Done 50221 tasks      | elapsed: 238.4min
[Parallel(n_jobs=-1)]: Done 50538 tasks      | elapsed: 240.0min
[Parallel(n_jobs=-1)]: Done 50857 tasks      | elapsed: 242.0min
[Parallel(n_jobs=-1)]: Done 51176 tasks      | elapsed: 244.4min
[Parallel(n_jobs=-1)]: Done 51497 tasks      | elapsed: 245.8min
[Parallel(n_jobs=-1)]: Done 51818 tasks      | elapsed: 247.5min
[Parallel(n_jobs=-1)]: Done 52141 tasks      | elapsed: 249.5min
[Parallel(n_jobs=-1)]: Done 52464 tasks      | elapsed: 251.9min
[Parallel(n_jobs=-1)]: Done 52789 tasks      | elapsed: 253.3min
[Parallel(n_jobs=-1)]: Done 53114 tasks      | elapsed: 254.9min
[Parallel(n_jobs=-1)]: Done 53441 tasks      | elapsed: 256.9min
[Parallel(n_jobs=-1)]: Done 53768 tasks      | elapsed: 259.2min
[Parallel(n_jobs=-1)]: Done 54097 tasks      | elapsed: 260.6min
[Parallel(n_jobs=-1)]: Done 54426 tasks      | elapsed: 262.3min
[Parallel(n_jobs=-1)]: Done 54757 tasks      | elapsed: 264.3min
[Parallel(n_jobs=-1)]: Done 55088 tasks      | elapsed: 266.6min
[Parallel(n_jobs=-1)]: Done 55421 tasks      | elapsed: 268.0min
[Parallel(n_jobs=-1)]: Done 55754 tasks      | elapsed: 269.7min
[Parallel(n_jobs=-1)]: Done 56089 tasks      | elapsed: 271.8min
[Parallel(n_jobs=-1)]: Done 56424 tasks      | elapsed: 273.9min
[Parallel(n_jobs=-1)]: Done 56761 tasks      | elapsed: 275.4min
[Parallel(n_jobs=-1)]: Done 57098 tasks      | elapsed: 277.2min
[Parallel(n_jobs=-1)]: Done 57437 tasks      | elapsed: 279.4min
[Parallel(n_jobs=-1)]: Done 57776 tasks      | elapsed: 281.3min
[Parallel(n_jobs=-1)]: Done 58117 tasks      | elapsed: 282.9min
[Parallel(n_jobs=-1)]: Done 58458 tasks      | elapsed: 284.8min
[Parallel(n_jobs=-1)]: Done 58801 tasks      | elapsed: 287.2min
[Parallel(n_jobs=-1)]: Done 59144 tasks      | elapsed: 288.8min
[Parallel(n_jobs=-1)]: Done 59489 tasks      | elapsed: 290.5min
[Parallel(n_jobs=-1)]: Done 59834 tasks      | elapsed: 292.6min
[Parallel(n_jobs=-1)]: Done 60181 tasks      | elapsed: 294.9min
[Parallel(n_jobs=-1)]: Done 60528 tasks      | elapsed: 296.4min
[Parallel(n_jobs=-1)]: Done 60877 tasks      | elapsed: 298.1min
[Parallel(n_jobs=-1)]: Done 61226 tasks      | elapsed: 300.4min
[Parallel(n_jobs=-1)]: Done 61577 tasks      | elapsed: 302.4min
[Parallel(n_jobs=-1)]: Done 61928 tasks      | elapsed: 304.0min
[Parallel(n_jobs=-1)]: Done 62281 tasks      | elapsed: 305.9min
[Parallel(n_jobs=-1)]: Done 62634 tasks      | elapsed: 308.3min
[Parallel(n_jobs=-1)]: Done 62989 tasks      | elapsed: 310.0min
[Parallel(n_jobs=-1)]: Done 63344 tasks      | elapsed: 311.8min
[Parallel(n_jobs=-1)]: Done 63701 tasks      | elapsed: 313.9min
[Parallel(n_jobs=-1)]: Done 64058 tasks      | elapsed: 316.2min
[Parallel(n_jobs=-1)]: Done 64417 tasks      | elapsed: 317.7min
[Parallel(n_jobs=-1)]: Done 64776 tasks      | elapsed: 319.6min
[Parallel(n_jobs=-1)]: Done 65137 tasks      | elapsed: 322.0min
[Parallel(n_jobs=-1)]: Done 65498 tasks      | elapsed: 323.9min
[Parallel(n_jobs=-1)]: Done 65861 tasks      | elapsed: 325.6min
[Parallel(n_jobs=-1)]: Done 66224 tasks      | elapsed: 327.7min
[Parallel(n_jobs=-1)]: Done 66589 tasks      | elapsed: 330.1min
[Parallel(n_jobs=-1)]: Done 66954 tasks      | elapsed: 331.7min
[Parallel(n_jobs=-1)]: Done 67321 tasks      | elapsed: 333.6min
[Parallel(n_jobs=-1)]: Done 67688 tasks      | elapsed: 336.0min
[Parallel(n_jobs=-1)]: Done 68057 tasks      | elapsed: 337.9min
[Parallel(n_jobs=-1)]: Done 68426 tasks      | elapsed: 339.6min
[Parallel(n_jobs=-1)]: Done 68797 tasks      | elapsed: 341.8min
[Parallel(n_jobs=-1)]: Done 69168 tasks      | elapsed: 344.3min
[Parallel(n_jobs=-1)]: Done 69541 tasks      | elapsed: 345.8min
[Parallel(n_jobs=-1)]: Done 69914 tasks      | elapsed: 347.8min
[Parallel(n_jobs=-1)]: Done 70289 tasks      | elapsed: 350.3min
[Parallel(n_jobs=-1)]: Done 70664 tasks      | elapsed: 352.1min
[Parallel(n_jobs=-1)]: Done 71041 tasks      | elapsed: 353.9min
[Parallel(n_jobs=-1)]: Done 71418 tasks      | elapsed: 356.2min
[Parallel(n_jobs=-1)]: Done 71797 tasks      | elapsed: 358.5min
[Parallel(n_jobs=-1)]: Done 72176 tasks      | elapsed: 360.1min
[Parallel(n_jobs=-1)]: Done 72557 tasks      | elapsed: 362.3min
[Parallel(n_jobs=-1)]: Done 72938 tasks      | elapsed: 364.8min
[Parallel(n_jobs=-1)]: Done 73321 tasks      | elapsed: 366.7min
[Parallel(n_jobs=-1)]: Done 73704 tasks      | elapsed: 369.0min
[Parallel(n_jobs=-1)]: Done 74089 tasks      | elapsed: 372.0min
[Parallel(n_jobs=-1)]: Done 74474 tasks      | elapsed: 374.3min
[Parallel(n_jobs=-1)]: Done 74861 tasks      | elapsed: 376.5min
[Parallel(n_jobs=-1)]: Done 75248 tasks      | elapsed: 379.2min
[Parallel(n_jobs=-1)]: Done 75637 tasks      | elapsed: 382.0min
[Parallel(n_jobs=-1)]: Done 76026 tasks      | elapsed: 383.9min
[Parallel(n_jobs=-1)]: Done 76417 tasks      | elapsed: 386.4min

[Parallel(n_jobs=-1)]: Done 76808 tasks      | elapsed: 389.5min
[Parallel(n_jobs=-1)]: Done 77201 tasks      | elapsed: 391.3min
[Parallel(n_jobs=-1)]: Done 77594 tasks      | elapsed: 393.6min
[Parallel(n_jobs=-1)]: Done 77989 tasks      | elapsed: 396.6min
[Parallel(n_jobs=-1)]: Done 78384 tasks      | elapsed: 398.7min
[Parallel(n_jobs=-1)]: Done 78781 tasks      | elapsed: 400.9min
[Parallel(n_jobs=-1)]: Done 79178 tasks      | elapsed: 403.8min
[Parallel(n_jobs=-1)]: Done 79577 tasks      | elapsed: 406.1min
[Parallel(n_jobs=-1)]: Done 79976 tasks      | elapsed: 408.2min
[Parallel(n_jobs=-1)]: Done 80377 tasks      | elapsed: 411.0min
[Parallel(n_jobs=-1)]: Done 80778 tasks      | elapsed: 413.6min
[Parallel(n_jobs=-1)]: Done 81181 tasks      | elapsed: 415.6min
[Parallel(n_jobs=-1)]: Done 81584 tasks      | elapsed: 418.2min
[Parallel(n_jobs=-1)]: Done 81989 tasks      | elapsed: 421.1min
[Parallel(n_jobs=-1)]: Done 82394 tasks      | elapsed: 423.0min
[Parallel(n_jobs=-1)]: Done 82801 tasks      | elapsed: 425.6min
[Parallel(n_jobs=-1)]: Done 83208 tasks      | elapsed: 428.6min
[Parallel(n_jobs=-1)]: Done 83617 tasks      | elapsed: 430.5min
[Parallel(n_jobs=-1)]: Done 84026 tasks      | elapsed: 433.0min
[Parallel(n_jobs=-1)]: Done 84437 tasks      | elapsed: 436.0min
[Parallel(n_jobs=-1)]: Done 84848 tasks      | elapsed: 438.0min
[Parallel(n_jobs=-1)]: Done 85261 tasks      | elapsed: 440.3min
[Parallel(n_jobs=-1)]: Done 85674 tasks      | elapsed: 443.4min
[Parallel(n_jobs=-1)]: Done 86089 tasks      | elapsed: 445.5min
[Parallel(n_jobs=-1)]: Done 86504 tasks      | elapsed: 447.8min
[Parallel(n_jobs=-1)]: Done 86921 tasks      | elapsed: 450.9min
[Parallel(n_jobs=-1)]: Done 87338 tasks      | elapsed: 453.1min
[Parallel(n_jobs=-1)]: Done 87757 tasks      | elapsed: 455.4min
[Parallel(n_jobs=-1)]: Done 88176 tasks      | elapsed: 458.4min
[Parallel(n_jobs=-1)]: Done 88597 tasks      | elapsed: 460.7min
[Parallel(n_jobs=-1)]: Done 89018 tasks      | elapsed: 463.0min
[Parallel(n_jobs=-1)]: Done 89441 tasks      | elapsed: 466.0min
[Parallel(n_jobs=-1)]: Done 89864 tasks      | elapsed: 468.3min
[Parallel(n_jobs=-1)]: Done 90289 tasks      | elapsed: 470.7min
[Parallel(n_jobs=-1)]: Done 90714 tasks      | elapsed: 473.6min
[Parallel(n_jobs=-1)]: Done 91141 tasks      | elapsed: 476.0min
[Parallel(n_jobs=-1)]: Done 91568 tasks      | elapsed: 478.3min
[Parallel(n_jobs=-1)]: Done 91997 tasks      | elapsed: 481.3min
[Parallel(n_jobs=-1)]: Done 92426 tasks      | elapsed: 483.7min
[Parallel(n_jobs=-1)]: Done 92857 tasks      | elapsed: 486.1min
[Parallel(n_jobs=-1)]: Done 93288 tasks      | elapsed: 489.0min
[Parallel(n_jobs=-1)]: Done 93721 tasks      | elapsed: 491.4min
[Parallel(n_jobs=-1)]: Done 94154 tasks      | elapsed: 493.8min
[Parallel(n_jobs=-1)]: Done 94589 tasks      | elapsed: 496.9min
[Parallel(n_jobs=-1)]: Done 95024 tasks      | elapsed: 499.2min
[Parallel(n_jobs=-1)]: Done 95461 tasks      | elapsed: 501.7min
[Parallel(n_jobs=-1)]: Done 95898 tasks      | elapsed: 504.8min
[Parallel(n_jobs=-1)]: Done 96337 tasks      | elapsed: 507.0min
[Parallel(n_jobs=-1)]: Done 96776 tasks      | elapsed: 509.5min
[Parallel(n_jobs=-1)]: Done 97217 tasks      | elapsed: 512.7min
[Parallel(n_jobs=-1)]: Done 97280 out of 97280 | elapsed: 513.2min finished

GridSearchCV(cv=2,
             estimator=XGBClassifier(base_score=None, booster=None,
                                     colsample_bylevel=None,
                                     colsample_bynode=None,
                                     colsample_bytree=None,
                                     eval_metric='logloss', gamma=None,
                                     gpu_id=None, importance_type='gain',
                                     interaction_constraints=None,
                                     learning_rate=None, max_delta_step=None,
                                     max_depth=None, min_child_weight=None,
                                     missing=nan, monotone_constraints=None,
                                     n...
             param_grid={'colsample_bytree': array([0.5 , 0.65, 0.8 , 0.95]),
                         'learning_rate': array([0.005, 0.01 , 0.015, 0.02 , 0.025, 0.03 , 0.035, 0.04 , 0.045,
       0.05 , 0.055, 0.06 , 0.065, 0.07 , 0.075, 0.08 , 0.085, 0.09 ,
       0.095]),
                         'max_depth': array([5, 6, 7, 8, 9]),
                         'min_child_weight': [0.3, 0.5, 0.7, 1],
                         'n_estimators': array([ 50, 100, 150, 200, 250, 300, 350, 400]),
                         'subsample': array([0.5 , 0.65, 0.8 , 0.95])},
             scoring='neg_log_loss', verbose=10)

In [86]:
model.best_params_

{'colsample_bytree': 0.5,
 'learning_rate': 0.065,
 'max_depth': 5,
 'min_child_weight': 0.7,
 'n_estimators': 100,
 'subsample': 0.5}

In [87]:
model.best_score_

-0.4603801469320885

In [93]:
df = pd.DataFrame(model.cv_results_)
top5 = df.nlargest(5,'mean_test_score')
top5.loc[7748,'params']

{'colsample_bytree': 0.5,
 'learning_rate': 0.065,
 'max_depth': 5,
 'min_child_weight': 0.7,
 'n_estimators': 100,
 'subsample': 0.5}

In [94]:
top5.loc[10400,'params']

{'colsample_bytree': 0.5,
 'learning_rate': 0.085,
 'max_depth': 6,
 'min_child_weight': 0.5,
 'n_estimators': 50,
 'subsample': 0.5}