In [33]:
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

In [34]:
#Limpieza del dataset como en TP1

oportunidades = pd.read_csv("Train_TP2_Datos_2020-2C.csv")
oportunidades['Account_Created_Date'] = pd.to_datetime(oportunidades['Account_Created_Date'])
oportunidades['Opportunity_Created_Date'] = pd.to_datetime(oportunidades['Opportunity_Created_Date'])
oportunidades['Quote_Expiry_Date'] = pd.to_datetime(oportunidades['Quote_Expiry_Date'])
oportunidades['Last_Modified_Date'] = pd.to_datetime(oportunidades['Last_Modified_Date'])
oportunidades['Planned_Delivery_Start_Date'] = pd.to_datetime(oportunidades['Planned_Delivery_Start_Date'])
oportunidades['Planned_Delivery_End_Date'] = pd.to_datetime(oportunidades['Planned_Delivery_End_Date'])
oportunidades_japon = (oportunidades.loc[oportunidades['Region'] == 'Japan'])
oportunidades = (oportunidades.loc[oportunidades['Region'] != 'Japan'])
#oportunidades_japon = oportunidades_japon.iloc[:,:3]
oportunidades_japon['Territory'] = oportunidades_japon['Territory'].replace({'None':'Japan'})
oportunidades = pd.concat([oportunidades, oportunidades_japon], axis=0)
oportunidades['Region'] = oportunidades['Region'].replace({'Japan':'APAC', 'Middle East':'EMEA'})
oportunidades[oportunidades.select_dtypes(['object']).columns] = oportunidades.select_dtypes(['object']).apply(lambda x: x.astype('category'))
oportunidades = oportunidades.loc[oportunidades['Territory'] != 'None']
oportunidades = oportunidades.dropna()
oportunidades

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
2,27446,Americas,NW America,0,0,0,0,0,Bureaucratic_Code_4,2015-04-21,...,Q1,2016,NaT,0,USD,83865.6,USD,83865.6,Closed Won,Prod_Category_A_None
4,16805,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,2013-07-27,...,Q1,2018,NaT,25,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None
5,16802,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,2013-07-27,...,Q1,2018,NaT,28,USD,14838277.5,USD,14838277.5,Closed Lost,Prod_Category_A_None
7,27455,Americas,NW America,1,1,1,1,0,Bureaucratic_Code_4,2015-04-21,...,Q1,2016,NaT,0,USD,50688.0,USD,50688.0,Closed Won,Prod_Category_A_None
23,28524,APAC,India,1,1,1,1,0,Bureaucratic_Code_4,2015-10-13,...,Q1,2016,NaT,3,USD,1621851.0,USD,1621851.0,Closed Won,Prod_Category_A_None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16922,18519,APAC,Japan,1,1,1,1,0,Bureaucratic_Code_4,2013-07-28,...,Q1,2016,NaT,0,USD,13200.0,USD,6422400.6,Closed Won,Prod_Category_A_None
16923,27689,APAC,Japan,1,1,0,0,0,Bureaucratic_Code_4,2015-06-11,...,Q1,2016,NaT,0,JPY,12194000.0,JPY,12194000.0,Closed Won,Prod_Category_A_None
16924,27688,APAC,Japan,1,1,0,0,0,Bureaucratic_Code_4,2015-06-11,...,Q1,2016,NaT,0,JPY,11959500.0,JPY,11959500.0,Closed Won,Prod_Category_A_None
16925,19062,APAC,Japan,0,0,0,0,0,Bureaucratic_Code_4,2013-08-11,...,Q1,2016,NaT,0,JPY,17537000.0,JPY,17537000.0,Closed Won,Prod_Category_A_None
16926,19066,APAC,Japan,1,1,1,1,0,Bureaucratic_Code_4,2013-08-11,...,Q1,2016,NaT,0,JPY,13860000.0,JPY,13860000.0,Closed Won,Prod_Category_A_None

In [35]:
#Añadimos la columna binaria de si es aprobada o no.

filtro_terminos_entrega = oportunidades['Pricing, Delivery_Terms_Quote_Appr']\
     == oportunidades['Pricing, Delivery_Terms_Approved']

filtro_codigo_burocratico = oportunidades['Bureaucratic_Code_0_Approval']\
     == oportunidades['Bureaucratic_Code_0_Approved']

oportunidades = oportunidades.drop(['Pricing, Delivery_Terms_Quote_Appr'\
    ,'Pricing, Delivery_Terms_Approved', 'Bureaucratic_Code_0_Approval'\
        , 'Bureaucratic_Code_0_Approved', 'Submitted_for_Approval'], axis = 'columns')

oportunidades_posibles = (filtro_terminos_entrega & filtro_codigo_burocratico)

oportunidades.insert(3,'Es_Oportunidad_Posible', oportunidades_posibles)

oportunidades['Es_Oportunidad_Posible'] = oportunidades['Es_Oportunidad_Posible'].replace(
    {True:1, False:0})
oportunidades.head()

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
2,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,Q1,2016,NaT,0,USD,83865.6,USD,83865.6,Closed Won,Prod_Category_A_None
4,16805,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_851,...,Q1,2018,NaT,25,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None
5,16802,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_939,...,Q1,2018,NaT,28,USD,14838277.5,USD,14838277.5,Closed Lost,Prod_Category_A_None
7,27455,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8227,...,Q1,2016,NaT,0,USD,50688.0,USD,50688.0,Closed Won,Prod_Category_A_None
23,28524,APAC,India,1,Bureaucratic_Code_4,2015-10-13,None,India,Account_Name_1147,Opportunity_Name_7036,...,Q1,2016,NaT,3,USD,1621851.0,USD,1621851.0,Closed Won,Prod_Category_A_None

In [36]:
#Encoding de los vendedores con mean encoding respecto del total amount.
encoding_owners = oportunidades.groupby('Opportunity_Owner').agg({'Total_Amount':'mean'})
encoding_owners.columns = ['Encoding_Vendedor']
encoding_owners = encoding_owners.reset_index()
oportunidades = oportunidades.merge(encoding_owners, how='inner', on='Opportunity_Owner')
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A,Encoding_Vendedor
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,2016,NaT,0,USD,83865.6,USD,83865.6,Closed Won,Prod_Category_A_None,2.232794e+06
1,16805,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_851,...,2018,NaT,25,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None,2.232794e+06
2,16802,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_939,...,2018,NaT,28,USD,14838277.5,USD,14838277.5,Closed Lost,Prod_Category_A_None,2.232794e+06
3,27455,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8227,...,2016,NaT,0,USD,50688.0,USD,50688.0,Closed Won,Prod_Category_A_None,2.232794e+06
4,21750,Americas,NE America,1,Bureaucratic_Code_4,2013-07-27,Source_11,United States,Account_Name_25,Opportunity_Name_1814,...,2017,NaT,0,USD,11961.6,USD,0.0,Closed Won,Prod_Category_A_None,2.232794e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9720,28141,APAC,Japan,1,Bureaucratic_Code_4,2015-07-03,None,Japan,Account_Name_702,Opportunity_Name_4988,...,2018,NaT,1,JPY,38976000.0,JPY,38976000.0,Closed Lost,Prod_Category_A_None,5.688996e+07
9721,28084,APAC,Japan,1,Bureaucratic_Code_4,2015-07-03,None,Japan,Account_Name_702,Opportunity_Name_4989,...,2018,NaT,1,JPY,56028000.0,JPY,56028000.0,Closed Lost,Prod_Category_A_None,5.688996e+07
9722,28181,APAC,Japan,1,Bureaucratic_Code_1,2015-07-03,None,Japan,Account_Name_702,Opportunity_Name_4994,...,2018,NaT,0,JPY,7660800.0,JPY,7660800.0,Closed Lost,Prod_Category_A_None,5.688996e+07
9723,28182,APAC,Japan,1,Bureaucratic_Code_4,2015-07-03,None,Japan,Account_Name_702,Opportunity_Name_8661,...,2019,NaT,0,JPY,825000.0,JPY,825000.0,Closed Won,Prod_Category_A_None,5.688996e+07
9724,28164,APAC,Japan,1,Bureaucratic_Code_1,2015-07-03,None,Japan,Account_Name_702,Opportunity_Name_4995,...,2018,NaT,5,JPY,180960000.0,JPY,180960000.0,Closed Lost,Prod_Category_A_None,5.688996e+07

In [37]:
#Encoding de los territorios en base al total amount
encoding_territory = oportunidades.groupby('Territory').agg({'Total_Amount' : 'mean'})
encoding_territory.columns = ['Encoding_Territorio']
encoding_territory = encoding_territory.reset_index()
oportunidades = oportunidades.merge(encoding_territory, how='inner', on='Territory')
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A,Encoding_Vendedor,Encoding_Territorio
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,NaT,0,USD,83865.6,USD,83865.6,Closed Won,Prod_Category_A_None,2.232794e+06,1.534896e+06
1,16805,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_851,...,NaT,25,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None,2.232794e+06,1.534896e+06
2,16802,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_939,...,NaT,28,USD,14838277.5,USD,14838277.5,Closed Lost,Prod_Category_A_None,2.232794e+06,1.534896e+06
3,27455,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8227,...,NaT,0,USD,50688.0,USD,50688.0,Closed Won,Prod_Category_A_None,2.232794e+06,1.534896e+06
4,21527,Americas,NW America,1,Bureaucratic_Code_4,2013-07-27,Source_11,United States,Account_Name_25,Opportunity_Name_1828,...,NaT,0,USD,2814.0,USD,2814.0,Closed Won,Prod_Category_A_None,2.232794e+06,1.534896e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9720,14862,APAC,New Zealand,0,Bureaucratic_Code_5,2017-05-23,Source_7,New Zealand,Account_Name_1857,Opportunity_Name_11725,...,NaT,0,USD,28875.0,USD,147262.5,Closed Won,Prod_Category_A_None,3.610676e+06,3.498250e+04
9721,14868,APAC,New Zealand,0,Bureaucratic_Code_5,2017-05-23,Source_7,New Zealand,Account_Name_1857,Opportunity_Name_11725,...,NaT,0,USD,28875.0,USD,147262.5,Closed Won,Prod_Category_A_None,3.610676e+06,3.498250e+04
9722,14873,APAC,New Zealand,0,Bureaucratic_Code_5,2017-05-23,Source_7,New Zealand,Account_Name_1857,Opportunity_Name_11725,...,NaT,0,USD,28875.0,USD,147262.5,Closed Won,Prod_Category_A_None,3.610676e+06,3.498250e+04
9723,14879,APAC,New Zealand,0,Bureaucratic_Code_5,2017-05-23,Source_7,New Zealand,Account_Name_1857,Opportunity_Name_11725,...,NaT,0,USD,28875.0,USD,147262.5,Closed Won,Prod_Category_A_None,3.610676e+06,3.498250e+04
9724,23555,EMEA,Egypt,0,Bureaucratic_Code_5,2014-12-10,Source_13,Egypt,Account_Name_1431,Opportunity_Name_341,...,NaT,0,USD,9375.0,USD,9375.0,Closed Lost,Prod_Category_A_None,2.311700e+04,9.375000e+03

In [38]:
#Encoding de las regiones en base al total amount
encoding_region = oportunidades.groupby('Region').agg({'Total_Amount' : 'mean'})
encoding_region.columns = ['Encoding_Region']
encoding_region = encoding_region.reset_index()
oportunidades = oportunidades.merge(encoding_region, how='inner', on='Region')
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A,Encoding_Vendedor,Encoding_Territorio,Encoding_Region
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,0,USD,83865.6,USD,83865.6,Closed Won,Prod_Category_A_None,2.232794e+06,1.534896e+06,2.250980e+06
1,16805,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_851,...,25,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None,2.232794e+06,1.534896e+06,2.250980e+06
2,16802,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_939,...,28,USD,14838277.5,USD,14838277.5,Closed Lost,Prod_Category_A_None,2.232794e+06,1.534896e+06,2.250980e+06
3,27455,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8227,...,0,USD,50688.0,USD,50688.0,Closed Won,Prod_Category_A_None,2.232794e+06,1.534896e+06,2.250980e+06
4,21527,Americas,NW America,1,Bureaucratic_Code_4,2013-07-27,Source_11,United States,Account_Name_25,Opportunity_Name_1828,...,0,USD,2814.0,USD,2814.0,Closed Won,Prod_Category_A_None,2.232794e+06,1.534896e+06,2.250980e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9720,14857,APAC,New Zealand,0,Bureaucratic_Code_5,2017-05-23,Source_7,New Zealand,Account_Name_1857,Opportunity_Name_11725,...,0,USD,31762.5,USD,147262.5,Closed Won,Prod_Category_A_None,3.610676e+06,3.498250e+04,2.951944e+06
9721,14862,APAC,New Zealand,0,Bureaucratic_Code_5,2017-05-23,Source_7,New Zealand,Account_Name_1857,Opportunity_Name_11725,...,0,USD,28875.0,USD,147262.5,Closed Won,Prod_Category_A_None,3.610676e+06,3.498250e+04,2.951944e+06
9722,14868,APAC,New Zealand,0,Bureaucratic_Code_5,2017-05-23,Source_7,New Zealand,Account_Name_1857,Opportunity_Name_11725,...,0,USD,28875.0,USD,147262.5,Closed Won,Prod_Category_A_None,3.610676e+06,3.498250e+04,2.951944e+06
9723,14873,APAC,New Zealand,0,Bureaucratic_Code_5,2017-05-23,Source_7,New Zealand,Account_Name_1857,Opportunity_Name_11725,...,0,USD,28875.0,USD,147262.5,Closed Won,Prod_Category_A_None,3.610676e+06,3.498250e+04,2.951944e+06
9724,14879,APAC,New Zealand,0,Bureaucratic_Code_5,2017-05-23,Source_7,New Zealand,Account_Name_1857,Opportunity_Name_11725,...,0,USD,28875.0,USD,147262.5,Closed Won,Prod_Category_A_None,3.610676e+06,3.498250e+04,2.951944e+06

In [39]:
#Encoding del tipo de moneda en base al mean del ASP
encoding_moneda = oportunidades.groupby('Total_Amount_Currency').agg({'ASP' : 'mean'})
encoding_moneda.columns = ['Encoding_Moneda']
encoding_moneda = encoding_moneda.reset_index()
oportunidades = oportunidades.merge(encoding_moneda, how='inner', on='Total_Amount_Currency')
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A,Encoding_Vendedor,Encoding_Territorio,Encoding_Region,Encoding_Moneda
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,USD,83865.6,USD,83865.6,Closed Won,Prod_Category_A_None,2.232794e+06,1.534896e+06,2.250980e+06,0.421977
1,16805,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_851,...,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None,2.232794e+06,1.534896e+06,2.250980e+06,0.421977
2,16802,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_939,...,USD,14838277.5,USD,14838277.5,Closed Lost,Prod_Category_A_None,2.232794e+06,1.534896e+06,2.250980e+06,0.421977
3,27455,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8227,...,USD,50688.0,USD,50688.0,Closed Won,Prod_Category_A_None,2.232794e+06,1.534896e+06,2.250980e+06,0.421977
4,21527,Americas,NW America,1,Bureaucratic_Code_4,2013-07-27,Source_11,United States,Account_Name_25,Opportunity_Name_1828,...,USD,2814.0,USD,2814.0,Closed Won,Prod_Category_A_None,2.232794e+06,1.534896e+06,2.250980e+06,0.421977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9720,17555,APAC,Australia,1,Bureaucratic_Code_4,2013-10-03,None,Australia,Account_Name_1440,Opportunity_Name_10149,...,AUD,117600.0,AUD,117600.0,Closed Won,Prod_Category_A_None,8.658390e+04,1.042592e+06,2.951944e+06,0.547969
9721,18413,APAC,Australia,1,Bureaucratic_Code_4,2013-07-28,None,Australia,Account_Name_1440,Opportunity_Name_10153,...,AUD,117600.0,AUD,117600.0,Closed Won,Prod_Category_A_None,8.658390e+04,1.042592e+06,2.951944e+06,0.547969
9722,18416,APAC,Australia,1,Bureaucratic_Code_4,2013-07-28,None,Australia,Account_Name_1440,Opportunity_Name_10150,...,AUD,117600.0,AUD,117600.0,Closed Won,Prod_Category_A_None,8.658390e+04,1.042592e+06,2.951944e+06,0.547969
9723,22188,APAC,Australia,1,Bureaucratic_Code_4,2014-09-19,Source_9,Australia,Account_Name_1642,Opportunity_Name_10445,...,AUD,104328.0,USD,0.0,Closed Lost,Prod_Category_A_None,8.658390e+04,1.042592e+06,2.951944e+06,0.547969
9724,22184,APAC,Australia,0,Bureaucratic_Code_2,2014-09-19,Source_9,Australia,Account_Name_1642,Opportunity_Name_10446,...,AUD,93024.0,USD,0.0,Closed Lost,Prod_Category_A_None,8.658390e+04,1.042592e+06,2.951944e+06,0.547969

In [40]:
#Encoding del Bureaucratic_Code en base a Dummies
oportunidades = pd.concat([oportunidades, pd.get_dummies(oportunidades['Bureaucratic_Code'])], axis='columns')
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,Encoding_Territorio,Encoding_Region,Encoding_Moneda,Bureaucratic_Code_0,Bureaucratic_Code_1,Bureaucratic_Code_2,Bureaucratic_Code_3,Bureaucratic_Code_4,Bureaucratic_Code_5,Bureaucratic_Code_6
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,1.534896e+06,2.250980e+06,0.421977,0,0,0,0,1,0,0
1,16805,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_851,...,1.534896e+06,2.250980e+06,0.421977,0,0,0,0,0,1,0
2,16802,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_939,...,1.534896e+06,2.250980e+06,0.421977,0,0,0,0,0,1,0
3,27455,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8227,...,1.534896e+06,2.250980e+06,0.421977,0,0,0,0,1,0,0
4,21527,Americas,NW America,1,Bureaucratic_Code_4,2013-07-27,Source_11,United States,Account_Name_25,Opportunity_Name_1828,...,1.534896e+06,2.250980e+06,0.421977,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9720,17555,APAC,Australia,1,Bureaucratic_Code_4,2013-10-03,None,Australia,Account_Name_1440,Opportunity_Name_10149,...,1.042592e+06,2.951944e+06,0.547969,0,0,0,0,1,0,0
9721,18413,APAC,Australia,1,Bureaucratic_Code_4,2013-07-28,None,Australia,Account_Name_1440,Opportunity_Name_10153,...,1.042592e+06,2.951944e+06,0.547969,0,0,0,0,1,0,0
9722,18416,APAC,Australia,1,Bureaucratic_Code_4,2013-07-28,None,Australia,Account_Name_1440,Opportunity_Name_10150,...,1.042592e+06,2.951944e+06,0.547969,0,0,0,0,1,0,0
9723,22188,APAC,Australia,1,Bureaucratic_Code_4,2014-09-19,Source_9,Australia,Account_Name_1642,Opportunity_Name_10445,...,1.042592e+06,2.951944e+06,0.547969,0,0,0,0,1,0,0
9724,22184,APAC,Australia,0,Bureaucratic_Code_2,2014-09-19,Source_9,Australia,Account_Name_1642,Opportunity_Name_10446,...,1.042592e+06,2.951944e+06,0.547969,0,0,1,0,0,0,0

In [41]:
#Encoding del Billing Country en base a mean de Total_Amount.
encoding_bill_c = oportunidades.groupby('Billing_Country').agg({'Total_Amount' : 'mean'})
encoding_bill_c.columns = ['Encoding_Billing_Country']
encoding_bill_c = encoding_bill_c.reset_index()
oportunidades = oportunidades.merge(encoding_bill_c, how='inner', on='Billing_Country')
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,Encoding_Region,Encoding_Moneda,Bureaucratic_Code_0,Bureaucratic_Code_1,Bureaucratic_Code_2,Bureaucratic_Code_3,Bureaucratic_Code_4,Bureaucratic_Code_5,Bureaucratic_Code_6,Encoding_Billing_Country
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,2.250980e+06,0.421977,0,0,0,0,1,0,0,2.245889e+06
1,16805,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_851,...,2.250980e+06,0.421977,0,0,0,0,0,1,0,2.245889e+06
2,16802,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_939,...,2.250980e+06,0.421977,0,0,0,0,0,1,0,2.245889e+06
3,27455,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8227,...,2.250980e+06,0.421977,0,0,0,0,1,0,0,2.245889e+06
4,21527,Americas,NW America,1,Bureaucratic_Code_4,2013-07-27,Source_11,United States,Account_Name_25,Opportunity_Name_1828,...,2.250980e+06,0.421977,0,0,0,0,1,0,0,2.245889e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9720,6773,EMEA,Malta,1,Bureaucratic_Code_4,2017-07-13,Source_13,Malta,Account_Name_600,Opportunity_Name_9426,...,8.201907e+05,0.376488,0,0,0,0,1,0,0,4.164458e+06
9721,6779,EMEA,Malta,1,Bureaucratic_Code_4,2017-07-13,Source_13,Malta,Account_Name_600,Opportunity_Name_9496,...,8.201907e+05,0.376488,0,0,0,0,1,0,0,4.164458e+06
9722,6790,EMEA,Malta,1,Bureaucratic_Code_4,2017-07-13,Source_13,Malta,Account_Name_600,Opportunity_Name_4195,...,8.201907e+05,0.376488,0,0,0,0,1,0,0,4.164458e+06
9723,6762,EMEA,Malta,1,Bureaucratic_Code_4,2017-07-13,Source_13,Malta,Account_Name_600,Opportunity_Name_4194,...,8.201907e+05,0.376488,0,0,0,0,1,0,0,4.164458e+06
9724,6768,EMEA,Malta,1,Bureaucratic_Code_4,2017-07-13,Source_13,Malta,Account_Name_600,Opportunity_Name_4194,...,8.201907e+05,0.376488,0,0,0,0,1,0,0,4.164458e+06

In [42]:
#Encoding del Product_Family en base a mean de Total_Amount.
encoding_product_family = oportunidades.groupby('Product_Family').agg({'Total_Amount' : 'mean'})
encoding_product_family.columns = ['Encoding_Prod_Family']
encoding_product_family = encoding_product_family.reset_index()
oportunidades = oportunidades.merge(encoding_product_family, how='inner', on='Product_Family')
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,Encoding_Moneda,Bureaucratic_Code_0,Bureaucratic_Code_1,Bureaucratic_Code_2,Bureaucratic_Code_3,Bureaucratic_Code_4,Bureaucratic_Code_5,Bureaucratic_Code_6,Encoding_Billing_Country,Encoding_Prod_Family
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,0.421977,0,0,0,0,1,0,0,2.245889e+06,69490.525
1,27442,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8543,...,0.421977,0,0,0,0,1,0,0,2.245889e+06,69490.525
2,15713,EMEA,Germany,1,Bureaucratic_Code_4,2013-07-27,None,Germany,Account_Name_1994,Opportunity_Name_12186,...,0.376488,0,0,0,0,1,0,0,8.585832e+05,69490.525
3,16744,EMEA,Spain,1,Bureaucratic_Code_4,2013-07-27,Source_11,Spain,Account_Name_59,Opportunity_Name_9433,...,0.376488,0,0,0,0,1,0,0,1.240120e+06,69490.525
4,15045,APAC,India,0,Bureaucratic_Code_5,2017-05-24,Source_7,India,Account_Name_1983,Opportunity_Name_12179,...,0.421977,0,0,0,0,0,1,0,9.806871e+05,69490.525
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9720,9753,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_3358,...,0.421977,0,0,0,0,1,0,0,1.079523e+05,2197.250
9721,9992,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2744,...,0.421977,0,0,0,0,1,0,0,1.079523e+05,369.600
9722,9859,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_3360,...,0.421977,0,0,0,0,1,0,0,1.079523e+05,2274.300
9723,9163,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2741,...,0.421977,0,0,0,0,1,0,0,1.079523e+05,3456.000
9724,9136,APAC,China (PRC),0,Bureaucratic_Code_2,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2740,...,0.421977,0,0,1,0,0,0,0,1.079523e+05,35708.750

In [43]:
#Encoding con Dummies de Account_Type

oportunidades = pd.concat([oportunidades, pd.get_dummies(oportunidades['Account_Type'])],axis='columns')
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,Bureaucratic_Code_6,Encoding_Billing_Country,Encoding_Prod_Family,Account_Type_0,Account_Type_1,Account_Type_2,Account_Type_4,Account_Type_5,Account_Type_6,None
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,0,2.245889e+06,69490.525,0,0,0,0,1,0,0
1,27442,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8543,...,0,2.245889e+06,69490.525,0,0,0,0,1,0,0
2,15713,EMEA,Germany,1,Bureaucratic_Code_4,2013-07-27,None,Germany,Account_Name_1994,Opportunity_Name_12186,...,0,8.585832e+05,69490.525,1,0,0,0,0,0,0
3,16744,EMEA,Spain,1,Bureaucratic_Code_4,2013-07-27,Source_11,Spain,Account_Name_59,Opportunity_Name_9433,...,0,1.240120e+06,69490.525,1,0,0,0,0,0,0
4,15045,APAC,India,0,Bureaucratic_Code_5,2017-05-24,Source_7,India,Account_Name_1983,Opportunity_Name_12179,...,0,9.806871e+05,69490.525,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9720,9753,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_3358,...,0,1.079523e+05,2197.250,1,0,0,0,0,0,0
9721,9992,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2744,...,0,1.079523e+05,369.600,1,0,0,0,0,0,0
9722,9859,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_3360,...,0,1.079523e+05,2274.300,1,0,0,0,0,0,0
9723,9163,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2741,...,0,1.079523e+05,3456.000,1,0,0,0,0,0,0
9724,9136,APAC,China (PRC),0,Bureaucratic_Code_2,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2740,...,0,1.079523e+05,35708.750,1,0,0,0,0,0,0

In [44]:
#Encoding de Delivery Terms en base a Dummies
oportunidades = pd.concat([oportunidades,pd.get_dummies(oportunidades['Delivery_Terms'])],axis='columns')
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,None,Delivery_Terms_0,Delivery_Terms_1,Delivery_Terms_2,Delivery_Terms_3,Delivery_Terms_4,Delivery_Terms_5,Delivery_Terms_6,Delivery_Terms_7,Delivery_Terms_8
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,0,0,0,0,0,1,0,0,0,0
1,27442,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8543,...,0,0,0,0,0,1,0,0,0,0
2,15713,EMEA,Germany,1,Bureaucratic_Code_4,2013-07-27,None,Germany,Account_Name_1994,Opportunity_Name_12186,...,0,0,0,1,0,0,0,0,0,0
3,16744,EMEA,Spain,1,Bureaucratic_Code_4,2013-07-27,Source_11,Spain,Account_Name_59,Opportunity_Name_9433,...,0,0,0,1,0,0,0,0,0,0
4,15045,APAC,India,0,Bureaucratic_Code_5,2017-05-24,Source_7,India,Account_Name_1983,Opportunity_Name_12179,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9720,9753,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_3358,...,0,0,0,0,0,0,0,1,0,0
9721,9992,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2744,...,0,0,0,0,0,0,0,1,0,0
9722,9859,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_3360,...,0,0,0,0,0,0,0,1,0,0
9723,9163,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2741,...,0,0,0,0,0,0,0,1,0,0
9724,9136,APAC,China (PRC),0,Bureaucratic_Code_2,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2740,...,0,0,0,0,0,0,0,1,0,0

In [45]:
#Obtenemos el año de creación de la oportunidad como columna.
oportunidades['Opportunity_Created_Year'] = oportunidades['Opportunity_Created_Date'].dt.year
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,Delivery_Terms_0,Delivery_Terms_1,Delivery_Terms_2,Delivery_Terms_3,Delivery_Terms_4,Delivery_Terms_5,Delivery_Terms_6,Delivery_Terms_7,Delivery_Terms_8,Opportunity_Created_Year
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,0,0,0,0,1,0,0,0,0,2015
1,27442,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8543,...,0,0,0,0,1,0,0,0,0,2016
2,15713,EMEA,Germany,1,Bureaucratic_Code_4,2013-07-27,None,Germany,Account_Name_1994,Opportunity_Name_12186,...,0,0,1,0,0,0,0,0,0,2017
3,16744,EMEA,Spain,1,Bureaucratic_Code_4,2013-07-27,Source_11,Spain,Account_Name_59,Opportunity_Name_9433,...,0,0,1,0,0,0,0,0,0,2018
4,15045,APAC,India,0,Bureaucratic_Code_5,2017-05-24,Source_7,India,Account_Name_1983,Opportunity_Name_12179,...,0,0,0,0,0,0,0,0,1,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9720,9753,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_3358,...,0,0,0,0,0,0,1,0,0,2017
9721,9992,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2744,...,0,0,0,0,0,0,1,0,0,2018
9722,9859,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_3360,...,0,0,0,0,0,0,1,0,0,2018
9723,9163,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2741,...,0,0,0,0,0,0,1,0,0,2018
9724,9136,APAC,China (PRC),0,Bureaucratic_Code_2,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2740,...,0,0,0,0,0,0,1,0,0,2018

In [46]:
#Una vez que tenemos el dataset limpio como en el TP1, iniciamos con el uso de XGBoost como algoritmo de ML.

y_train = oportunidades['Stage']
oportunidades = oportunidades.loc[(oportunidades['Stage'] == 'Closed Won') | (oportunidades['Stage'] == 'Closed Lost')]
oportunidades['Stage'] = oportunidades['Stage'].replace({'Closed Won': 1, 'Closed Lost': 0})
std_deviation_amounts = oportunidades.groupby('Opportunity_ID').agg({'Total_Amount':'std', 'Total_Taxable_Amount':'std',\
                                                                    'TRF':'std'})
std_deviation_amounts.columns = ['Total_Amount_Std','Total_Tax_Amount_Std', 'TRF_Std']
std_deviation_amounts = std_deviation_amounts.reset_index()

#Solo usamos Bureau_Code_ 0,1,2,4,5 porque son los que tiene el set de test.
x_train = oportunidades.groupby('Opportunity_ID').agg({'Opportunity_Created_Year' : 'mean',\
                                                      'Encoding_Moneda':'mean', 'Total_Amount': 'sum',\
                                                      'Total_Taxable_Amount':'sum', 'Encoding_Region':'mean',\
                                                      'Encoding_Territorio':'mean','Encoding_Vendedor':'mean',\
                                                      'Es_Oportunidad_Posible':'mean','Stage':'max', 'TRF':'mean',
                                                      'Bureaucratic_Code_0':'mean','Bureaucratic_Code_1':'mean',\
                                                      'Bureaucratic_Code_2':'mean','Bureaucratic_Code_4':'mean',
                                                      'Bureaucratic_Code_5':'mean', 'Encoding_Billing_Country':'mean',\
                                                      'Delivery_Terms_0':'mean','Delivery_Terms_1':'mean','Delivery_Terms_2':'mean',\
                                                      'Delivery_Terms_3':'mean','Delivery_Terms_4':'mean','Delivery_Terms_5':'mean',\
                                                      'Delivery_Terms_6':'mean','Delivery_Terms_7':'mean','Delivery_Terms_8':'mean',
                                                      'Encoding_Prod_Family':'mean','Account_Type_0':'mean','Account_Type_1':'mean',\
                                                      'Account_Type_2':'mean','Account_Type_4':'mean', 'Account_Type_5':'mean'})
x_train = x_train.reset_index()
x_train = x_train.merge(std_deviation_amounts, on='Opportunity_ID', how='inner')
x_train = x_train.set_index('Opportunity_ID')
y_train = x_train['Stage']
x_train = x_train.drop('Stage', axis='columns')
x_train['Total_Amount_Std'] = x_train['Total_Amount_Std'].replace({np.nan:0})
x_train['Total_Tax_Amount_Std'] = x_train['Total_Tax_Amount_Std'].replace({np.nan:0})
x_train['TRF_Std'] = x_train['TRF_Std'].replace({np.nan:0})

<ipython-input-46-ab36dcb042f7>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oportunidades['Stage'] = oportunidades['Stage'].replace({'Closed Won': 1, 'Closed Lost': 0})

In [47]:
#Division del set de test y train:

division_x_train, division_x_test, division_y_train, division_y_test = train_test_split(x_train, y_train, test_size = 0.3,\
                                                                                       random_state = 123)

In [48]:
#Tuning de Hiper parametros con GridSearchCV

model = GridSearchCV(xgb.XGBClassifier(objective ='binary:logistic', eval_metric = 'logloss'), {
    'n_estimators': np.arange(5,70,5),
    'learning_rate' : np.arange(0.01, 0.1, 0.01),
    'colsample_bytree' : np.arange(0.4,1,0.1),
    #'alpha' : [0.001,0.01,0.1,1],
    'max_depth' : np.arange(3,9),
    #'gamma' : np.arange(0.1,0.6,0.1),
    'subsample' : np.arange(0.5,1,0.1),
}, cv = 3, return_train_score = False, n_jobs = -1, verbose=10, scoring='neg_log_loss')

model.fit(division_x_train, division_y_train)

Fitting 3 folds for each of 21060 candidates, totalling 63180 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:    2.8s
[Parallel(n_jobs=-1)]: Done   8 tasks      | elapsed:    3.2s
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:    3.3s
[Parallel(n_jobs=-1)]: Done  26 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:    3.6s
[Parallel(n_jobs=-1)]: Done  48 tasks      | elapsed:    3.8s
[Parallel(n_jobs=-1)]: Done  61 tasks      | elapsed:    4.0s
[Parallel(n_jobs=-1)]: Done  74 tasks      | elapsed:    4.3s
[Parallel(n_jobs=-1)]: Done  89 tasks      | elapsed:    4.5s
[Parallel(n_jobs=-1)]: Done 104 tasks      | elapsed:    4.9s
[Parallel(n_jobs=-1)]: Done 121 tasks      | elapsed:    5.3s
[Parallel(n_jobs=-1)]: Done 138 tasks      | elapsed:    5.8s
[Parallel(n_jobs=-1)]: Done 157 tasks      | elapsed:    6.3s
[Parallel(n_jobs=-1)]: Done 176 tasks      | elapsed:    6.9s
[Parallel(n_jobs=-1)]: Done 197 tasks      | elapsed:    7.4s
[Parallel(n_jobs=-1)]: Done 218 tasks      | elapsed:    7.8s
[Parallel(n_jobs=-1)]: Done 241 tasks      | elapsed:    8.1s
[Parallel(n_jobs=-1)]: Done 264 tasks      | elapsed:    8.5s
[Parallel(n_jobs=-1)]: Done 289 tasks      | elapsed:    9.1s
[Parallel(n_jobs=-1)]: Done 314 tasks      | elapsed:    9.8s
[Parallel(n_jobs=-1)]: Done 341 tasks      | elapsed:   10.7s
[Parallel(n_jobs=-1)]: Done 368 tasks      | elapsed:   11.6s
[Parallel(n_jobs=-1)]: Done 397 tasks      | elapsed:   12.5s
[Parallel(n_jobs=-1)]: Done 426 tasks      | elapsed:   12.9s
[Parallel(n_jobs=-1)]: Done 457 tasks      | elapsed:   13.6s
[Parallel(n_jobs=-1)]: Done 488 tasks      | elapsed:   14.4s
[Parallel(n_jobs=-1)]: Done 521 tasks      | elapsed:   15.6s
[Parallel(n_jobs=-1)]: Done 554 tasks      | elapsed:   16.9s
[Parallel(n_jobs=-1)]: Done 589 tasks      | elapsed:   18.3s
[Parallel(n_jobs=-1)]: Done 624 tasks      | elapsed:   18.8s
[Parallel(n_jobs=-1)]: Done 661 tasks      | elapsed:   19.7s
[Parallel(n_jobs=-1)]: Done 698 tasks      | elapsed:   20.9s
[Parallel(n_jobs=-1)]: Done 737 tasks      | elapsed:   22.7s
[Parallel(n_jobs=-1)]: Done 776 tasks      | elapsed:   24.5s
[Parallel(n_jobs=-1)]: Done 817 tasks      | elapsed:   25.3s
[Parallel(n_jobs=-1)]: Done 858 tasks      | elapsed:   26.4s
[Parallel(n_jobs=-1)]: Done 901 tasks      | elapsed:   28.2s
[Parallel(n_jobs=-1)]: Done 944 tasks      | elapsed:   30.5s
[Parallel(n_jobs=-1)]: Done 989 tasks      | elapsed:   32.4s
[Parallel(n_jobs=-1)]: Done 1034 tasks      | elapsed:   33.5s
[Parallel(n_jobs=-1)]: Done 1081 tasks      | elapsed:   35.4s
[Parallel(n_jobs=-1)]: Done 1128 tasks      | elapsed:   37.9s
[Parallel(n_jobs=-1)]: Done 1177 tasks      | elapsed:   40.6s
[Parallel(n_jobs=-1)]: Done 1226 tasks      | elapsed:   41.3s
[Parallel(n_jobs=-1)]: Done 1277 tasks      | elapsed:   42.4s
[Parallel(n_jobs=-1)]: Done 1328 tasks      | elapsed:   43.8s
[Parallel(n_jobs=-1)]: Done 1381 tasks      | elapsed:   45.1s
[Parallel(n_jobs=-1)]: Done 1434 tasks      | elapsed:   46.0s
[Parallel(n_jobs=-1)]: Done 1489 tasks      | elapsed:   47.4s
[Parallel(n_jobs=-1)]: Done 1544 tasks      | elapsed:   49.3s
[Parallel(n_jobs=-1)]: Done 1601 tasks      | elapsed:   50.3s
[Parallel(n_jobs=-1)]: Done 1658 tasks      | elapsed:   51.7s
[Parallel(n_jobs=-1)]: Done 1717 tasks      | elapsed:   53.8s
[Parallel(n_jobs=-1)]: Done 1776 tasks      | elapsed:   55.6s
[Parallel(n_jobs=-1)]: Done 1837 tasks      | elapsed:   57.0s
[Parallel(n_jobs=-1)]: Done 1898 tasks      | elapsed:   59.5s
[Parallel(n_jobs=-1)]: Done 1961 tasks      | elapsed:  1.0min
[Parallel(n_jobs=-1)]: Done 2024 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 2089 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 2154 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done 2221 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done 2288 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done 2357 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done 2426 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done 2497 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done 2568 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done 2641 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done 2714 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 2789 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 2864 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 2941 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done 3018 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done 3097 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done 3176 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done 3257 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done 3338 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done 3421 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done 3504 tasks      | elapsed:  1.9min
[Parallel(n_jobs=-1)]: Done 3589 tasks      | elapsed:  1.9min
[Parallel(n_jobs=-1)]: Done 3674 tasks      | elapsed:  2.0min
[Parallel(n_jobs=-1)]: Done 3761 tasks      | elapsed:  2.0min
[Parallel(n_jobs=-1)]: Done 3848 tasks      | elapsed:  2.0min
[Parallel(n_jobs=-1)]: Done 3937 tasks      | elapsed:  2.1min
[Parallel(n_jobs=-1)]: Done 4026 tasks      | elapsed:  2.1min
[Parallel(n_jobs=-1)]: Done 4117 tasks      | elapsed:  2.2min
[Parallel(n_jobs=-1)]: Done 4208 tasks      | elapsed:  2.2min
[Parallel(n_jobs=-1)]: Done 4301 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done 4394 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done 4489 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done 4584 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done 4681 tasks      | elapsed:  2.5min
[Parallel(n_jobs=-1)]: Done 4778 tasks      | elapsed:  2.5min
[Parallel(n_jobs=-1)]: Done 4877 tasks      | elapsed:  2.6min
[Parallel(n_jobs=-1)]: Done 4976 tasks      | elapsed:  2.6min
[Parallel(n_jobs=-1)]: Done 5077 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done 5178 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done 5281 tasks      | elapsed:  2.8min
[Parallel(n_jobs=-1)]: Done 5384 tasks      | elapsed:  2.8min
[Parallel(n_jobs=-1)]: Done 5489 tasks      | elapsed:  2.9min
[Parallel(n_jobs=-1)]: Done 5594 tasks      | elapsed:  2.9min
[Parallel(n_jobs=-1)]: Done 5701 tasks      | elapsed:  3.0min
[Parallel(n_jobs=-1)]: Done 5808 tasks      | elapsed:  3.1min
[Parallel(n_jobs=-1)]: Done 5917 tasks      | elapsed:  3.1min
[Parallel(n_jobs=-1)]: Done 6026 tasks      | elapsed:  3.2min
[Parallel(n_jobs=-1)]: Done 6137 tasks      | elapsed:  3.2min
[Parallel(n_jobs=-1)]: Done 6248 tasks      | elapsed:  3.3min
[Parallel(n_jobs=-1)]: Done 6361 tasks      | elapsed:  3.3min
[Parallel(n_jobs=-1)]: Done 6474 tasks      | elapsed:  3.4min
[Parallel(n_jobs=-1)]: Done 6589 tasks      | elapsed:  3.4min
[Parallel(n_jobs=-1)]: Done 6704 tasks      | elapsed:  3.5min
[Parallel(n_jobs=-1)]: Done 6821 tasks      | elapsed:  3.6min
[Parallel(n_jobs=-1)]: Done 6938 tasks      | elapsed:  3.6min
[Parallel(n_jobs=-1)]: Done 7057 tasks      | elapsed:  3.7min
[Parallel(n_jobs=-1)]: Done 7176 tasks      | elapsed:  3.8min
[Parallel(n_jobs=-1)]: Done 7297 tasks      | elapsed:  3.8min
[Parallel(n_jobs=-1)]: Done 7418 tasks      | elapsed:  3.9min
[Parallel(n_jobs=-1)]: Done 7541 tasks      | elapsed:  3.9min
[Parallel(n_jobs=-1)]: Done 7664 tasks      | elapsed:  4.0min
[Parallel(n_jobs=-1)]: Done 7789 tasks      | elapsed:  4.0min
[Parallel(n_jobs=-1)]: Done 7914 tasks      | elapsed:  4.1min
[Parallel(n_jobs=-1)]: Done 8041 tasks      | elapsed:  4.2min
[Parallel(n_jobs=-1)]: Done 8168 tasks      | elapsed:  4.3min
[Parallel(n_jobs=-1)]: Done 8297 tasks      | elapsed:  4.3min
[Parallel(n_jobs=-1)]: Done 8426 tasks      | elapsed:  4.4min
[Parallel(n_jobs=-1)]: Done 8557 tasks      | elapsed:  4.4min
[Parallel(n_jobs=-1)]: Done 8688 tasks      | elapsed:  4.5min
[Parallel(n_jobs=-1)]: Done 8821 tasks      | elapsed:  4.6min
[Parallel(n_jobs=-1)]: Done 8954 tasks      | elapsed:  4.6min
[Parallel(n_jobs=-1)]: Done 9089 tasks      | elapsed:  4.7min
[Parallel(n_jobs=-1)]: Done 9224 tasks      | elapsed:  4.8min

[Parallel(n_jobs=-1)]: Done 9361 tasks      | elapsed:  4.9min
[Parallel(n_jobs=-1)]: Done 9498 tasks      | elapsed:  4.9min
[Parallel(n_jobs=-1)]: Done 9637 tasks      | elapsed:  5.0min
[Parallel(n_jobs=-1)]: Done 9776 tasks      | elapsed:  5.0min
[Parallel(n_jobs=-1)]: Done 9917 tasks      | elapsed:  5.1min
[Parallel(n_jobs=-1)]: Done 10058 tasks      | elapsed:  5.2min
[Parallel(n_jobs=-1)]: Done 10201 tasks      | elapsed:  5.3min
[Parallel(n_jobs=-1)]: Done 10344 tasks      | elapsed:  5.4min
[Parallel(n_jobs=-1)]: Done 10489 tasks      | elapsed:  5.5min
[Parallel(n_jobs=-1)]: Done 10634 tasks      | elapsed:  5.5min
[Parallel(n_jobs=-1)]: Done 10781 tasks      | elapsed:  5.6min
[Parallel(n_jobs=-1)]: Done 10928 tasks      | elapsed:  5.6min
[Parallel(n_jobs=-1)]: Done 11077 tasks      | elapsed:  5.7min
[Parallel(n_jobs=-1)]: Done 11226 tasks      | elapsed:  5.8min
[Parallel(n_jobs=-1)]: Done 11377 tasks      | elapsed:  5.9min
[Parallel(n_jobs=-1)]: Done 11528 tasks      | elapsed:  6.0min
[Parallel(n_jobs=-1)]: Done 11681 tasks      | elapsed:  6.1min
[Parallel(n_jobs=-1)]: Done 11834 tasks      | elapsed:  6.2min
[Parallel(n_jobs=-1)]: Done 11989 tasks      | elapsed:  6.2min
[Parallel(n_jobs=-1)]: Done 12144 tasks      | elapsed:  6.3min
[Parallel(n_jobs=-1)]: Done 12301 tasks      | elapsed:  6.4min
[Parallel(n_jobs=-1)]: Done 12458 tasks      | elapsed:  6.5min
[Parallel(n_jobs=-1)]: Done 12617 tasks      | elapsed:  6.6min
[Parallel(n_jobs=-1)]: Done 12776 tasks      | elapsed:  6.7min
[Parallel(n_jobs=-1)]: Done 12937 tasks      | elapsed:  6.8min
[Parallel(n_jobs=-1)]: Done 13098 tasks      | elapsed:  6.8min
[Parallel(n_jobs=-1)]: Done 13261 tasks      | elapsed:  6.9min
[Parallel(n_jobs=-1)]: Done 13424 tasks      | elapsed:  7.0min
[Parallel(n_jobs=-1)]: Done 13589 tasks      | elapsed:  7.1min
[Parallel(n_jobs=-1)]: Done 13754 tasks      | elapsed:  7.2min
[Parallel(n_jobs=-1)]: Done 13921 tasks      | elapsed:  7.3min
[Parallel(n_jobs=-1)]: Done 14088 tasks      | elapsed:  7.4min
[Parallel(n_jobs=-1)]: Done 14257 tasks      | elapsed:  7.5min
[Parallel(n_jobs=-1)]: Done 14426 tasks      | elapsed:  7.6min
[Parallel(n_jobs=-1)]: Done 14597 tasks      | elapsed:  7.6min
[Parallel(n_jobs=-1)]: Done 14768 tasks      | elapsed:  7.7min
[Parallel(n_jobs=-1)]: Done 14941 tasks      | elapsed:  7.8min
[Parallel(n_jobs=-1)]: Done 15114 tasks      | elapsed:  7.9min
[Parallel(n_jobs=-1)]: Done 15289 tasks      | elapsed:  8.1min
[Parallel(n_jobs=-1)]: Done 15464 tasks      | elapsed:  8.1min
[Parallel(n_jobs=-1)]: Done 15641 tasks      | elapsed:  8.2min
[Parallel(n_jobs=-1)]: Done 15818 tasks      | elapsed:  8.3min
[Parallel(n_jobs=-1)]: Done 15997 tasks      | elapsed:  8.4min
[Parallel(n_jobs=-1)]: Done 16176 tasks      | elapsed:  8.5min
[Parallel(n_jobs=-1)]: Done 16357 tasks      | elapsed:  8.6min
[Parallel(n_jobs=-1)]: Done 16538 tasks      | elapsed:  8.7min
[Parallel(n_jobs=-1)]: Done 16721 tasks      | elapsed:  8.8min
[Parallel(n_jobs=-1)]: Done 16904 tasks      | elapsed:  8.9min
[Parallel(n_jobs=-1)]: Done 17089 tasks      | elapsed:  9.0min
[Parallel(n_jobs=-1)]: Done 17274 tasks      | elapsed:  9.1min
[Parallel(n_jobs=-1)]: Done 17461 tasks      | elapsed:  9.2min
[Parallel(n_jobs=-1)]: Done 17648 tasks      | elapsed:  9.3min
[Parallel(n_jobs=-1)]: Done 17837 tasks      | elapsed:  9.4min
[Parallel(n_jobs=-1)]: Done 18026 tasks      | elapsed:  9.5min
[Parallel(n_jobs=-1)]: Done 18217 tasks      | elapsed:  9.6min
[Parallel(n_jobs=-1)]: Done 18408 tasks      | elapsed:  9.7min
[Parallel(n_jobs=-1)]: Done 18601 tasks      | elapsed:  9.8min
[Parallel(n_jobs=-1)]: Done 18794 tasks      | elapsed:  9.9min
[Parallel(n_jobs=-1)]: Done 18989 tasks      | elapsed: 10.0min
[Parallel(n_jobs=-1)]: Done 19184 tasks      | elapsed: 10.1min
[Parallel(n_jobs=-1)]: Done 19381 tasks      | elapsed: 10.2min
[Parallel(n_jobs=-1)]: Done 19578 tasks      | elapsed: 10.3min
[Parallel(n_jobs=-1)]: Done 19777 tasks      | elapsed: 10.5min
[Parallel(n_jobs=-1)]: Done 19976 tasks      | elapsed: 10.6min
[Parallel(n_jobs=-1)]: Done 20177 tasks      | elapsed: 10.7min
[Parallel(n_jobs=-1)]: Done 20378 tasks      | elapsed: 10.7min
[Parallel(n_jobs=-1)]: Done 20581 tasks      | elapsed: 10.8min
[Parallel(n_jobs=-1)]: Done 20784 tasks      | elapsed: 11.0min
[Parallel(n_jobs=-1)]: Done 20989 tasks      | elapsed: 11.1min
[Parallel(n_jobs=-1)]: Done 21194 tasks      | elapsed: 11.2min
[Parallel(n_jobs=-1)]: Done 21401 tasks      | elapsed: 11.3min
[Parallel(n_jobs=-1)]: Done 21608 tasks      | elapsed: 11.4min
[Parallel(n_jobs=-1)]: Done 21817 tasks      | elapsed: 11.5min
[Parallel(n_jobs=-1)]: Done 22026 tasks      | elapsed: 11.7min
[Parallel(n_jobs=-1)]: Done 22237 tasks      | elapsed: 11.9min
[Parallel(n_jobs=-1)]: Done 22448 tasks      | elapsed: 12.0min
[Parallel(n_jobs=-1)]: Done 22661 tasks      | elapsed: 12.0min
[Parallel(n_jobs=-1)]: Done 22874 tasks      | elapsed: 12.2min
[Parallel(n_jobs=-1)]: Done 23089 tasks      | elapsed: 12.3min
[Parallel(n_jobs=-1)]: Done 23304 tasks      | elapsed: 12.5min
[Parallel(n_jobs=-1)]: Done 23521 tasks      | elapsed: 12.6min
[Parallel(n_jobs=-1)]: Done 23738 tasks      | elapsed: 12.7min
[Parallel(n_jobs=-1)]: Done 23957 tasks      | elapsed: 12.8min
[Parallel(n_jobs=-1)]: Done 24176 tasks      | elapsed: 12.9min
[Parallel(n_jobs=-1)]: Done 24397 tasks      | elapsed: 13.1min
[Parallel(n_jobs=-1)]: Done 24618 tasks      | elapsed: 13.2min
[Parallel(n_jobs=-1)]: Done 24841 tasks      | elapsed: 13.3min
[Parallel(n_jobs=-1)]: Done 25064 tasks      | elapsed: 13.4min
[Parallel(n_jobs=-1)]: Done 25289 tasks      | elapsed: 13.6min
[Parallel(n_jobs=-1)]: Done 25514 tasks      | elapsed: 13.7min
[Parallel(n_jobs=-1)]: Done 25741 tasks      | elapsed: 13.9min
[Parallel(n_jobs=-1)]: Done 25968 tasks      | elapsed: 14.0min
[Parallel(n_jobs=-1)]: Done 26197 tasks      | elapsed: 14.1min
[Parallel(n_jobs=-1)]: Done 26426 tasks      | elapsed: 14.2min
[Parallel(n_jobs=-1)]: Done 26657 tasks      | elapsed: 14.4min
[Parallel(n_jobs=-1)]: Done 26888 tasks      | elapsed: 14.6min
[Parallel(n_jobs=-1)]: Done 27121 tasks      | elapsed: 14.7min
[Parallel(n_jobs=-1)]: Done 27354 tasks      | elapsed: 14.8min
[Parallel(n_jobs=-1)]: Done 27589 tasks      | elapsed: 14.9min
[Parallel(n_jobs=-1)]: Done 27824 tasks      | elapsed: 15.1min
[Parallel(n_jobs=-1)]: Done 28061 tasks      | elapsed: 15.3min
[Parallel(n_jobs=-1)]: Done 28298 tasks      | elapsed: 15.4min
[Parallel(n_jobs=-1)]: Done 28537 tasks      | elapsed: 15.5min
[Parallel(n_jobs=-1)]: Done 28776 tasks      | elapsed: 15.6min
[Parallel(n_jobs=-1)]: Done 29017 tasks      | elapsed: 15.8min
[Parallel(n_jobs=-1)]: Done 29258 tasks      | elapsed: 15.9min
[Parallel(n_jobs=-1)]: Done 29501 tasks      | elapsed: 16.0min
[Parallel(n_jobs=-1)]: Done 29744 tasks      | elapsed: 16.1min
[Parallel(n_jobs=-1)]: Done 29989 tasks      | elapsed: 16.3min
[Parallel(n_jobs=-1)]: Done 30234 tasks      | elapsed: 16.5min
[Parallel(n_jobs=-1)]: Done 30481 tasks      | elapsed: 16.6min
[Parallel(n_jobs=-1)]: Done 30728 tasks      | elapsed: 16.7min
[Parallel(n_jobs=-1)]: Done 30977 tasks      | elapsed: 16.9min
[Parallel(n_jobs=-1)]: Done 31226 tasks      | elapsed: 17.0min
[Parallel(n_jobs=-1)]: Done 31477 tasks      | elapsed: 17.2min
[Parallel(n_jobs=-1)]: Done 31728 tasks      | elapsed: 17.3min
[Parallel(n_jobs=-1)]: Done 31981 tasks      | elapsed: 17.5min
[Parallel(n_jobs=-1)]: Done 32234 tasks      | elapsed: 17.6min
[Parallel(n_jobs=-1)]: Done 32489 tasks      | elapsed: 17.8min
[Parallel(n_jobs=-1)]: Done 32744 tasks      | elapsed: 18.0min
[Parallel(n_jobs=-1)]: Done 33001 tasks      | elapsed: 18.1min
[Parallel(n_jobs=-1)]: Done 33258 tasks      | elapsed: 18.2min
[Parallel(n_jobs=-1)]: Done 33517 tasks      | elapsed: 18.4min
[Parallel(n_jobs=-1)]: Done 33776 tasks      | elapsed: 18.6min
[Parallel(n_jobs=-1)]: Done 34037 tasks      | elapsed: 18.8min
[Parallel(n_jobs=-1)]: Done 34298 tasks      | elapsed: 18.9min
[Parallel(n_jobs=-1)]: Done 34561 tasks      | elapsed: 19.1min
[Parallel(n_jobs=-1)]: Done 34824 tasks      | elapsed: 19.2min
[Parallel(n_jobs=-1)]: Done 35089 tasks      | elapsed: 19.5min

[Parallel(n_jobs=-1)]: Done 35354 tasks      | elapsed: 19.6min
[Parallel(n_jobs=-1)]: Done 35621 tasks      | elapsed: 19.7min
[Parallel(n_jobs=-1)]: Done 35888 tasks      | elapsed: 19.9min
[Parallel(n_jobs=-1)]: Done 36157 tasks      | elapsed: 20.1min
[Parallel(n_jobs=-1)]: Done 36426 tasks      | elapsed: 20.3min
[Parallel(n_jobs=-1)]: Done 36697 tasks      | elapsed: 20.4min
[Parallel(n_jobs=-1)]: Done 36968 tasks      | elapsed: 20.6min
[Parallel(n_jobs=-1)]: Done 37241 tasks      | elapsed: 20.8min
[Parallel(n_jobs=-1)]: Done 37514 tasks      | elapsed: 21.0min
[Parallel(n_jobs=-1)]: Done 37789 tasks      | elapsed: 21.1min
[Parallel(n_jobs=-1)]: Done 38064 tasks      | elapsed: 21.3min
[Parallel(n_jobs=-1)]: Done 38341 tasks      | elapsed: 21.5min
[Parallel(n_jobs=-1)]: Done 38618 tasks      | elapsed: 21.7min
[Parallel(n_jobs=-1)]: Done 38897 tasks      | elapsed: 21.8min
[Parallel(n_jobs=-1)]: Done 39176 tasks      | elapsed: 22.0min
[Parallel(n_jobs=-1)]: Done 39457 tasks      | elapsed: 22.1min
[Parallel(n_jobs=-1)]: Done 39738 tasks      | elapsed: 22.4min
[Parallel(n_jobs=-1)]: Done 40021 tasks      | elapsed: 22.5min
[Parallel(n_jobs=-1)]: Done 40304 tasks      | elapsed: 22.7min
[Parallel(n_jobs=-1)]: Done 40589 tasks      | elapsed: 22.9min
[Parallel(n_jobs=-1)]: Done 40874 tasks      | elapsed: 23.1min
[Parallel(n_jobs=-1)]: Done 41161 tasks      | elapsed: 23.3min
[Parallel(n_jobs=-1)]: Done 41448 tasks      | elapsed: 23.4min
[Parallel(n_jobs=-1)]: Done 41737 tasks      | elapsed: 23.6min
[Parallel(n_jobs=-1)]: Done 42026 tasks      | elapsed: 23.8min
[Parallel(n_jobs=-1)]: Done 42317 tasks      | elapsed: 24.0min
[Parallel(n_jobs=-1)]: Done 42608 tasks      | elapsed: 24.1min
[Parallel(n_jobs=-1)]: Done 42901 tasks      | elapsed: 24.3min
[Parallel(n_jobs=-1)]: Done 43194 tasks      | elapsed: 24.6min
[Parallel(n_jobs=-1)]: Done 43489 tasks      | elapsed: 24.8min
[Parallel(n_jobs=-1)]: Done 43784 tasks      | elapsed: 24.9min
[Parallel(n_jobs=-1)]: Done 44081 tasks      | elapsed: 25.1min
[Parallel(n_jobs=-1)]: Done 44378 tasks      | elapsed: 25.3min
[Parallel(n_jobs=-1)]: Done 44677 tasks      | elapsed: 25.5min
[Parallel(n_jobs=-1)]: Done 44976 tasks      | elapsed: 25.7min
[Parallel(n_jobs=-1)]: Done 45277 tasks      | elapsed: 25.9min
[Parallel(n_jobs=-1)]: Done 45578 tasks      | elapsed: 26.2min
[Parallel(n_jobs=-1)]: Done 45881 tasks      | elapsed: 26.3min
[Parallel(n_jobs=-1)]: Done 46184 tasks      | elapsed: 26.5min
[Parallel(n_jobs=-1)]: Done 46489 tasks      | elapsed: 26.7min
[Parallel(n_jobs=-1)]: Done 46794 tasks      | elapsed: 27.0min
[Parallel(n_jobs=-1)]: Done 47101 tasks      | elapsed: 27.1min
[Parallel(n_jobs=-1)]: Done 47408 tasks      | elapsed: 27.3min
[Parallel(n_jobs=-1)]: Done 47717 tasks      | elapsed: 27.5min
[Parallel(n_jobs=-1)]: Done 48026 tasks      | elapsed: 27.8min
[Parallel(n_jobs=-1)]: Done 48337 tasks      | elapsed: 28.0min
[Parallel(n_jobs=-1)]: Done 48648 tasks      | elapsed: 28.1min
[Parallel(n_jobs=-1)]: Done 48961 tasks      | elapsed: 28.4min
[Parallel(n_jobs=-1)]: Done 49274 tasks      | elapsed: 28.6min
[Parallel(n_jobs=-1)]: Done 49589 tasks      | elapsed: 28.8min
[Parallel(n_jobs=-1)]: Done 49904 tasks      | elapsed: 29.0min
[Parallel(n_jobs=-1)]: Done 50221 tasks      | elapsed: 29.2min
[Parallel(n_jobs=-1)]: Done 50538 tasks      | elapsed: 29.4min
[Parallel(n_jobs=-1)]: Done 50857 tasks      | elapsed: 29.6min
[Parallel(n_jobs=-1)]: Done 51176 tasks      | elapsed: 29.8min
[Parallel(n_jobs=-1)]: Done 51497 tasks      | elapsed: 30.1min
[Parallel(n_jobs=-1)]: Done 51818 tasks      | elapsed: 30.2min
[Parallel(n_jobs=-1)]: Done 52141 tasks      | elapsed: 30.4min
[Parallel(n_jobs=-1)]: Done 52464 tasks      | elapsed: 30.7min
[Parallel(n_jobs=-1)]: Done 52789 tasks      | elapsed: 30.9min
[Parallel(n_jobs=-1)]: Done 53114 tasks      | elapsed: 31.1min
[Parallel(n_jobs=-1)]: Done 53441 tasks      | elapsed: 31.3min
[Parallel(n_jobs=-1)]: Done 53768 tasks      | elapsed: 31.6min
[Parallel(n_jobs=-1)]: Done 54097 tasks      | elapsed: 31.8min
[Parallel(n_jobs=-1)]: Done 54426 tasks      | elapsed: 32.0min
[Parallel(n_jobs=-1)]: Done 54757 tasks      | elapsed: 32.2min
[Parallel(n_jobs=-1)]: Done 55088 tasks      | elapsed: 32.5min
[Parallel(n_jobs=-1)]: Done 55421 tasks      | elapsed: 32.7min
[Parallel(n_jobs=-1)]: Done 55754 tasks      | elapsed: 32.9min
[Parallel(n_jobs=-1)]: Done 56089 tasks      | elapsed: 33.2min
[Parallel(n_jobs=-1)]: Done 56424 tasks      | elapsed: 33.4min
[Parallel(n_jobs=-1)]: Done 56761 tasks      | elapsed: 33.6min
[Parallel(n_jobs=-1)]: Done 57098 tasks      | elapsed: 33.9min
[Parallel(n_jobs=-1)]: Done 57437 tasks      | elapsed: 34.1min
[Parallel(n_jobs=-1)]: Done 57776 tasks      | elapsed: 34.3min
[Parallel(n_jobs=-1)]: Done 58117 tasks      | elapsed: 34.6min
[Parallel(n_jobs=-1)]: Done 58458 tasks      | elapsed: 34.9min
[Parallel(n_jobs=-1)]: Done 58801 tasks      | elapsed: 35.0min
[Parallel(n_jobs=-1)]: Done 59144 tasks      | elapsed: 35.2min
[Parallel(n_jobs=-1)]: Done 59489 tasks      | elapsed: 35.5min
[Parallel(n_jobs=-1)]: Done 59834 tasks      | elapsed: 35.8min
[Parallel(n_jobs=-1)]: Done 60181 tasks      | elapsed: 36.0min
[Parallel(n_jobs=-1)]: Done 60528 tasks      | elapsed: 36.2min
[Parallel(n_jobs=-1)]: Done 60877 tasks      | elapsed: 36.5min
[Parallel(n_jobs=-1)]: Done 61226 tasks      | elapsed: 36.7min
[Parallel(n_jobs=-1)]: Done 61577 tasks      | elapsed: 36.9min
[Parallel(n_jobs=-1)]: Done 61928 tasks      | elapsed: 37.2min
[Parallel(n_jobs=-1)]: Done 62281 tasks      | elapsed: 37.4min
[Parallel(n_jobs=-1)]: Done 62634 tasks      | elapsed: 37.7min
[Parallel(n_jobs=-1)]: Done 62989 tasks      | elapsed: 38.0min
[Parallel(n_jobs=-1)]: Done 63180 out of 63180 | elapsed: 38.2min finished
C:\ProgramData\Anaconda3\lib\site-packages\xgboost\sklearn.py:892: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

GridSearchCV(cv=3,
             estimator=XGBClassifier(base_score=None, booster=None,
                                     colsample_bylevel=None,
                                     colsample_bynode=None,
                                     colsample_bytree=None,
                                     eval_metric='logloss', gamma=None,
                                     gpu_id=None, importance_type='gain',
                                     interaction_constraints=None,
                                     learning_rate=None, max_delta_step=None,
                                     max_depth=None, min_child_weight=None,
                                     missing=nan, monotone_constraints=None,
                                     n...
                                     tree_method=None, validate_parameters=None,
                                     verbosity=None),
             n_jobs=-1,
             param_grid={'colsample_bytree': array([0.4, 0.5, 0.6, 0.7, 0.8, 0.9]),
                         'learning_rate': array([0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09]),
                         'max_depth': array([3, 4, 5, 6, 7, 8]),
                         'n_estimators': array([ 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65]),
                         'subsample': array([0.5, 0.6, 0.7, 0.8, 0.9])},
             scoring='neg_log_loss', verbose=10)

In [49]:
#Vemos los resultados del CrossValidation

df = pd.DataFrame(model.cv_results_)
df_reducido = df.loc[:,['params','mean_test_score']]
df_reducido.nlargest(5,'mean_test_score')

                                                  params  mean_test_score
3444   {'colsample_bytree': 0.4, 'learning_rate': 0.0...        -0.441372
7018   {'colsample_bytree': 0.5, 'learning_rate': 0.0...        -0.441524
3509   {'colsample_bytree': 0.4, 'learning_rate': 0.0...        -0.441614
3508   {'colsample_bytree': 0.4, 'learning_rate': 0.0...        -0.442044
10461  {'colsample_bytree': 0.6, 'learning_rate': 0.0...        -0.442089

In [55]:
#Luego del CrossValidation entrenamos el algoritmo y vemos su error

predictions = pd.DataFrame(model.predict_proba(division_x_test))[1]
error = np.sqrt(mean_squared_error(division_y_test, predictions))
print ("Error final del algoritmo entrenado con los últimos parametros = " + str(error))

Error final del algoritmo entrenado con los últimos parametros = 0.36338107656512564

In [56]:
#Vemos que parametros son los que mejores resultados dieron para luego aplicarlos en el XGBoost que predice.

model.best_params_

{'colsample_bytree': 0.4,
 'learning_rate': 0.09,
 'max_depth': 7,
 'n_estimators': 65,
 'subsample': 0.8999999999999999}

In [57]:
model.best_score_

-0.4413724222522282

In [62]:
top2 = df_reducido.nlargest(2,'mean_test_score')
top2.iloc[1,:].params

{'colsample_bytree': 0.5,
 'learning_rate': 0.09,
 'max_depth': 8,
 'n_estimators': 65,
 'subsample': 0.7999999999999999}