In [1]:
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import log_loss
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

In [2]:
#Limpieza del dataset como en TP1

oportunidades = pd.read_csv("Train_TP2_Datos_2020-2C.csv")
oportunidades['Account_Created_Date'] = pd.to_datetime(oportunidades['Account_Created_Date'])
oportunidades['Opportunity_Created_Date'] = pd.to_datetime(oportunidades['Opportunity_Created_Date'])
oportunidades['Quote_Expiry_Date'] = pd.to_datetime(oportunidades['Quote_Expiry_Date'])
oportunidades['Last_Modified_Date'] = pd.to_datetime(oportunidades['Last_Modified_Date'])
oportunidades['Planned_Delivery_Start_Date'] = pd.to_datetime(oportunidades['Planned_Delivery_Start_Date'])
oportunidades['Planned_Delivery_End_Date'] = pd.to_datetime(oportunidades['Planned_Delivery_End_Date'])
oportunidades_japon = (oportunidades.loc[oportunidades['Region'] == 'Japan'])
oportunidades = (oportunidades.loc[oportunidades['Region'] != 'Japan'])
#oportunidades_japon = oportunidades_japon.iloc[:,:3]
oportunidades_japon['Territory'] = oportunidades_japon['Territory'].replace({'None':'Japan'})
oportunidades = pd.concat([oportunidades, oportunidades_japon], axis=0)
oportunidades['Region'] = oportunidades['Region'].replace({'Japan':'APAC', 'Middle East':'EMEA'})
oportunidades[oportunidades.select_dtypes(['object']).columns] = oportunidades.select_dtypes(['object']).apply(lambda x: x.astype('category'))
oportunidades = oportunidades.loc[oportunidades['Territory'] != 'None']
oportunidades['Conversion_Moneda'] = oportunidades['ASP'] / oportunidades['ASP_(converted)']
oportunidades['Total_Amount'] = oportunidades['Total_Amount'] / oportunidades['Conversion_Moneda']
oportunidades['Total_Taxable_Amount'] = oportunidades['Total_Taxable_Amount'] / oportunidades['Conversion_Moneda']
oportunidades = oportunidades.dropna()
oportunidades

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A,Conversion_Moneda
2,27446,Americas,NW America,0,0,0,0,0,Bureaucratic_Code_4,2015-04-21,...,2016,NaT,0,USD,8.386560e+04,USD,8.386560e+04,Closed Won,Prod_Category_A_None,1.000000
4,16805,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,2013-07-27,...,2018,NaT,25,USD,1.335719e+07,USD,1.335719e+07,Closed Lost,Prod_Category_A_None,1.000000
5,16802,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,2013-07-27,...,2018,NaT,28,USD,1.483828e+07,USD,1.483828e+07,Closed Lost,Prod_Category_A_None,1.000000
7,27455,Americas,NW America,1,1,1,1,0,Bureaucratic_Code_4,2015-04-21,...,2016,NaT,0,USD,5.068800e+04,USD,5.068800e+04,Closed Won,Prod_Category_A_None,1.000000
23,28524,APAC,India,1,1,1,1,0,Bureaucratic_Code_4,2015-10-13,...,2016,NaT,3,USD,1.621851e+06,USD,1.621851e+06,Closed Won,Prod_Category_A_None,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16922,18519,APAC,Japan,1,1,1,1,0,Bureaucratic_Code_4,2013-07-28,...,2016,NaT,0,USD,1.320000e+04,USD,6.422401e+06,Closed Won,Prod_Category_A_None,1.000000
16923,27689,APAC,Japan,1,1,0,0,0,Bureaucratic_Code_4,2015-06-11,...,2016,NaT,0,JPY,1.096295e+05,JPY,1.096295e+05,Closed Won,Prod_Category_A_None,111.229165
16924,27688,APAC,Japan,1,1,0,0,0,Bureaucratic_Code_4,2015-06-11,...,2016,NaT,0,JPY,1.075213e+05,JPY,1.075213e+05,Closed Won,Prod_Category_A_None,111.229165
16925,19062,APAC,Japan,0,0,0,0,0,Bureaucratic_Code_4,2013-08-11,...,2016,NaT,0,JPY,1.576650e+05,JPY,1.576650e+05,Closed Won,Prod_Category_A_None,111.229477
16926,19066,APAC,Japan,1,1,1,1,0,Bureaucratic_Code_4,2013-08-11,...,2016,NaT,0,JPY,1.246072e+05,JPY,1.246072e+05,Closed Won,Prod_Category_A_None,111.229550

In [3]:
#Añadimos la columna binaria de si es aprobada o no.

filtro_terminos_entrega = oportunidades['Pricing, Delivery_Terms_Quote_Appr']\
     == oportunidades['Pricing, Delivery_Terms_Approved']

filtro_codigo_burocratico = oportunidades['Bureaucratic_Code_0_Approval']\
     == oportunidades['Bureaucratic_Code_0_Approved']

oportunidades = oportunidades.drop(['Pricing, Delivery_Terms_Quote_Appr'\
    ,'Pricing, Delivery_Terms_Approved', 'Bureaucratic_Code_0_Approval'\
        , 'Bureaucratic_Code_0_Approved', 'Submitted_for_Approval'], axis = 'columns')

oportunidades_posibles = (filtro_terminos_entrega & filtro_codigo_burocratico)

oportunidades.insert(3,'Es_Oportunidad_Posible', oportunidades_posibles)

oportunidades['Es_Oportunidad_Posible'] = oportunidades['Es_Oportunidad_Posible'].replace(
    {True:1, False:0})
oportunidades.head()

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A,Conversion_Moneda
2,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,2016,NaT,0,USD,83865.6,USD,83865.6,Closed Won,Prod_Category_A_None,1.0
4,16805,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_851,...,2018,NaT,25,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None,1.0
5,16802,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_939,...,2018,NaT,28,USD,14838277.5,USD,14838277.5,Closed Lost,Prod_Category_A_None,1.0
7,27455,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8227,...,2016,NaT,0,USD,50688.0,USD,50688.0,Closed Won,Prod_Category_A_None,1.0
23,28524,APAC,India,1,Bureaucratic_Code_4,2015-10-13,None,India,Account_Name_1147,Opportunity_Name_7036,...,2016,NaT,3,USD,1621851.0,USD,1621851.0,Closed Won,Prod_Category_A_None,1.0

In [4]:
#Encoding de los vendedores con mean encoding respecto del total amount.
encoding_owners = oportunidades.groupby('Opportunity_Owner').agg({'Total_Amount':'mean'})
encoding_owners.columns = ['Encoding_Vendedor']
encoding_owners = encoding_owners.reset_index()
oportunidades = oportunidades.merge(encoding_owners, how='inner', on='Opportunity_Owner')
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A,Conversion_Moneda,Encoding_Vendedor
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,NaT,0,USD,8.386560e+04,USD,8.386560e+04,Closed Won,Prod_Category_A_None,1.000000,2.243392e+06
1,16805,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_851,...,NaT,25,USD,1.335719e+07,USD,1.335719e+07,Closed Lost,Prod_Category_A_None,1.000000,2.243392e+06
2,16802,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_939,...,NaT,28,USD,1.483828e+07,USD,1.483828e+07,Closed Lost,Prod_Category_A_None,1.000000,2.243392e+06
3,27455,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8227,...,NaT,0,USD,5.068800e+04,USD,5.068800e+04,Closed Won,Prod_Category_A_None,1.000000,2.243392e+06
4,21750,Americas,NE America,1,Bureaucratic_Code_4,2013-07-27,Source_11,United States,Account_Name_25,Opportunity_Name_1814,...,NaT,0,USD,1.196160e+04,USD,0.000000e+00,Closed Won,Prod_Category_A_None,1.000000,2.243392e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9456,28141,APAC,Japan,1,Bureaucratic_Code_4,2015-07-03,None,Japan,Account_Name_702,Opportunity_Name_4988,...,NaT,1,JPY,3.504105e+05,JPY,3.504105e+05,Closed Lost,Prod_Category_A_None,111.229550,5.114674e+05
9457,28084,APAC,Japan,1,Bureaucratic_Code_4,2015-07-03,None,Japan,Account_Name_702,Opportunity_Name_4989,...,NaT,1,JPY,5.037161e+05,JPY,5.037161e+05,Closed Lost,Prod_Category_A_None,111.229326,5.114674e+05
9458,28181,APAC,Japan,1,Bureaucratic_Code_1,2015-07-03,None,Japan,Account_Name_702,Opportunity_Name_4994,...,NaT,0,JPY,6.887261e+04,JPY,6.887261e+04,Closed Lost,Prod_Category_A_None,111.231449,5.114674e+05
9459,28182,APAC,Japan,1,Bureaucratic_Code_4,2015-07-03,None,Japan,Account_Name_702,Opportunity_Name_8661,...,NaT,0,JPY,7.417050e+03,JPY,7.417050e+03,Closed Won,Prod_Category_A_None,111.230206,5.114674e+05
9460,28164,APAC,Japan,1,Bureaucratic_Code_1,2015-07-03,None,Japan,Account_Name_702,Opportunity_Name_4995,...,NaT,5,JPY,1.626921e+06,JPY,1.626921e+06,Closed Lost,Prod_Category_A_None,111.228519,5.114674e+05

In [5]:
#Encoding de los territorios en base al total amount
encoding_territory = oportunidades.groupby('Territory').agg({'Total_Amount' : 'mean'})
encoding_territory.columns = ['Encoding_Territorio']
encoding_territory = encoding_territory.reset_index()
oportunidades = oportunidades.merge(encoding_territory, how='inner', on='Territory')
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A,Conversion_Moneda,Encoding_Vendedor,Encoding_Territorio
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,0,USD,83865.6,USD,83865.6,Closed Won,Prod_Category_A_None,1.0,2.243392e+06,1.534896e+06
1,16805,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_851,...,25,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None,1.0,2.243392e+06,1.534896e+06
2,16802,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_939,...,28,USD,14838277.5,USD,14838277.5,Closed Lost,Prod_Category_A_None,1.0,2.243392e+06,1.534896e+06
3,27455,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8227,...,0,USD,50688.0,USD,50688.0,Closed Won,Prod_Category_A_None,1.0,2.243392e+06,1.534896e+06
4,21527,Americas,NW America,1,Bureaucratic_Code_4,2013-07-27,Source_11,United States,Account_Name_25,Opportunity_Name_1828,...,0,USD,2814.0,USD,2814.0,Closed Won,Prod_Category_A_None,1.0,2.243392e+06,1.534896e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9456,14862,APAC,New Zealand,0,Bureaucratic_Code_5,2017-05-23,Source_7,New Zealand,Account_Name_1857,Opportunity_Name_11725,...,0,USD,28875.0,USD,147262.5,Closed Won,Prod_Category_A_None,1.0,3.526281e+06,3.498250e+04
9457,14868,APAC,New Zealand,0,Bureaucratic_Code_5,2017-05-23,Source_7,New Zealand,Account_Name_1857,Opportunity_Name_11725,...,0,USD,28875.0,USD,147262.5,Closed Won,Prod_Category_A_None,1.0,3.526281e+06,3.498250e+04
9458,14873,APAC,New Zealand,0,Bureaucratic_Code_5,2017-05-23,Source_7,New Zealand,Account_Name_1857,Opportunity_Name_11725,...,0,USD,28875.0,USD,147262.5,Closed Won,Prod_Category_A_None,1.0,3.526281e+06,3.498250e+04
9459,14879,APAC,New Zealand,0,Bureaucratic_Code_5,2017-05-23,Source_7,New Zealand,Account_Name_1857,Opportunity_Name_11725,...,0,USD,28875.0,USD,147262.5,Closed Won,Prod_Category_A_None,1.0,3.526281e+06,3.498250e+04
9460,23555,EMEA,Egypt,0,Bureaucratic_Code_5,2014-12-10,Source_13,Egypt,Account_Name_1431,Opportunity_Name_341,...,0,USD,9375.0,USD,9375.0,Closed Lost,Prod_Category_A_None,1.0,2.311700e+04,9.375000e+03

In [6]:
#Encoding de las regiones en base al total amount
encoding_region = oportunidades.groupby('Region').agg({'Total_Amount' : 'mean'})
encoding_region.columns = ['Encoding_Region']
encoding_region = encoding_region.reset_index()
oportunidades = oportunidades.merge(encoding_region, how='inner', on='Region')
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A,Conversion_Moneda,Encoding_Vendedor,Encoding_Territorio,Encoding_Region
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,USD,83865.6,USD,83865.6,Closed Won,Prod_Category_A_None,1.0,2.243392e+06,1.534896e+06,2.257184e+06
1,16805,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_851,...,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None,1.0,2.243392e+06,1.534896e+06,2.257184e+06
2,16802,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_939,...,USD,14838277.5,USD,14838277.5,Closed Lost,Prod_Category_A_None,1.0,2.243392e+06,1.534896e+06,2.257184e+06
3,27455,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8227,...,USD,50688.0,USD,50688.0,Closed Won,Prod_Category_A_None,1.0,2.243392e+06,1.534896e+06,2.257184e+06
4,21527,Americas,NW America,1,Bureaucratic_Code_4,2013-07-27,Source_11,United States,Account_Name_25,Opportunity_Name_1828,...,USD,2814.0,USD,2814.0,Closed Won,Prod_Category_A_None,1.0,2.243392e+06,1.534896e+06,2.257184e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9456,14857,APAC,New Zealand,0,Bureaucratic_Code_5,2017-05-23,Source_7,New Zealand,Account_Name_1857,Opportunity_Name_11725,...,USD,31762.5,USD,147262.5,Closed Won,Prod_Category_A_None,1.0,3.526281e+06,3.498250e+04,5.357113e+05
9457,14862,APAC,New Zealand,0,Bureaucratic_Code_5,2017-05-23,Source_7,New Zealand,Account_Name_1857,Opportunity_Name_11725,...,USD,28875.0,USD,147262.5,Closed Won,Prod_Category_A_None,1.0,3.526281e+06,3.498250e+04,5.357113e+05
9458,14868,APAC,New Zealand,0,Bureaucratic_Code_5,2017-05-23,Source_7,New Zealand,Account_Name_1857,Opportunity_Name_11725,...,USD,28875.0,USD,147262.5,Closed Won,Prod_Category_A_None,1.0,3.526281e+06,3.498250e+04,5.357113e+05
9459,14873,APAC,New Zealand,0,Bureaucratic_Code_5,2017-05-23,Source_7,New Zealand,Account_Name_1857,Opportunity_Name_11725,...,USD,28875.0,USD,147262.5,Closed Won,Prod_Category_A_None,1.0,3.526281e+06,3.498250e+04,5.357113e+05
9460,14879,APAC,New Zealand,0,Bureaucratic_Code_5,2017-05-23,Source_7,New Zealand,Account_Name_1857,Opportunity_Name_11725,...,USD,28875.0,USD,147262.5,Closed Won,Prod_Category_A_None,1.0,3.526281e+06,3.498250e+04,5.357113e+05

In [7]:
#Encoding del tipo de moneda en base al mean del ASP
encoding_moneda = oportunidades.groupby('Total_Amount_Currency').agg({'ASP' : 'mean'})
encoding_moneda.columns = ['Encoding_Moneda']
encoding_moneda = encoding_moneda.reset_index()
oportunidades = oportunidades.merge(encoding_moneda, how='inner', on='Total_Amount_Currency')
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A,Conversion_Moneda,Encoding_Vendedor,Encoding_Territorio,Encoding_Region,Encoding_Moneda
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,8.386560e+04,USD,83865.60,Closed Won,Prod_Category_A_None,1.000000,2.243392e+06,1.534896e+06,2.257184e+06,0.425215
1,16805,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_851,...,1.335719e+07,USD,13357192.50,Closed Lost,Prod_Category_A_None,1.000000,2.243392e+06,1.534896e+06,2.257184e+06,0.425215
2,16802,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_939,...,1.483828e+07,USD,14838277.50,Closed Lost,Prod_Category_A_None,1.000000,2.243392e+06,1.534896e+06,2.257184e+06,0.425215
3,27455,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8227,...,5.068800e+04,USD,50688.00,Closed Won,Prod_Category_A_None,1.000000,2.243392e+06,1.534896e+06,2.257184e+06,0.425215
4,21527,Americas,NW America,1,Bureaucratic_Code_4,2013-07-27,Source_11,United States,Account_Name_25,Opportunity_Name_1828,...,2.814000e+03,USD,2814.00,Closed Won,Prod_Category_A_None,1.000000,2.243392e+06,1.534896e+06,2.257184e+06,0.425215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9456,17555,APAC,Australia,1,Bureaucratic_Code_4,2013-10-03,None,Australia,Account_Name_1440,Opportunity_Name_10149,...,8.321572e+04,AUD,83215.72,Closed Won,Prod_Category_A_None,1.413195,7.184489e+04,9.993439e+05,5.357113e+05,0.547969
9457,18413,APAC,Australia,1,Bureaucratic_Code_4,2013-07-28,None,Australia,Account_Name_1440,Opportunity_Name_10153,...,8.321572e+04,AUD,83215.72,Closed Won,Prod_Category_A_None,1.413195,7.184489e+04,9.993439e+05,5.357113e+05,0.547969
9458,18416,APAC,Australia,1,Bureaucratic_Code_4,2013-07-28,None,Australia,Account_Name_1440,Opportunity_Name_10150,...,8.321572e+04,AUD,83215.72,Closed Won,Prod_Category_A_None,1.413195,7.184489e+04,9.993439e+05,5.357113e+05,0.547969
9459,22188,APAC,Australia,1,Bureaucratic_Code_4,2014-09-19,Source_9,Australia,Account_Name_1642,Opportunity_Name_10445,...,7.382510e+04,USD,0.00,Closed Lost,Prod_Category_A_None,1.413178,7.184489e+04,9.993439e+05,5.357113e+05,0.547969
9460,22184,APAC,Australia,0,Bureaucratic_Code_2,2014-09-19,Source_9,Australia,Account_Name_1642,Opportunity_Name_10446,...,6.582417e+04,USD,0.00,Closed Lost,Prod_Category_A_None,1.413219,7.184489e+04,9.993439e+05,5.357113e+05,0.547969

In [8]:
#Encoding del Bureaucratic_Code en base a Dummies
oportunidades = pd.concat([oportunidades, pd.get_dummies(oportunidades['Bureaucratic_Code'])], axis='columns')
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,Encoding_Territorio,Encoding_Region,Encoding_Moneda,Bureaucratic_Code_0,Bureaucratic_Code_1,Bureaucratic_Code_2,Bureaucratic_Code_3,Bureaucratic_Code_4,Bureaucratic_Code_5,Bureaucratic_Code_6
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,1.534896e+06,2.257184e+06,0.425215,0,0,0,0,1,0,0
1,16805,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_851,...,1.534896e+06,2.257184e+06,0.425215,0,0,0,0,0,1,0
2,16802,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_939,...,1.534896e+06,2.257184e+06,0.425215,0,0,0,0,0,1,0
3,27455,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8227,...,1.534896e+06,2.257184e+06,0.425215,0,0,0,0,1,0,0
4,21527,Americas,NW America,1,Bureaucratic_Code_4,2013-07-27,Source_11,United States,Account_Name_25,Opportunity_Name_1828,...,1.534896e+06,2.257184e+06,0.425215,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9456,17555,APAC,Australia,1,Bureaucratic_Code_4,2013-10-03,None,Australia,Account_Name_1440,Opportunity_Name_10149,...,9.993439e+05,5.357113e+05,0.547969,0,0,0,0,1,0,0
9457,18413,APAC,Australia,1,Bureaucratic_Code_4,2013-07-28,None,Australia,Account_Name_1440,Opportunity_Name_10153,...,9.993439e+05,5.357113e+05,0.547969,0,0,0,0,1,0,0
9458,18416,APAC,Australia,1,Bureaucratic_Code_4,2013-07-28,None,Australia,Account_Name_1440,Opportunity_Name_10150,...,9.993439e+05,5.357113e+05,0.547969,0,0,0,0,1,0,0
9459,22188,APAC,Australia,1,Bureaucratic_Code_4,2014-09-19,Source_9,Australia,Account_Name_1642,Opportunity_Name_10445,...,9.993439e+05,5.357113e+05,0.547969,0,0,0,0,1,0,0
9460,22184,APAC,Australia,0,Bureaucratic_Code_2,2014-09-19,Source_9,Australia,Account_Name_1642,Opportunity_Name_10446,...,9.993439e+05,5.357113e+05,0.547969,0,0,1,0,0,0,0

In [9]:
#Encoding del Billing Country en base a mean de Total_Amount.
encoding_bill_c = oportunidades.groupby('Billing_Country').agg({'Total_Amount' : 'mean'})
encoding_bill_c.columns = ['Encoding_Billing_Country']
encoding_bill_c = encoding_bill_c.reset_index()
oportunidades = oportunidades.merge(encoding_bill_c, how='inner', on='Billing_Country')
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,Encoding_Region,Encoding_Moneda,Bureaucratic_Code_0,Bureaucratic_Code_1,Bureaucratic_Code_2,Bureaucratic_Code_3,Bureaucratic_Code_4,Bureaucratic_Code_5,Bureaucratic_Code_6,Encoding_Billing_Country
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,2.257184e+06,0.425215,0,0,0,0,1,0,0,2.252874e+06
1,16805,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_851,...,2.257184e+06,0.425215,0,0,0,0,0,1,0,2.252874e+06
2,16802,Americas,NW America,0,Bureaucratic_Code_5,2013-07-27,Source_11,United States,Account_Name_1201,Opportunity_Name_939,...,2.257184e+06,0.425215,0,0,0,0,0,1,0,2.252874e+06
3,27455,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8227,...,2.257184e+06,0.425215,0,0,0,0,1,0,0,2.252874e+06
4,21527,Americas,NW America,1,Bureaucratic_Code_4,2013-07-27,Source_11,United States,Account_Name_25,Opportunity_Name_1828,...,2.257184e+06,0.425215,0,0,0,0,1,0,0,2.252874e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9456,6773,EMEA,Malta,1,Bureaucratic_Code_4,2017-07-13,Source_13,Malta,Account_Name_600,Opportunity_Name_9426,...,9.048208e+05,0.378317,0,0,0,0,1,0,0,4.710349e+06
9457,6779,EMEA,Malta,1,Bureaucratic_Code_4,2017-07-13,Source_13,Malta,Account_Name_600,Opportunity_Name_9496,...,9.048208e+05,0.378317,0,0,0,0,1,0,0,4.710349e+06
9458,6790,EMEA,Malta,1,Bureaucratic_Code_4,2017-07-13,Source_13,Malta,Account_Name_600,Opportunity_Name_4195,...,9.048208e+05,0.378317,0,0,0,0,1,0,0,4.710349e+06
9459,6762,EMEA,Malta,1,Bureaucratic_Code_4,2017-07-13,Source_13,Malta,Account_Name_600,Opportunity_Name_4194,...,9.048208e+05,0.378317,0,0,0,0,1,0,0,4.710349e+06
9460,6768,EMEA,Malta,1,Bureaucratic_Code_4,2017-07-13,Source_13,Malta,Account_Name_600,Opportunity_Name_4194,...,9.048208e+05,0.378317,0,0,0,0,1,0,0,4.710349e+06

In [10]:
#Encoding del Product_Family en base a mean de Total_Amount.
encoding_product_family = oportunidades.groupby('Product_Family').agg({'Total_Amount' : 'mean'})
encoding_product_family.columns = ['Encoding_Prod_Family']
encoding_product_family = encoding_product_family.reset_index()
oportunidades = oportunidades.merge(encoding_product_family, how='inner', on='Product_Family')
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,Encoding_Moneda,Bureaucratic_Code_0,Bureaucratic_Code_1,Bureaucratic_Code_2,Bureaucratic_Code_3,Bureaucratic_Code_4,Bureaucratic_Code_5,Bureaucratic_Code_6,Encoding_Billing_Country,Encoding_Prod_Family
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,0.425215,0,0,0,0,1,0,0,2.252874e+06,70064.70055
1,27442,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8543,...,0.425215,0,0,0,0,1,0,0,2.252874e+06,70064.70055
2,15713,EMEA,Germany,1,Bureaucratic_Code_4,2013-07-27,None,Germany,Account_Name_1994,Opportunity_Name_12186,...,0.378317,0,0,0,0,1,0,0,9.609105e+05,70064.70055
3,16744,EMEA,Spain,1,Bureaucratic_Code_4,2013-07-27,Source_11,Spain,Account_Name_59,Opportunity_Name_9433,...,0.378317,0,0,0,0,1,0,0,1.303462e+06,70064.70055
4,15045,APAC,India,0,Bureaucratic_Code_5,2017-05-24,Source_7,India,Account_Name_1983,Opportunity_Name_12179,...,0.425215,0,0,0,0,0,1,0,9.806871e+05,70064.70055
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9456,9753,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_3358,...,0.425215,0,0,0,0,1,0,0,1.091437e+05,2197.25000
9457,9992,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2744,...,0.425215,0,0,0,0,1,0,0,1.091437e+05,369.60000
9458,9859,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_3360,...,0.425215,0,0,0,0,1,0,0,1.091437e+05,2274.30000
9459,9163,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2741,...,0.425215,0,0,0,0,1,0,0,1.091437e+05,3456.00000
9460,9136,APAC,China (PRC),0,Bureaucratic_Code_2,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2740,...,0.425215,0,0,1,0,0,0,0,1.091437e+05,35708.75000

In [11]:
#Encoding con Dummies de Account_Type

oportunidades = pd.concat([oportunidades, pd.get_dummies(oportunidades['Account_Type'])],axis='columns')
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,Bureaucratic_Code_6,Encoding_Billing_Country,Encoding_Prod_Family,Account_Type_0,Account_Type_1,Account_Type_2,Account_Type_4,Account_Type_5,Account_Type_6,None
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,0,2.252874e+06,70064.70055,0,0,0,0,1,0,0
1,27442,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8543,...,0,2.252874e+06,70064.70055,0,0,0,0,1,0,0
2,15713,EMEA,Germany,1,Bureaucratic_Code_4,2013-07-27,None,Germany,Account_Name_1994,Opportunity_Name_12186,...,0,9.609105e+05,70064.70055,1,0,0,0,0,0,0
3,16744,EMEA,Spain,1,Bureaucratic_Code_4,2013-07-27,Source_11,Spain,Account_Name_59,Opportunity_Name_9433,...,0,1.303462e+06,70064.70055,1,0,0,0,0,0,0
4,15045,APAC,India,0,Bureaucratic_Code_5,2017-05-24,Source_7,India,Account_Name_1983,Opportunity_Name_12179,...,0,9.806871e+05,70064.70055,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9456,9753,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_3358,...,0,1.091437e+05,2197.25000,1,0,0,0,0,0,0
9457,9992,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2744,...,0,1.091437e+05,369.60000,1,0,0,0,0,0,0
9458,9859,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_3360,...,0,1.091437e+05,2274.30000,1,0,0,0,0,0,0
9459,9163,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2741,...,0,1.091437e+05,3456.00000,1,0,0,0,0,0,0
9460,9136,APAC,China (PRC),0,Bureaucratic_Code_2,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2740,...,0,1.091437e+05,35708.75000,1,0,0,0,0,0,0

In [12]:
#Encoding de Delivery Terms en base a Dummies
oportunidades = pd.concat([oportunidades,pd.get_dummies(oportunidades['Delivery_Terms'])],axis='columns')
oportunidades

,ID,Region,Territory,Es_Oportunidad_Posible,Bureaucratic_Code,Account_Created_Date,Source,Billing_Country,Account_Name,Opportunity_Name,...,None,Delivery_Terms_0,Delivery_Terms_1,Delivery_Terms_2,Delivery_Terms_3,Delivery_Terms_4,Delivery_Terms_5,Delivery_Terms_6,Delivery_Terms_7,Delivery_Terms_8
0,27446,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_469,...,0,0,0,0,0,1,0,0,0,0
1,27442,Americas,NW America,1,Bureaucratic_Code_4,2015-04-21,Source_7,United States,Account_Name_1794,Opportunity_Name_8543,...,0,0,0,0,0,1,0,0,0,0
2,15713,EMEA,Germany,1,Bureaucratic_Code_4,2013-07-27,None,Germany,Account_Name_1994,Opportunity_Name_12186,...,0,0,0,1,0,0,0,0,0,0
3,16744,EMEA,Spain,1,Bureaucratic_Code_4,2013-07-27,Source_11,Spain,Account_Name_59,Opportunity_Name_9433,...,0,0,0,1,0,0,0,0,0,0
4,15045,APAC,India,0,Bureaucratic_Code_5,2017-05-24,Source_7,India,Account_Name_1983,Opportunity_Name_12179,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9456,9753,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_3358,...,0,0,0,0,0,0,0,1,0,0
9457,9992,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2744,...,0,0,0,0,0,0,0,1,0,0
9458,9859,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_3360,...,0,0,0,0,0,0,0,1,0,0
9459,9163,APAC,China (PRC),1,Bureaucratic_Code_4,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2741,...,0,0,0,0,0,0,0,1,0,0
9460,9136,APAC,China (PRC),0,Bureaucratic_Code_2,2016-01-29,None,China,Account_Name_931,Opportunity_Name_2740,...,0,0,0,0,0,0,0,1,0,0

In [13]:
#Obtenemos el año de creación de la oportunidad como columna.
oportunidades['Opportunity_Created_Year'] = oportunidades['Opportunity_Created_Date'].dt.year
oportunidades['Opportunity_Created_Month'] = oportunidades['Opportunity_Created_Date'].dt.month
oportunidades['Opportunity_Created_Month'] = oportunidades['Opportunity_Created_Month'].replace({1:'01',2:'02',3:'03',4:'04',5:'05',6:'06',7:'07',8:'08',9:'09'})
oportunidades['Año_Por_Mes'] = (oportunidades['Opportunity_Created_Year'].astype(str) + \
    oportunidades['Opportunity_Created_Month'].astype(str)).astype(int)
oportunidades['Año_Por_Mes']

0       201512
1       201604
2       201712
3       201801
4       201706
         ...
9456    201712
9457    201803
9458    201804
9459    201806
9460    201806
Name: Año_Por_Mes, Length: 9461, dtype: int32

In [14]:
#Una vez que tenemos el dataset limpio como en el TP1, iniciamos con el uso de XGBoost como algoritmo de ML.

y_train = oportunidades['Stage']
oportunidades = oportunidades.loc[(oportunidades['Stage'] == 'Closed Won') | (oportunidades['Stage'] == 'Closed Lost')]
oportunidades['Stage'] = oportunidades['Stage'].replace({'Closed Won': 1, 'Closed Lost': 0})
std_deviation_amounts = oportunidades.groupby('Opportunity_ID').agg({'Total_Amount':'std', 'Total_Taxable_Amount':'std',\
                                                                    'TRF':'std'})
std_deviation_amounts.columns = ['Total_Amount_Std','Total_Tax_Amount_Std', 'TRF_Std']
std_deviation_amounts = std_deviation_amounts.reset_index()

#Solo usamos Bureau_Code_ 0,1,2,4,5 porque son los que tiene el set de test.
x_train = oportunidades.groupby('Opportunity_ID').agg({'Año_Por_Mes' : 'mean',\
                                                      'Encoding_Moneda':'mean', 'Total_Amount': 'sum',\
                                                      'Total_Taxable_Amount':'mean', 'Encoding_Region':'mean',\
                                                      'Encoding_Territorio':'mean','Encoding_Vendedor':'mean',\
                                                      'Es_Oportunidad_Posible':'mean','Stage':'max', 'TRF':'mean',
                                                      'Bureaucratic_Code_0':'mean','Bureaucratic_Code_1':'mean',\
                                                      'Bureaucratic_Code_2':'mean','Bureaucratic_Code_4':'mean',
                                                      'Bureaucratic_Code_5':'mean', 'Encoding_Billing_Country':'mean',\
                                                      'Delivery_Terms_0':'mean','Delivery_Terms_1':'mean','Delivery_Terms_2':'mean',\
                                                      'Delivery_Terms_3':'mean','Delivery_Terms_4':'mean','Delivery_Terms_5':'mean',\
                                                      'Delivery_Terms_6':'mean','Delivery_Terms_7':'mean','Delivery_Terms_8':'mean',
                                                      'Encoding_Prod_Family':'mean','Account_Type_0':'mean','Account_Type_1':'mean',\
                                                      'Account_Type_2':'mean','Account_Type_4':'mean', 'Account_Type_5':'mean'})
x_train = x_train.reset_index()
x_train = x_train.merge(std_deviation_amounts, on='Opportunity_ID', how='inner')
x_train = x_train.set_index('Opportunity_ID')
y_train = x_train['Stage']
x_train = x_train.drop('Stage', axis='columns')
x_train['Total_Amount_Std'] = x_train['Total_Amount_Std'].replace({np.nan:0})
x_train['Total_Tax_Amount_Std'] = x_train['Total_Tax_Amount_Std'].replace({np.nan:0})
x_train['Diferencia_Amounts'] = x_train['Total_Amount'] - x_train['Total_Taxable_Amount']
x_train['TRF_Std'] = x_train['TRF_Std'].replace({np.nan:0})

<ipython-input-14-bacb10fbe45c>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oportunidades['Stage'] = oportunidades['Stage'].replace({'Closed Won': 1, 'Closed Lost': 0})

In [15]:
#Division del set de test y train:

division_x_train, division_x_test, division_y_train, division_y_test = train_test_split(x_train, y_train, test_size = 0.3,\
                                                                                       random_state = 123)

In [16]:
#Tuning de Hiper parametros con GridSearchCV

model = GridSearchCV(xgb.XGBRegressor(objective ='binary:logistic', n_estimators = 450, eval_metric = 'logloss'), {
    'min_child_weight': [0.3,1,3],
    'lambda': [0,1,2],
    'learning_rate' : np.arange(0.01, 0.2, 0.01),
    'colsample_bytree' : np.arange(0.5,1,0.15),
    #'alpha' : [0.001,0.01,0.1,1],
    'max_depth' : np.arange(5,10),
    'gamma' : np.arange(0,0.3,0.1),
    'subsample' : np.arange(0.5,1,0.15),
}, cv = 2, return_train_score = False, n_jobs = -1, verbose=10)
#model = xgb.XGBRegressor(objective = 'reg:logistic', n_estimators = 450, alpha = 0.001, colsample_bytree = 0.4,learning_rate = 0.02,
#                         max_depth = 7, subsample = 0.6)
model.fit(division_x_train, division_y_train)

Fitting 2 folds for each of 41040 candidates, totalling 82080 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:    5.3s
[Parallel(n_jobs=-1)]: Done   8 tasks      | elapsed:    5.8s
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:    8.7s
[Parallel(n_jobs=-1)]: Done  26 tasks      | elapsed:   12.1s
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:   15.6s
[Parallel(n_jobs=-1)]: Done  48 tasks      | elapsed:   16.7s
[Parallel(n_jobs=-1)]: Done  61 tasks      | elapsed:   23.7s
[Parallel(n_jobs=-1)]: Done  74 tasks      | elapsed:   29.2s
[Parallel(n_jobs=-1)]: Done  89 tasks      | elapsed:   34.5s
[Parallel(n_jobs=-1)]: Done 104 tasks      | elapsed:   41.3s
[Parallel(n_jobs=-1)]: Done 121 tasks      | elapsed:   47.9s
[Parallel(n_jobs=-1)]: Done 138 tasks      | elapsed:   52.0s
[Parallel(n_jobs=-1)]: Done 157 tasks      | elapsed:   57.5s
[Parallel(n_jobs=-1)]: Done 176 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 197 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done 218 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done 241 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 264 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 289 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done 314 tasks      | elapsed:  1.9min
[Parallel(n_jobs=-1)]: Done 341 tasks      | elapsed:  2.0min
[Parallel(n_jobs=-1)]: Done 368 tasks      | elapsed:  2.1min
[Parallel(n_jobs=-1)]: Done 397 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done 426 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done 457 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done 488 tasks      | elapsed:  2.8min
[Parallel(n_jobs=-1)]: Done 521 tasks      | elapsed:  2.9min
[Parallel(n_jobs=-1)]: Done 554 tasks      | elapsed:  3.2min
[Parallel(n_jobs=-1)]: Done 589 tasks      | elapsed:  3.4min
[Parallel(n_jobs=-1)]: Done 624 tasks      | elapsed:  3.5min
[Parallel(n_jobs=-1)]: Done 661 tasks      | elapsed:  3.7min
[Parallel(n_jobs=-1)]: Done 698 tasks      | elapsed:  4.0min
[Parallel(n_jobs=-1)]: Done 737 tasks      | elapsed:  4.1min
[Parallel(n_jobs=-1)]: Done 776 tasks      | elapsed:  4.3min
[Parallel(n_jobs=-1)]: Done 817 tasks      | elapsed:  4.6min
[Parallel(n_jobs=-1)]: Done 858 tasks      | elapsed:  4.8min
[Parallel(n_jobs=-1)]: Done 901 tasks      | elapsed:  5.0min
[Parallel(n_jobs=-1)]: Done 944 tasks      | elapsed:  5.2min
[Parallel(n_jobs=-1)]: Done 989 tasks      | elapsed:  5.4min
[Parallel(n_jobs=-1)]: Done 1034 tasks      | elapsed:  5.7min
[Parallel(n_jobs=-1)]: Done 1081 tasks      | elapsed:  5.9min
[Parallel(n_jobs=-1)]: Done 1128 tasks      | elapsed:  6.1min
[Parallel(n_jobs=-1)]: Done 1177 tasks      | elapsed:  6.4min
[Parallel(n_jobs=-1)]: Done 1226 tasks      | elapsed:  6.7min
[Parallel(n_jobs=-1)]: Done 1277 tasks      | elapsed:  6.9min
[Parallel(n_jobs=-1)]: Done 1328 tasks      | elapsed:  7.2min
[Parallel(n_jobs=-1)]: Done 1381 tasks      | elapsed:  7.4min
[Parallel(n_jobs=-1)]: Done 1434 tasks      | elapsed:  7.7min
[Parallel(n_jobs=-1)]: Done 1489 tasks      | elapsed:  8.0min
[Parallel(n_jobs=-1)]: Done 1544 tasks      | elapsed:  8.2min
[Parallel(n_jobs=-1)]: Done 1601 tasks      | elapsed:  8.5min
[Parallel(n_jobs=-1)]: Done 1658 tasks      | elapsed:  8.8min
[Parallel(n_jobs=-1)]: Done 1717 tasks      | elapsed:  9.1min
[Parallel(n_jobs=-1)]: Done 1776 tasks      | elapsed:  9.4min
[Parallel(n_jobs=-1)]: Done 1837 tasks      | elapsed:  9.7min
[Parallel(n_jobs=-1)]: Done 1898 tasks      | elapsed: 10.0min
[Parallel(n_jobs=-1)]: Done 1961 tasks      | elapsed: 10.3min
[Parallel(n_jobs=-1)]: Done 2024 tasks      | elapsed: 10.6min
[Parallel(n_jobs=-1)]: Done 2089 tasks      | elapsed: 11.0min
[Parallel(n_jobs=-1)]: Done 2154 tasks      | elapsed: 11.3min
[Parallel(n_jobs=-1)]: Done 2221 tasks      | elapsed: 11.6min
[Parallel(n_jobs=-1)]: Done 2288 tasks      | elapsed: 12.0min
[Parallel(n_jobs=-1)]: Done 2357 tasks      | elapsed: 12.3min
[Parallel(n_jobs=-1)]: Done 2426 tasks      | elapsed: 12.7min
[Parallel(n_jobs=-1)]: Done 2497 tasks      | elapsed: 13.2min
[Parallel(n_jobs=-1)]: Done 2568 tasks      | elapsed: 13.5min
[Parallel(n_jobs=-1)]: Done 2641 tasks      | elapsed: 13.9min
[Parallel(n_jobs=-1)]: Done 2714 tasks      | elapsed: 14.3min
[Parallel(n_jobs=-1)]: Done 2789 tasks      | elapsed: 14.7min
[Parallel(n_jobs=-1)]: Done 2864 tasks      | elapsed: 15.1min
[Parallel(n_jobs=-1)]: Done 2941 tasks      | elapsed: 15.5min
[Parallel(n_jobs=-1)]: Done 3018 tasks      | elapsed: 16.0min
[Parallel(n_jobs=-1)]: Done 3097 tasks      | elapsed: 16.4min
[Parallel(n_jobs=-1)]: Done 3176 tasks      | elapsed: 16.8min
[Parallel(n_jobs=-1)]: Done 3257 tasks      | elapsed: 17.2min
[Parallel(n_jobs=-1)]: Done 3338 tasks      | elapsed: 17.7min
[Parallel(n_jobs=-1)]: Done 3421 tasks      | elapsed: 18.1min
[Parallel(n_jobs=-1)]: Done 3504 tasks      | elapsed: 18.5min
[Parallel(n_jobs=-1)]: Done 3589 tasks      | elapsed: 19.0min
[Parallel(n_jobs=-1)]: Done 3674 tasks      | elapsed: 19.4min
[Parallel(n_jobs=-1)]: Done 3761 tasks      | elapsed: 19.8min
[Parallel(n_jobs=-1)]: Done 3848 tasks      | elapsed: 20.3min
[Parallel(n_jobs=-1)]: Done 3937 tasks      | elapsed: 20.8min
[Parallel(n_jobs=-1)]: Done 4026 tasks      | elapsed: 21.2min
[Parallel(n_jobs=-1)]: Done 4117 tasks      | elapsed: 21.7min
[Parallel(n_jobs=-1)]: Done 4208 tasks      | elapsed: 22.1min
[Parallel(n_jobs=-1)]: Done 4301 tasks      | elapsed: 22.6min
[Parallel(n_jobs=-1)]: Done 4394 tasks      | elapsed: 23.1min
[Parallel(n_jobs=-1)]: Done 4489 tasks      | elapsed: 23.5min
[Parallel(n_jobs=-1)]: Done 4584 tasks      | elapsed: 24.0min
[Parallel(n_jobs=-1)]: Done 4681 tasks      | elapsed: 24.6min
[Parallel(n_jobs=-1)]: Done 4778 tasks      | elapsed: 25.2min
[Parallel(n_jobs=-1)]: Done 4877 tasks      | elapsed: 25.7min
[Parallel(n_jobs=-1)]: Done 4976 tasks      | elapsed: 26.2min
[Parallel(n_jobs=-1)]: Done 5077 tasks      | elapsed: 26.8min
[Parallel(n_jobs=-1)]: Done 5178 tasks      | elapsed: 27.3min
[Parallel(n_jobs=-1)]: Done 5281 tasks      | elapsed: 27.9min
[Parallel(n_jobs=-1)]: Done 5384 tasks      | elapsed: 28.4min
[Parallel(n_jobs=-1)]: Done 5489 tasks      | elapsed: 29.0min
[Parallel(n_jobs=-1)]: Done 5594 tasks      | elapsed: 29.6min
[Parallel(n_jobs=-1)]: Done 5701 tasks      | elapsed: 30.1min
[Parallel(n_jobs=-1)]: Done 5808 tasks      | elapsed: 30.6min
[Parallel(n_jobs=-1)]: Done 5917 tasks      | elapsed: 31.3min
[Parallel(n_jobs=-1)]: Done 6026 tasks      | elapsed: 31.8min
[Parallel(n_jobs=-1)]: Done 6137 tasks      | elapsed: 32.4min
[Parallel(n_jobs=-1)]: Done 6248 tasks      | elapsed: 33.0min
[Parallel(n_jobs=-1)]: Done 6361 tasks      | elapsed: 33.6min
[Parallel(n_jobs=-1)]: Done 6474 tasks      | elapsed: 34.2min
[Parallel(n_jobs=-1)]: Done 6589 tasks      | elapsed: 34.8min
[Parallel(n_jobs=-1)]: Done 6704 tasks      | elapsed: 35.3min
[Parallel(n_jobs=-1)]: Done 6821 tasks      | elapsed: 35.9min
[Parallel(n_jobs=-1)]: Done 6938 tasks      | elapsed: 36.6min
[Parallel(n_jobs=-1)]: Done 7057 tasks      | elapsed: 37.3min
[Parallel(n_jobs=-1)]: Done 7176 tasks      | elapsed: 37.9min
[Parallel(n_jobs=-1)]: Done 7297 tasks      | elapsed: 38.6min
[Parallel(n_jobs=-1)]: Done 7418 tasks      | elapsed: 39.2min
[Parallel(n_jobs=-1)]: Done 7541 tasks      | elapsed: 39.9min
[Parallel(n_jobs=-1)]: Done 7664 tasks      | elapsed: 40.5min
[Parallel(n_jobs=-1)]: Done 7789 tasks      | elapsed: 41.2min
[Parallel(n_jobs=-1)]: Done 7914 tasks      | elapsed: 41.8min
[Parallel(n_jobs=-1)]: Done 8041 tasks      | elapsed: 42.5min
[Parallel(n_jobs=-1)]: Done 8168 tasks      | elapsed: 43.1min
[Parallel(n_jobs=-1)]: Done 8297 tasks      | elapsed: 43.8min
[Parallel(n_jobs=-1)]: Done 8426 tasks      | elapsed: 44.4min
[Parallel(n_jobs=-1)]: Done 8557 tasks      | elapsed: 45.1min
[Parallel(n_jobs=-1)]: Done 8688 tasks      | elapsed: 45.7min
[Parallel(n_jobs=-1)]: Done 8821 tasks      | elapsed: 46.4min
[Parallel(n_jobs=-1)]: Done 8954 tasks      | elapsed: 47.0min
[Parallel(n_jobs=-1)]: Done 9089 tasks      | elapsed: 47.7min
[Parallel(n_jobs=-1)]: Done 9224 tasks      | elapsed: 48.4min

[Parallel(n_jobs=-1)]: Done 9361 tasks      | elapsed: 49.2min
[Parallel(n_jobs=-1)]: Done 9498 tasks      | elapsed: 49.9min
[Parallel(n_jobs=-1)]: Done 9637 tasks      | elapsed: 50.6min
[Parallel(n_jobs=-1)]: Done 9776 tasks      | elapsed: 51.3min
[Parallel(n_jobs=-1)]: Done 9917 tasks      | elapsed: 52.1min
[Parallel(n_jobs=-1)]: Done 10058 tasks      | elapsed: 52.9min
[Parallel(n_jobs=-1)]: Done 10201 tasks      | elapsed: 53.6min
[Parallel(n_jobs=-1)]: Done 10344 tasks      | elapsed: 54.3min
[Parallel(n_jobs=-1)]: Done 10489 tasks      | elapsed: 55.1min
[Parallel(n_jobs=-1)]: Done 10634 tasks      | elapsed: 55.9min
[Parallel(n_jobs=-1)]: Done 10781 tasks      | elapsed: 56.6min
[Parallel(n_jobs=-1)]: Done 10928 tasks      | elapsed: 57.4min
[Parallel(n_jobs=-1)]: Done 11077 tasks      | elapsed: 58.1min
[Parallel(n_jobs=-1)]: Done 11226 tasks      | elapsed: 58.9min
[Parallel(n_jobs=-1)]: Done 11377 tasks      | elapsed: 59.7min
[Parallel(n_jobs=-1)]: Done 11528 tasks      | elapsed: 60.5min
[Parallel(n_jobs=-1)]: Done 11681 tasks      | elapsed: 61.3min
[Parallel(n_jobs=-1)]: Done 11834 tasks      | elapsed: 62.1min
[Parallel(n_jobs=-1)]: Done 11989 tasks      | elapsed: 63.0min
[Parallel(n_jobs=-1)]: Done 12144 tasks      | elapsed: 63.8min
[Parallel(n_jobs=-1)]: Done 12301 tasks      | elapsed: 64.6min
[Parallel(n_jobs=-1)]: Done 12458 tasks      | elapsed: 65.5min
[Parallel(n_jobs=-1)]: Done 12617 tasks      | elapsed: 66.3min
[Parallel(n_jobs=-1)]: Done 12776 tasks      | elapsed: 67.1min
[Parallel(n_jobs=-1)]: Done 12937 tasks      | elapsed: 68.0min
[Parallel(n_jobs=-1)]: Done 13098 tasks      | elapsed: 68.8min
[Parallel(n_jobs=-1)]: Done 13261 tasks      | elapsed: 69.7min
[Parallel(n_jobs=-1)]: Done 13424 tasks      | elapsed: 70.5min
[Parallel(n_jobs=-1)]: Done 13589 tasks      | elapsed: 71.3min
[Parallel(n_jobs=-1)]: Done 13754 tasks      | elapsed: 72.2min
[Parallel(n_jobs=-1)]: Done 13921 tasks      | elapsed: 73.2min
[Parallel(n_jobs=-1)]: Done 14088 tasks      | elapsed: 74.0min
[Parallel(n_jobs=-1)]: Done 14257 tasks      | elapsed: 75.0min
[Parallel(n_jobs=-1)]: Done 14426 tasks      | elapsed: 75.9min
[Parallel(n_jobs=-1)]: Done 14597 tasks      | elapsed: 76.8min
[Parallel(n_jobs=-1)]: Done 14768 tasks      | elapsed: 77.6min
[Parallel(n_jobs=-1)]: Done 14941 tasks      | elapsed: 78.5min
[Parallel(n_jobs=-1)]: Done 15114 tasks      | elapsed: 79.4min
[Parallel(n_jobs=-1)]: Done 15289 tasks      | elapsed: 80.3min
[Parallel(n_jobs=-1)]: Done 15464 tasks      | elapsed: 81.2min
[Parallel(n_jobs=-1)]: Done 15641 tasks      | elapsed: 82.0min
[Parallel(n_jobs=-1)]: Done 15818 tasks      | elapsed: 82.9min
[Parallel(n_jobs=-1)]: Done 15997 tasks      | elapsed: 83.8min
[Parallel(n_jobs=-1)]: Done 16176 tasks      | elapsed: 84.8min
[Parallel(n_jobs=-1)]: Done 16357 tasks      | elapsed: 85.8min
[Parallel(n_jobs=-1)]: Done 16538 tasks      | elapsed: 86.8min
[Parallel(n_jobs=-1)]: Done 16721 tasks      | elapsed: 87.7min
[Parallel(n_jobs=-1)]: Done 16904 tasks      | elapsed: 88.7min
[Parallel(n_jobs=-1)]: Done 17089 tasks      | elapsed: 89.7min
[Parallel(n_jobs=-1)]: Done 17274 tasks      | elapsed: 90.7min
[Parallel(n_jobs=-1)]: Done 17461 tasks      | elapsed: 91.6min
[Parallel(n_jobs=-1)]: Done 17648 tasks      | elapsed: 92.6min
[Parallel(n_jobs=-1)]: Done 17837 tasks      | elapsed: 93.6min
[Parallel(n_jobs=-1)]: Done 18026 tasks      | elapsed: 94.5min
[Parallel(n_jobs=-1)]: Done 18217 tasks      | elapsed: 95.5min
[Parallel(n_jobs=-1)]: Done 18408 tasks      | elapsed: 96.5min
[Parallel(n_jobs=-1)]: Done 18601 tasks      | elapsed: 97.6min
[Parallel(n_jobs=-1)]: Done 18794 tasks      | elapsed: 98.6min
[Parallel(n_jobs=-1)]: Done 18989 tasks      | elapsed: 99.7min
[Parallel(n_jobs=-1)]: Done 19184 tasks      | elapsed: 100.7min
[Parallel(n_jobs=-1)]: Done 19381 tasks      | elapsed: 101.8min
[Parallel(n_jobs=-1)]: Done 19578 tasks      | elapsed: 102.8min
[Parallel(n_jobs=-1)]: Done 19777 tasks      | elapsed: 103.9min
[Parallel(n_jobs=-1)]: Done 19976 tasks      | elapsed: 104.8min
[Parallel(n_jobs=-1)]: Done 20177 tasks      | elapsed: 105.9min
[Parallel(n_jobs=-1)]: Done 20378 tasks      | elapsed: 107.0min
[Parallel(n_jobs=-1)]: Done 20581 tasks      | elapsed: 108.0min
[Parallel(n_jobs=-1)]: Done 20784 tasks      | elapsed: 109.3min
[Parallel(n_jobs=-1)]: Done 20989 tasks      | elapsed: 110.7min
[Parallel(n_jobs=-1)]: Done 21194 tasks      | elapsed: 111.8min
[Parallel(n_jobs=-1)]: Done 21401 tasks      | elapsed: 113.0min
[Parallel(n_jobs=-1)]: Done 21608 tasks      | elapsed: 114.2min
[Parallel(n_jobs=-1)]: Done 21817 tasks      | elapsed: 115.5min
[Parallel(n_jobs=-1)]: Done 22026 tasks      | elapsed: 116.6min
[Parallel(n_jobs=-1)]: Done 22237 tasks      | elapsed: 117.8min
[Parallel(n_jobs=-1)]: Done 22448 tasks      | elapsed: 119.0min
[Parallel(n_jobs=-1)]: Done 22661 tasks      | elapsed: 120.1min
[Parallel(n_jobs=-1)]: Done 22874 tasks      | elapsed: 121.3min
[Parallel(n_jobs=-1)]: Done 23089 tasks      | elapsed: 122.7min
[Parallel(n_jobs=-1)]: Done 23304 tasks      | elapsed: 123.9min
[Parallel(n_jobs=-1)]: Done 23521 tasks      | elapsed: 125.3min
[Parallel(n_jobs=-1)]: Done 23738 tasks      | elapsed: 126.6min
[Parallel(n_jobs=-1)]: Done 23957 tasks      | elapsed: 127.9min
[Parallel(n_jobs=-1)]: Done 24176 tasks      | elapsed: 129.1min
[Parallel(n_jobs=-1)]: Done 24397 tasks      | elapsed: 130.4min
[Parallel(n_jobs=-1)]: Done 24618 tasks      | elapsed: 131.7min
[Parallel(n_jobs=-1)]: Done 24841 tasks      | elapsed: 133.0min
[Parallel(n_jobs=-1)]: Done 25064 tasks      | elapsed: 134.2min
[Parallel(n_jobs=-1)]: Done 25289 tasks      | elapsed: 135.6min
[Parallel(n_jobs=-1)]: Done 25514 tasks      | elapsed: 137.0min
[Parallel(n_jobs=-1)]: Done 25741 tasks      | elapsed: 138.3min
[Parallel(n_jobs=-1)]: Done 25968 tasks      | elapsed: 139.7min
[Parallel(n_jobs=-1)]: Done 26197 tasks      | elapsed: 141.1min
[Parallel(n_jobs=-1)]: Done 26426 tasks      | elapsed: 142.4min
[Parallel(n_jobs=-1)]: Done 26657 tasks      | elapsed: 143.8min
[Parallel(n_jobs=-1)]: Done 26888 tasks      | elapsed: 145.1min
[Parallel(n_jobs=-1)]: Done 27121 tasks      | elapsed: 146.5min
[Parallel(n_jobs=-1)]: Done 27354 tasks      | elapsed: 147.8min
[Parallel(n_jobs=-1)]: Done 27589 tasks      | elapsed: 149.4min
[Parallel(n_jobs=-1)]: Done 27824 tasks      | elapsed: 150.8min
[Parallel(n_jobs=-1)]: Done 28061 tasks      | elapsed: 152.2min
[Parallel(n_jobs=-1)]: Done 28298 tasks      | elapsed: 153.6min
[Parallel(n_jobs=-1)]: Done 28537 tasks      | elapsed: 155.0min
[Parallel(n_jobs=-1)]: Done 28776 tasks      | elapsed: 156.3min
[Parallel(n_jobs=-1)]: Done 29017 tasks      | elapsed: 157.7min
[Parallel(n_jobs=-1)]: Done 29258 tasks      | elapsed: 159.0min
[Parallel(n_jobs=-1)]: Done 29501 tasks      | elapsed: 160.3min
[Parallel(n_jobs=-1)]: Done 29744 tasks      | elapsed: 161.7min
[Parallel(n_jobs=-1)]: Done 29989 tasks      | elapsed: 163.3min
[Parallel(n_jobs=-1)]: Done 30234 tasks      | elapsed: 164.8min
[Parallel(n_jobs=-1)]: Done 30481 tasks      | elapsed: 166.2min
[Parallel(n_jobs=-1)]: Done 30728 tasks      | elapsed: 167.7min
[Parallel(n_jobs=-1)]: Done 30977 tasks      | elapsed: 169.1min
[Parallel(n_jobs=-1)]: Done 31226 tasks      | elapsed: 170.6min
[Parallel(n_jobs=-1)]: Done 31477 tasks      | elapsed: 172.0min
[Parallel(n_jobs=-1)]: Done 31728 tasks      | elapsed: 173.4min
[Parallel(n_jobs=-1)]: Done 31981 tasks      | elapsed: 174.9min
[Parallel(n_jobs=-1)]: Done 32234 tasks      | elapsed: 176.5min
[Parallel(n_jobs=-1)]: Done 32489 tasks      | elapsed: 178.0min
[Parallel(n_jobs=-1)]: Done 32744 tasks      | elapsed: 179.6min
[Parallel(n_jobs=-1)]: Done 33001 tasks      | elapsed: 181.1min
[Parallel(n_jobs=-1)]: Done 33258 tasks      | elapsed: 182.6min
[Parallel(n_jobs=-1)]: Done 33517 tasks      | elapsed: 184.1min
[Parallel(n_jobs=-1)]: Done 33776 tasks      | elapsed: 185.6min
[Parallel(n_jobs=-1)]: Done 34037 tasks      | elapsed: 187.1min
[Parallel(n_jobs=-1)]: Done 34298 tasks      | elapsed: 188.8min
[Parallel(n_jobs=-1)]: Done 34561 tasks      | elapsed: 190.4min
[Parallel(n_jobs=-1)]: Done 34824 tasks      | elapsed: 191.9min

[Parallel(n_jobs=-1)]: Done 35089 tasks      | elapsed: 193.5min
[Parallel(n_jobs=-1)]: Done 35354 tasks      | elapsed: 195.0min
[Parallel(n_jobs=-1)]: Done 35621 tasks      | elapsed: 196.6min
[Parallel(n_jobs=-1)]: Done 35888 tasks      | elapsed: 198.0min
[Parallel(n_jobs=-1)]: Done 36157 tasks      | elapsed: 199.5min
[Parallel(n_jobs=-1)]: Done 36426 tasks      | elapsed: 201.0min
[Parallel(n_jobs=-1)]: Done 36697 tasks      | elapsed: 202.7min
[Parallel(n_jobs=-1)]: Done 36968 tasks      | elapsed: 204.3min
[Parallel(n_jobs=-1)]: Done 37241 tasks      | elapsed: 206.0min
[Parallel(n_jobs=-1)]: Done 37514 tasks      | elapsed: 207.6min
[Parallel(n_jobs=-1)]: Done 37789 tasks      | elapsed: 209.3min
[Parallel(n_jobs=-1)]: Done 38064 tasks      | elapsed: 210.8min
[Parallel(n_jobs=-1)]: Done 38341 tasks      | elapsed: 212.4min
[Parallel(n_jobs=-1)]: Done 38618 tasks      | elapsed: 214.0min
[Parallel(n_jobs=-1)]: Done 38897 tasks      | elapsed: 215.6min
[Parallel(n_jobs=-1)]: Done 39176 tasks      | elapsed: 217.3min
[Parallel(n_jobs=-1)]: Done 39457 tasks      | elapsed: 219.1min
[Parallel(n_jobs=-1)]: Done 39738 tasks      | elapsed: 220.7min
[Parallel(n_jobs=-1)]: Done 40021 tasks      | elapsed: 222.4min
[Parallel(n_jobs=-1)]: Done 40304 tasks      | elapsed: 224.1min
[Parallel(n_jobs=-1)]: Done 40589 tasks      | elapsed: 225.8min
[Parallel(n_jobs=-1)]: Done 40874 tasks      | elapsed: 227.4min
[Parallel(n_jobs=-1)]: Done 41161 tasks      | elapsed: 229.3min
[Parallel(n_jobs=-1)]: Done 41448 tasks      | elapsed: 231.2min
[Parallel(n_jobs=-1)]: Done 41737 tasks      | elapsed: 233.2min
[Parallel(n_jobs=-1)]: Done 42026 tasks      | elapsed: 235.0min
[Parallel(n_jobs=-1)]: Done 42317 tasks      | elapsed: 236.8min
[Parallel(n_jobs=-1)]: Done 42608 tasks      | elapsed: 238.7min
[Parallel(n_jobs=-1)]: Done 42901 tasks      | elapsed: 240.5min
[Parallel(n_jobs=-1)]: Done 43194 tasks      | elapsed: 242.3min
[Parallel(n_jobs=-1)]: Done 43489 tasks      | elapsed: 244.2min
[Parallel(n_jobs=-1)]: Done 43784 tasks      | elapsed: 246.2min
[Parallel(n_jobs=-1)]: Done 44081 tasks      | elapsed: 248.2min
[Parallel(n_jobs=-1)]: Done 44378 tasks      | elapsed: 250.2min
[Parallel(n_jobs=-1)]: Done 44677 tasks      | elapsed: 252.1min
[Parallel(n_jobs=-1)]: Done 44976 tasks      | elapsed: 254.0min
[Parallel(n_jobs=-1)]: Done 45277 tasks      | elapsed: 255.9min
[Parallel(n_jobs=-1)]: Done 45578 tasks      | elapsed: 257.9min
[Parallel(n_jobs=-1)]: Done 45881 tasks      | elapsed: 259.9min
[Parallel(n_jobs=-1)]: Done 46184 tasks      | elapsed: 262.0min
[Parallel(n_jobs=-1)]: Done 46489 tasks      | elapsed: 264.1min
[Parallel(n_jobs=-1)]: Done 46794 tasks      | elapsed: 266.1min
[Parallel(n_jobs=-1)]: Done 47101 tasks      | elapsed: 268.1min
[Parallel(n_jobs=-1)]: Done 47408 tasks      | elapsed: 270.1min
[Parallel(n_jobs=-1)]: Done 47717 tasks      | elapsed: 272.0min
[Parallel(n_jobs=-1)]: Done 48026 tasks      | elapsed: 274.1min
[Parallel(n_jobs=-1)]: Done 48337 tasks      | elapsed: 276.3min
[Parallel(n_jobs=-1)]: Done 48648 tasks      | elapsed: 278.3min
[Parallel(n_jobs=-1)]: Done 48961 tasks      | elapsed: 280.4min
[Parallel(n_jobs=-1)]: Done 49274 tasks      | elapsed: 282.3min
[Parallel(n_jobs=-1)]: Done 49589 tasks      | elapsed: 284.3min
[Parallel(n_jobs=-1)]: Done 49904 tasks      | elapsed: 286.2min
[Parallel(n_jobs=-1)]: Done 50221 tasks      | elapsed: 288.2min
[Parallel(n_jobs=-1)]: Done 50538 tasks      | elapsed: 290.4min
[Parallel(n_jobs=-1)]: Done 50857 tasks      | elapsed: 292.6min
[Parallel(n_jobs=-1)]: Done 51176 tasks      | elapsed: 294.6min
[Parallel(n_jobs=-1)]: Done 51497 tasks      | elapsed: 296.7min
[Parallel(n_jobs=-1)]: Done 51818 tasks      | elapsed: 298.8min
[Parallel(n_jobs=-1)]: Done 52141 tasks      | elapsed: 300.8min
[Parallel(n_jobs=-1)]: Done 52464 tasks      | elapsed: 302.8min
[Parallel(n_jobs=-1)]: Done 52789 tasks      | elapsed: 305.2min
[Parallel(n_jobs=-1)]: Done 53114 tasks      | elapsed: 307.3min
[Parallel(n_jobs=-1)]: Done 53441 tasks      | elapsed: 309.5min
[Parallel(n_jobs=-1)]: Done 53768 tasks      | elapsed: 311.7min
[Parallel(n_jobs=-1)]: Done 54097 tasks      | elapsed: 313.8min
[Parallel(n_jobs=-1)]: Done 54426 tasks      | elapsed: 315.9min
[Parallel(n_jobs=-1)]: Done 54757 tasks      | elapsed: 318.0min
[Parallel(n_jobs=-1)]: Done 55088 tasks      | elapsed: 320.4min
[Parallel(n_jobs=-1)]: Done 55421 tasks      | elapsed: 322.6min
[Parallel(n_jobs=-1)]: Done 55754 tasks      | elapsed: 324.7min
[Parallel(n_jobs=-1)]: Done 56089 tasks      | elapsed: 326.9min
[Parallel(n_jobs=-1)]: Done 56424 tasks      | elapsed: 328.9min
[Parallel(n_jobs=-1)]: Done 56761 tasks      | elapsed: 331.0min
[Parallel(n_jobs=-1)]: Done 57098 tasks      | elapsed: 333.2min
[Parallel(n_jobs=-1)]: Done 57437 tasks      | elapsed: 335.4min
[Parallel(n_jobs=-1)]: Done 57776 tasks      | elapsed: 337.7min
[Parallel(n_jobs=-1)]: Done 58117 tasks      | elapsed: 340.0min
[Parallel(n_jobs=-1)]: Done 58458 tasks      | elapsed: 342.2min
[Parallel(n_jobs=-1)]: Done 58801 tasks      | elapsed: 344.4min
[Parallel(n_jobs=-1)]: Done 59144 tasks      | elapsed: 346.6min
[Parallel(n_jobs=-1)]: Done 59489 tasks      | elapsed: 348.9min
[Parallel(n_jobs=-1)]: Done 59834 tasks      | elapsed: 351.2min
[Parallel(n_jobs=-1)]: Done 60181 tasks      | elapsed: 353.6min
[Parallel(n_jobs=-1)]: Done 60528 tasks      | elapsed: 355.8min
[Parallel(n_jobs=-1)]: Done 60877 tasks      | elapsed: 358.1min
[Parallel(n_jobs=-1)]: Done 61226 tasks      | elapsed: 360.4min
[Parallel(n_jobs=-1)]: Done 61577 tasks      | elapsed: 362.7min
[Parallel(n_jobs=-1)]: Done 61928 tasks      | elapsed: 365.4min
[Parallel(n_jobs=-1)]: Done 62281 tasks      | elapsed: 368.0min
[Parallel(n_jobs=-1)]: Done 62634 tasks      | elapsed: 370.5min
[Parallel(n_jobs=-1)]: Done 62989 tasks      | elapsed: 373.0min
[Parallel(n_jobs=-1)]: Done 63344 tasks      | elapsed: 375.3min
[Parallel(n_jobs=-1)]: Done 63701 tasks      | elapsed: 377.7min
[Parallel(n_jobs=-1)]: Done 64058 tasks      | elapsed: 380.3min
[Parallel(n_jobs=-1)]: Done 64417 tasks      | elapsed: 383.0min
[Parallel(n_jobs=-1)]: Done 64776 tasks      | elapsed: 385.5min
[Parallel(n_jobs=-1)]: Done 65137 tasks      | elapsed: 388.2min
[Parallel(n_jobs=-1)]: Done 65498 tasks      | elapsed: 390.8min
[Parallel(n_jobs=-1)]: Done 65861 tasks      | elapsed: 393.3min
[Parallel(n_jobs=-1)]: Done 66224 tasks      | elapsed: 395.8min
[Parallel(n_jobs=-1)]: Done 66589 tasks      | elapsed: 398.7min
[Parallel(n_jobs=-1)]: Done 66954 tasks      | elapsed: 401.3min
[Parallel(n_jobs=-1)]: Done 67321 tasks      | elapsed: 404.0min
[Parallel(n_jobs=-1)]: Done 67688 tasks      | elapsed: 406.6min
[Parallel(n_jobs=-1)]: Done 68057 tasks      | elapsed: 409.2min
[Parallel(n_jobs=-1)]: Done 68426 tasks      | elapsed: 411.8min
[Parallel(n_jobs=-1)]: Done 68797 tasks      | elapsed: 414.7min
[Parallel(n_jobs=-1)]: Done 69168 tasks      | elapsed: 417.3min
[Parallel(n_jobs=-1)]: Done 69541 tasks      | elapsed: 420.0min
[Parallel(n_jobs=-1)]: Done 69914 tasks      | elapsed: 422.6min
[Parallel(n_jobs=-1)]: Done 70289 tasks      | elapsed: 425.1min
[Parallel(n_jobs=-1)]: Done 70664 tasks      | elapsed: 427.6min
[Parallel(n_jobs=-1)]: Done 71041 tasks      | elapsed: 430.5min
[Parallel(n_jobs=-1)]: Done 71418 tasks      | elapsed: 433.2min
[Parallel(n_jobs=-1)]: Done 71797 tasks      | elapsed: 435.9min
[Parallel(n_jobs=-1)]: Done 72176 tasks      | elapsed: 438.6min
[Parallel(n_jobs=-1)]: Done 72557 tasks      | elapsed: 441.3min
[Parallel(n_jobs=-1)]: Done 72938 tasks      | elapsed: 444.0min
[Parallel(n_jobs=-1)]: Done 73321 tasks      | elapsed: 446.9min
[Parallel(n_jobs=-1)]: Done 73704 tasks      | elapsed: 449.6min
[Parallel(n_jobs=-1)]: Done 74089 tasks      | elapsed: 452.5min
[Parallel(n_jobs=-1)]: Done 74474 tasks      | elapsed: 455.3min
[Parallel(n_jobs=-1)]: Done 74861 tasks      | elapsed: 458.0min
[Parallel(n_jobs=-1)]: Done 75248 tasks      | elapsed: 460.7min
[Parallel(n_jobs=-1)]: Done 75637 tasks      | elapsed: 463.7min
[Parallel(n_jobs=-1)]: Done 76026 tasks      | elapsed: 466.5min
[Parallel(n_jobs=-1)]: Done 76417 tasks      | elapsed: 469.4min

[Parallel(n_jobs=-1)]: Done 76808 tasks      | elapsed: 472.0min
[Parallel(n_jobs=-1)]: Done 77201 tasks      | elapsed: 474.6min
[Parallel(n_jobs=-1)]: Done 77594 tasks      | elapsed: 477.4min
[Parallel(n_jobs=-1)]: Done 77989 tasks      | elapsed: 480.4min
[Parallel(n_jobs=-1)]: Done 78384 tasks      | elapsed: 483.2min
[Parallel(n_jobs=-1)]: Done 78781 tasks      | elapsed: 486.1min
[Parallel(n_jobs=-1)]: Done 79178 tasks      | elapsed: 489.0min
[Parallel(n_jobs=-1)]: Done 79577 tasks      | elapsed: 491.7min
[Parallel(n_jobs=-1)]: Done 79976 tasks      | elapsed: 494.6min
[Parallel(n_jobs=-1)]: Done 80377 tasks      | elapsed: 497.6min
[Parallel(n_jobs=-1)]: Done 80778 tasks      | elapsed: 500.6min
[Parallel(n_jobs=-1)]: Done 81181 tasks      | elapsed: 503.5min
[Parallel(n_jobs=-1)]: Done 81584 tasks      | elapsed: 506.4min
[Parallel(n_jobs=-1)]: Done 81989 tasks      | elapsed: 509.2min
[Parallel(n_jobs=-1)]: Done 82080 out of 82080 | elapsed: 509.9min finished

GridSearchCV(cv=2,
             estimator=XGBRegressor(base_score=None, booster=None,
                                    colsample_bylevel=None,
                                    colsample_bynode=None,
                                    colsample_bytree=None,
                                    eval_metric='logloss', gamma=None,
                                    gpu_id=None, importance_type='gain',
                                    interaction_constraints=None,
                                    learning_rate=None, max_delta_step=None,
                                    max_depth=None, min_child_weight=None,
                                    missing=nan, monotone_constraints=None,
                                    n_...
                                    validate_parameters=None, verbosity=None),
             n_jobs=-1,
             param_grid={'colsample_bytree': array([0.5 , 0.65, 0.8 , 0.95]),
                         'gamma': array([0. , 0.1, 0.2]), 'lambda': [0, 1, 2],
                         'learning_rate': array([0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 , 0.11,
       0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19]),
                         'max_depth': array([5, 6, 7, 8, 9]),
                         'min_child_weight': [0.3, 1, 3],
                         'subsample': array([0.5 , 0.65, 0.8 , 0.95])},
             verbose=10)

In [17]:
#Vemos los resultados del CrossValidation

df = pd.DataFrame(model.cv_results_)
df_reducido = df.loc[:,['params','mean_test_score']]
df_reducido.nlargest(5,'mean_test_score')

                                                 params  mean_test_score
1178  {'colsample_bytree': 0.5, 'gamma': 0.0, 'lambd...         0.422664
9204  {'colsample_bytree': 0.5, 'gamma': 0.2, 'lambd...         0.422526
9194  {'colsample_bytree': 0.5, 'gamma': 0.2, 'lambd...         0.422338
9192  {'colsample_bytree': 0.5, 'gamma': 0.2, 'lambd...         0.422308
1214  {'colsample_bytree': 0.5, 'gamma': 0.0, 'lambd...         0.422274

In [18]:
#Luego del CrossValidation entrenamos el algoritmo y vemos su error

predictions = model.predict(division_x_test)
error = np.sqrt(mean_squared_error(division_y_test, predictions))

print ("Error final del algoritmo entrenado con los últimos parametros = " + str(error))

Error final del algoritmo entrenado con los últimos parametros = 0.3678775446547637

In [19]:
#Vemos que parametros son los que mejores resultados dieron para luego aplicarlos en el XGBoost que predice.

model.best_params_

{'colsample_bytree': 0.5,
 'gamma': 0.0,
 'lambda': 1,
 'learning_rate': 0.01,
 'max_depth': 8,
 'min_child_weight': 0.3,
 'subsample': 0.8}

In [20]:
model.best_score_

0.42266392378777135

In [21]:
log_loss(division_y_test, model.predict(division_x_test))

0.41706217038739557

In [22]:
accuracy_score(division_y_test, model.predict(division_x_test).round())

0.8007662835249042